@import "defaults";

.minds-avatar{
  position: relative;
  max-width: 200px;
  margin: 8px;
  overflow: hidden;
  box-sizing: border-box;
  background:#FFF;
  border-radius:3px;

  img{
    max-height: 220px;
    max-width: 100%;
    border-radius: 50%;
    flex-basis: 100%;
  }
  .overlay{
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    
    padding: 38px 8px;
    //display:flex;
    //flex-flow:row nowrap;
    //align-items: center;

    i{
      font-size:30px;
      padding-right:8px;
    }
    span{
      font-weight: 300;
      display: block;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 14px;
      font-family: 'Lato', Helvetica;
    }
  }
  input[type="file"]{
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.minds-dropdown-menu{
  padding: 0;
  width: 150px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  position: absolute;
  z-index: 1000;
  top: 8px;
  right: 8px;
  background-color: #FFF;
  overflow: visible;
  display: block;

  .mdl-menu__item{
    opacity:1;
    text-overflow:ellipsis;
  }

}

.m-video-banner{
  position:relative;
  width: 100%;
  overflow-x: hidden;

  .video{
    height:100%;
    width:100%;
    background: none no-repeat left center #000000;
    background-size: cover;

    video{
      min-height:100%;
      min-width:100%;
      position:absolute;
      bottom:0;
    }
  /*  @media (min-width: 1600px){
      video{
        height: auto;
        width: 100%;
      }
    }
    @media (max-height: 800px){
      height:auto;
      width:100%;
    }*/
  }

  .overlay{
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    display:-webkit-flex;
    display:flex;
    align-items:center;
    -webkit-align-items:center;
    flex-direction: column;
    -webkit-flex-direction:column;
    background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    );
    color:#FFF;

    &.overlay--0.6{
      background-color:rgba(0,0,0,0.6);
    }
  }
}

/**
 * Minds video components
 */
herds-video{
  position: relative;
  display:block;

  video{
    width:100%;
  }
  .minds-video-bar-min{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    bottom: 8px;
    left: 8px;
    width: auto;
    color: #FFF;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 3px;
    font-weight: bold;
  }
  .minds-video-play-icon{
    color: #fff;
    display: block;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    position: absolute;
    cursor: pointer;
    width: 100%;
  }
  .minds-video-bar-full{
    display:none;
    position:absolute;
    background-color: rgba(0,0,0,0.4);
    color:#FFF;
    bottom:0;
    left:0;
    width:100%;
    box-sizing:border-box;
    padding:$minds-padding;
    text-align:center;

    > span, i, a{
      flex: 1;
      &.progress-bar{
          flex: 6;
          position: relative;
          .minds-bar{
            position: absolute;
            left: 0px;
            height: 2px;
            vertical-align: middle;
            border-radius: 2px;
            margin-top: 11px;
            background-color: rgb(255, 255, 255);
            &.total{
              background-color: rgba(255, 255, 255, 0.5);
              width:100%;
            }
          }
      }
      &.progress-stamps{
        font-size: 12px;
        font-weight: 300;
        font-family: 'Lato';
        flex: 2;
      }
      &.m-play-count {
        flex: 2;
        text-align: right;

        minds-media-view & {
          flex: 1;
        }

        > i {
          vertical-align: middle;
          margin-right: 0.15em;
        }

        > span {
          vertical-align: middle;
          font-size: 12px;
          font-weight: 300;
        }
      }
      cursor:pointer;
      text-decoration:none;
    }
  }

  &:hover{
    .minds-video-bar-min{
      display:none;
    }
    .minds-video-bar-full{
      display: flex;
    }
  }
}

/**
 * Carousel
 */
herd-carousel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  overflow: hidden;
  background: #888;
  //z-index:-1;

  minds-banner{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.is-hidden .minds-banner{
      opacity:0;
    }

    &.is-hidden.edit-mode {
      display:none;
    }

    .overlay{
    //  opacity:0;
    }

    .minds-banner{
      height:100%;
      max-height:100%;
      opacity:1;
      transition: opacity .25s ease-in-out;
    }

    .save-bar{
      display:none !important;
    }
  }

  .delete-button{
    position:absolute;
    top:8px;
    right:8px;
    z-index:9999;

    > *{
      font-size:11px;
    }
  }

  .add-button{
    display:block !important;
    position:absolute;
    top:8px;
    right:80px;
    z-index:9999;
    i{
      margin-top:6px;
    }
  }

  > i{
    top: 50%;
    z-index: 999;
    position: absolute;
    color: #FFF;
    font-size: 60px !important;
    cursor: pointer;
    text-shadow: 0 0 3px #888;

    &.right{
      right:0;
    }
  }

  .placeholder{
    background-color:#4690C3;
    opacity:1;
  }
 }


.minds-card-navigation, .minds-settings-nav{

  list-style: none;
  min-height:0;
  width:auto;
  padding:0;
  margin:0;

  li{
   text-align: left;
   padding: 0;
   margin:0;
   cursor: pointer;
   font-size: 14px;
   width: auto;
   border-bottom: 1px solid rgba(0,0,0,.12);

   :hover{
     background-color: #EEE;
     text-decoration: none;
   }

   a{
     display:flex;
     padding:$minds-padding *2;
     text-decoration: none;

     i{
       margin-right:$minds-margin;
     }
   }

 }

}

.m-actions-block{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;

  > * {
    margin-right:$minds-margin;

    i {
      vertical-align: middle;
    }
  }
}
.m-additional-block{
  display:flex;
  font-size:12px;

  > * {
    margin-right:$minds-margin;
    display: flex;
    align-items: center;

    a {
      cursor: pointer;
    }

    i {
      padding:$minds-padding;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      padding: $minds-padding 0;
    }
  }
}

.m-block{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;

  > .m-avatar{
    img{
      border-radius:3px;
      min-width:40px;
    }
  }

  > .m-body{
    flex:1;
    padding:0 $minds-padding;

    h3{
      display:inline-block;
      margin:0;
      font-size:14px;
      line-height: 16px;
      font-weight:bold;
    }
    p{
      margin:0;
      font-size:11px;
    }
  }
}

minds-button-user-dropdown{
  .minds-dropdown-menu{
    top: 50px;
    margin-top: 0;
    position: absolute;
    text-transform: capitalize;
  }
}

.m-error-splash{
  text-align: center;
  text-transform: uppercase;

  h3{
    margin: auto;
    font-weight: 600;
    font-size: 19px;
    margin-top: 20vh;
  }
  span{

  }
}

minds-graph-line{
  display: block;
  margin-bottom: 16px;
}

.graph-labels{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  > .graph-label{
    flex:1;
    text-align:center;
    font-weight:light;

    b{
      display:block;
      font-size: 9px;
      text-transform: uppercase;
    }
  }

}

.minds-avatar-hovercard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  z-index: 999995;
  background: #ffffff;
  width: 330px;
  padding-bottom: $minds-padding;
}

.m-bubble-popup {
  position: fixed;
  z-index: 999995;
  user-select: none;
}

minds-emoji .m-bubble-popup {
  max-width: 180px + ($minds-padding * 2);
  background: #ffffff;
  margin: $minds-padding;
  border-radius: 3px;
  user-select: none;

  .m-emoji-selector-title {
    width: 100%;
    position: relative;
    padding: ($minds-padding / 2) $minds-padding;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    border-bottom: 1px solid #eaeaea;

    .m-emoji-selector-close {
      position: absolute;
      right: $minds-padding;
      top: $minds-padding / 2;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .m-emoji-selector-list {
    width: 100%;
    max-height: 336px;
    overflow-y: auto;
    padding: $minds-padding;
    box-sizing: border-box;
  }

  .m-emoji {
    display: inline-block;
    padding: $minds-padding;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-family: minds_emoji;
    line-height: 24px;
  }
}

minds-tooltip .m-bubble-popup {
  background: #000000;
  color: #ffffff;
  padding: ($minds-padding / 2) $minds-padding;
  margin: $minds-padding 0;
  font-size: 10px;
}

m-translate {
  .m-translate-select {
    cursor: pointer;
    position: relative;
    display: inline-block;

    &:after {
      font-family: 'Material Icons';
      font-size: 14px;
      font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
      content: '\e313';
      line-height: 1em;
      position: absolute;
      top: 50%;
      right: $minds-padding;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  .m-translate-select-control {
    cursor: pointer;
    width: 200px;
    max-width: 100%;
    appearance: none;
    border-radius: 0;
    border: 1px solid #ddd;
    padding: $minds-padding;
    font-size: 12px;
  }
}

.m-translation-wrapper {
  .message {
    font-size: 14px;
    white-space: inherit !important;
    width: calc(100% - #{$minds-padding * 4}) !important;
    margin: 0 ($minds-padding * 2) $minds-padding;
    padding: $minds-padding 0 $minds-padding $minds-padding;
    border-left: 2px solid #ddd;

    minds-card-comment & {
      font-size: inherit !important;
    }
  }
}

.m-ribbon {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99990;

  &.m-ribbon-right {
    right: 0;
    left: auto;

    minds-card-comment & {
      margin: ($minds-padding / 2) $minds-padding 0 0;
      right: 90px; // 3 buttons + spacing
    }
  }
}

.m-ribbon--item {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding: 0 ($minds-padding / 2);
  cursor: pointer;

  .material-icons {
    font-size: 20px;
    line-height: 1;
  }
}

.m-clickable {
  cursor: pointer;
}

.m-custom-icon {
  display: inline-block;
  width: 1.28571429em;
  height: 1em;
  text-align: center;

  &:before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background: none no-repeat center center transparent;
    background-size: contain;
  }

  &.m-custom-icon-minds {
    height: 1.2em;

    &:before {
      background-image: url('<%= APP_CDN %>/assets/gs-icon.png');
    }
  }
}

.m-wallet-pop {
  display: inline-block;
  position: absolute;
  top: 0.5em;
  left: 36px;
  min-width: 20px;
  line-height: 1;
  padding: 7px 2px;
  white-space: nowrap;
  font-size: 10px;
  border-radius: 2em;
  text-align: center;
  pointer-events: none;
}

svg.m-facebook-icon{
  cursor:pointer;
  background-color: #3067a3;
  fill:#FFF;
  margin:auto;
}

.m--spam-notice {
  display: block;
  text-align: center;
  padding: ($minds-padding * 2);
  background: #ffffaa;
  color: #000000;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 300;

  minds-newsfeed-single & {
    margin: 0 0 ($minds-padding / 2) 0;
  }

  m-blog-view & {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10;
  }
}

// Q4 2017 Tab bar

.m-tab-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: $minds-padding * 2;
  color: #4a4a4a;

  .m-tab-bar--tab {
    position: relative;
    color: inherit;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
  }

  .m-tab-bar--more {
    color: rgba(74, 74, 74, 0.58);
    margin-left: 5%;
  }

  .m-tab-bar--active-tab {
    color: #2196f3;
  }
}
