/**
 * Colours
 */
$herd-white: #FFF;
$herd-blue: #49BDAD;
$herd-yellow: #ffff02;
$herd-amber: #FFC108;

/**
 * Padding, Margins and Offset
 */
$minds-padding: 8px;
$minds-margin: 8px;
$minds-top-height: 50px;
$minds-navigation-width: 232px;

$min-mobile: 330px;
$max-mobile: 480px;
$min-tablet: 768px;
$min-desktop: 992px;
$min-huge: 1280px;


@mixin flex-display(){
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@mixin flex-direction($direction){
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flexbox-direction: $direction;
  flex-direction: $direction;
}
@mixin flex-wrap($wrap){
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flexbox-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin flex($flex){
  -webkit-flex: $flex;
  -moz-flex: $flex;
  -ms-flexbox: $flex;
  flex: $flex;
}
