@import 'defaults';
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,900,300italic,700italic|Indie+Flower);

h1, h2, h3, h4 {
  font-family: 'Lato';
}

h1 {
  font-weight: 300;
}

p {
  word-wrap: break-word;
}

minds-app {
  .initial-loading {
    width: 100%;
  }
}

.minds-noshadow {
  box-shadow: 0 0 0 !important;
}

herd-topbar {

  background: $herd-blue;

  .minds-logo {

    height: 64px;
    box-sizing: border-box;
    padding: $minds-padding 0 $minds-padding*2;
    margin-right: 24px;

    img {
      max-width: 100%;
      height: 100%;
      display: block;
    }
  }

  herd-topbar-navigation {
    nav {
      display: flex;
      flex-direction: row;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding-right: $minds-padding;
        position: relative;

        .counter {
          padding: $minds-padding/2;
        }
      }

    }
  }

  .minds-account {
    img {
      height: 42px;
      max-height: 42px;
      border-radius: 50%;
    }
  }

  .m-notifications-toaster {
    position: fixed;
    top: 64px + ($minds-padding / 2);
    right: $minds-padding * 2;
    width: 350px;
    max-width: 100vw;
    max-height: 75vh;

    @media screen and (max-width: $max-mobile) {
      right: 0;
    }

    herd-notification {
      margin-bottom: $minds-padding;
      padding: $minds-padding;

      &:last-child {
        margin-bottom: 0;
      }

      .body {
        font-size: 0.8em;
      }
    }
  }

}

@media screen and (max-width: $max-mobile) {
  herd-topbar {
    .minds-logo {
      display: block;
      position: fixed;
      width: 75px;
      height: 30px;
      left: calc(50vw - 35.5px);
      /* z-index: 1; */
      padding: 0;
      padding-bottom: 2px;
    }
    herd-topbar-navigation {
      nav a:first-of-type {
        //display:none;
      }
      nav a .counter {
        display: none;
      }
    }
    .minds-account img {
      height: 28px;
    }
  }
}

@media screen and (max-width: 320px) {
  herd-topbar herd-topbar-navigation nav {
    display: none;
  }
  herd-topbar minds-search-bar {
    display: none;
  }
}

.minds-login-box {
  padding: $minds-padding * 2;
  margin: auto;
  min-height: 100px;
}

.mdl-tabs__tab {
  color: #FFF;
}

.mdl-tabs__tab.is-active {
  border-bottom: 2px solid $herd-amber;
}

.mdl-textfield__label {
  .material-icons {
    line-height: 0;
    vertical-align: middle;
  }
}

.mdl-card__supporting-text {
  word-wrap: break-word;

  textarea {
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    line-height: 18px;
    resize: none;
  }
}

.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .07), 0 3px 1px -2px rgba(0, 0, 0, .1), 0 1px 5px 0 rgba(0, 0, 0, .07);
}

.mdl-shadow--4dp {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .07), 0 3px 1px -2px rgba(0, 0, 0, .1), 0 1px 5px 0 rgba(0, 0, 0, .07);
}

.coming-soon {
  section {
    height: 300px;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    display: flex;
    padding: 55px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 41px;
  }
}

.minds-spacer {
  height: $minds-padding;
  width: $minds-padding;
}

.minds-spacer-2x {
  height: $minds-padding*2;
  width: $minds-padding*2;
}

.minds-block {
  display: flex;
  flex-direction: row;

  .minds-avatar {
    margin-right: $minds-margin;
  }
  .minds-body {
    flex: 1;
  }
}

.minds-error {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  font-size: 13px;
  border-radius: 3px;
}

.minds-reset-password-title {
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

.minds-reset-password-link {
  padding: 20px 0px;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

.m-isomorphic-link {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

.mdl-color--grey-100 {
  background-color: rgba(248, 248, 248, 1) !important;
}

blockquote {
  quotes: '';
}

blockquote:before {
  content: '\201C';
}

blockquote:after {
  content: '\201D';
}

@import '../src/**/*';
@import 'core/*';

@import 'components/*';
@import 'controllers/*';

@import 'overrides.scss';

@import 'ionicons.scss';

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
