<a [routerLink]="blog.route ? [ '/' + blog.route ] : [ '/blog/view', blog.guid ]"
  class="mdl-card__title minds-blog-thumbnail"
  style="height:180px; margin-bottom:80px; background:#000; background-size:cover;"
  [ngStyle]="{background: '#000 url(' + blog.thumbnail_src + ') center center / cover'}"
  [ngClass]="{ 'm-mature-thumbnail': attachment.shouldBeBlurred(blog) }"
></a>
<span class="m-mature-thumbnail-overlay"
    *ngIf="attachment.shouldBeBlurred(blog)"
><i class="material-icons">explicit</i></span>

<!-- Owner block -->
<div class="mdl-card__supporting-text mdl-color--black mdl-color-text--yellow-a200 m-title-block m-title-block-fixed m-title-block-with-actions" *ngIf="blog.ownerObj && blog.ownerObj.username">

		<a [routerLink]="blog.route ? [ '/' + blog.route ] : [ '/blog/view', blog.guid ]" class="mdl-color-text--yellow-a200">
			<strong>{{ blog.title }}</strong>
		</a>

		<div class="m-inline-owner-block">
			<a [routerLink]="['/', blog.ownerObj.username]" class="mdl-color-text--yellow-black">
				<img src="/icon/{{blog.ownerObj.guid}}/small/{{blog.ownerObj.icontime}}" class="mdl-shadow--2dp"/>
				{{blog.ownerObj.username}}
			</a>
			<span>{{ blog.time_created * 1000 | date:'mediumDate' }}</span>
      	<span *ngIf="blog.ownerObj && blog.owner_guid == session.getLoggedInUser().guid && !blog.published" i18n="@@BLOGS__DRAFT_LABEL">Draft</span>
		</div>

</div>

<div class="mdl-card__supporting-text mdl-color--black m-action-tabs m-action-tabs-fixed">
	<minds-button-thumbs-up [object]="blog"></minds-button-thumbs-up>
	<minds-button-thumbs-down [object]="blog"></minds-button-thumbs-down>
	<minds-button-comment [object]="blog" [routerLink]="blog.route ? [ '/' + blog.route ] : [ '/blog/view', blog.guid ]"></minds-button-comment>
	<minds-button-remind [object]="blog"></minds-button-remind>
	<minds-button-feature [object]="blog" *ngIf="session.isAdmin()"></minds-button-feature>
</div>
