<div class="m-revenue--console">

  <div class="m-revenue--console-hero mdl-color--black mdl-color-text--white">
    <div class="m-revenue--console-overview mdl-grid">

      <div class="m-revenue--console-volume mdl-cell mdl-cell--4-col">
        <i>{{ getCurrencySymbol(currency) }}</i><span *ngIf="ready">{{net | number:'1.2-2'}}</span>
        <div class="m-revenue--console-label">
          <label i18n="@@M__COMMON__EARNINGS">Earnings</label>
          <m-tooltip icon="help" i18n="@@M__COMMON__TOTAL_EARNINGS_30_MINUS_FEES">
            This is your total earnings for the past 30 days, minus any fees.
          </m-tooltip>
        </div>
      </div>

      <div class="m-revenue--console-balance mdl-cell mdl-cell--4-col">
        <i>{{ getCurrencySymbol(currency) }}</i><span *ngIf="ready">{{balance | number:'1.2-2'}}</span>
        <div class="m-revenue--console-label">
          <label i18n="@@M__COMMON__PENDING">Pending</label>
          <m-tooltip icon="help" i18n="@@M__COMMON__EARNINGS_AWAITING_NEGATIVE_REFUND">
            This is your earnings awaiting payout. A negative number indicates a refund or chargeback has occured.
          </m-tooltip>
        </div>
      </div>
      <div class="m-revenue--console-payouts mdl-cell mdl-cell--4-col">
        <i>{{ getCurrencySymbol(currency) }}</i><span *ngIf="ready">{{payouts | number:'1.2-2'}}</span>
        <div class="m-revenue--console-label">
          <label i18n="@@M__COMMON__PAID_OUT">Paid out</label>
          <m-tooltip icon="help" i18n="@@M__COMMON__THIS_SENT_TO_BANK_ACCOUNT">
            This is what has been sent to your bank account
          </m-tooltip>
        </div>
      </div>
    </div>
  </div>

  <div class="m-revenue--console-nav mdl-color--black-700 mdl-color-text--white">
    <div class="m-revenue--console-nav-item" routerLinkActive="mdl-color--black-800" routerLink="points" i18n="@@M__FEATURE__POINTS">Points</div>
    <div class="m-revenue--console-nav-item" routerLinkActive="mdl-color--black-800" routerLink="earnings" i18n="@@M__COMMON__EARNINGS">Earnings</div>
    <div class="m-revenue--console-nav-item" routerLinkActive="mdl-color--black-800" routerLink="payouts" i18n="@@MONETIZATION__REVENUE__CONSOLE__PAYOUTS_NAV">Payouts</div>
    <div class="m-revenue--console-nav-item" routerLinkActive="mdl-color--black-800" routerLink="options" i18n="@@M__COMMON__OPTIONS">Options</div>
  </div>

  <div class="mdl-grid" style="max-width:990px;">

    <div class="mdl-cell mdl-cell--4-col">

      <m-wallet--points-overview></m-wallet--points-overview>

      <ul class="mdl-card minds-card-navigation mdl-shadow--2dp" style="width:100%; margin-top:8px;">

        <li>
          <a class="mdl-color-text--yellow-a200" routerLink="points/purchase" routerLinkActive="selected">
            <i class="material-icons">shopping_cart</i>
            <!-- i18n: @@M__ACTION__BUY_POINTS -->Buy Points<!-- /i18n -->
          </a>
        </li>
        <li>
          <a class="mdl-color-text--yellow-a200" routerLink="/wallet/boost" routerLinkActive="selected">
            <i class="material-icons">trending_up</i>
            <!-- i18n: @@M__FEATURE__BOOST -->Boost<!-- /i18n -->
          </a>
        </li>
        <li>
          <a class="mdl-color-text--yellow-a200 m-wallet--wire-link" routerLink="/wallet/revenue/wire" routerLinkActive="selected">
            <i class="ion-icon ion-flash"></i>
            <!-- i18n: @@M__FEATURE__WIRE -->Wire<!-- /i18n -->
          </a>
        </li>
        <li>
          <a class="mdl-color-text--yellow-a200" routerLink="/plus" routerLinkActive="selected">
            <i class="material-icons">add_circle_outline</i>
            <!-- i18n: @@M__FEATURE__MINDS_PLUS -->Herd Plus<!-- /i18n -->
          </a>
        </li>
        <li>
          <a class="mdl-color-text--yellow-a200"
            routerLink="affiliates"
            routerLinkActive="selected"
            >
            <i class="material-icons">share</i>
            <span i18n="@@M__FEATURE__AFFILIATE_PROGRAM">Affiliate Program</span>
          </a>
        </li>
        <li>
          <a class="mdl-color-text--yellow-a200"
            routerLink="/monetization"
            >
            <i class="material-icons">help</i>
            <span i18n="@@MONETIZATION__REVENUE__CONSOLE__ABOUT_MONETIZATION_NAV">About Monetization</span>
          </a>
        </li>
      </ul>

    </div>

    <div class="mdl-cell mdl-cell--8-col">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
