<minds-card *ngIf="boost.entity"
  [object]="boost.entity"
  [flags]="{ hideTabs: true }"
  hostClass="mdl-card mdl-shadow--2dp mdl-color--white"
></minds-card>

<div class="m-boost-card--manager">
  <!-- Destination, if incoming P2P -->
  <div *ngIf="type == 'p2p' && !isIncoming()"
    class="m-boost-card--manager-item"
  >
    <i class="material-icons">perm_identity</i>
    <a [routerLink]="['/', boost.destination.username]">@{{boost.destination.username}}</a>
  </div>

  <!-- Impressions, if applicable -->
  <div *ngIf="boost.impressions"
    class="m-boost-card--manager-item"
  >
    <i class="material-icons">remove_red_eye</i>
    <!-- i18n: @@M__COMMON__VIEWS_WITH_COUNT -->{{ boost.impressions | number }} views<!-- /i18n -->
  </div>

  <!-- USD bid, if applicable -->
  <div *ngIf="boost.bidType == 'pro' || boost.bidType == 'usd'"
    class="m-boost-card--manager-item"
  >
    <i class="material-icons">attach_money</i>
    <!-- i18n: @@PROMOTE__CONSOLE__CARD__USD_VALUE -->{{ boost.bid / 100 | currency:'USD':true }} USD<!-- /i18n -->
  </div>

  <!-- Points bid, if applicable -->
  <div *ngIf="boost.bidType == 'points'"
    class="m-boost-card--manager-item"
  >
    <i class="material-icons">account_balance</i>
    <!-- i18n: @@M__COMMON__VIEWS_WITH_COUNT -->{{ boost.bid | number }} views<!-- /i18n -->
  </div>

  <!-- TODO: BTC  -->

  <!-- State (non-P2P or incoming P2P) -->
  <div *ngIf="type != 'p2p' || !isIncoming()"
    class="m-boost-card--manager-item"
  >
    <i class="material-icons">hourglass_empty</i>
    {{ boost.state }}
  </div>

  <!-- Facebook crosspost -->
  <div *ngIf="boost.postToFacebook"
    class="m-boost-card--manager-item"
  >
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="m-facebook-icon">
      <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path>
    </svg>
  </div>

  <!-- Boost creation time, if not scheduled -->
  <div *ngIf="!boost.scheduledTs"
    class="m-boost-card--manager-item"
  >
    <i class="material-icons">access_time</i>
    {{ boost.time_created * 1000 | date: 'short' }}
  </div>

  <!-- Actions -->
  <div *ngIf="boost.scheduledTs"
    class="m-boost-card--manager-item"
  >
    <i class="material-icons">access_alarm</i>
    {{ boost.scheduledTs * 1000 | date: 'short' }}
  </div>

  <div *ngIf="canAccept() || canReject() || canRevoke()"
    class="m-boost-card--manager-item m-boost-card--manager-item--buttons"
  >
    <button *ngIf="canRevoke()"
      class="mdl-button mdl-button--raised mdl-color--red-600 mdl-color-text--white"
      (click)="revoke()"
      i18n="@@PROMOTE__CONSOLE__CARD__REVOKE_ACTION"
    >Revoke</button>

    <button *ngIf="canReject()"
      class="mdl-button mdl-button--raised mdl-color--red-600 mdl-color-text--white"
      (click)="reject()"
      i18n="@@M__ACTION__REJECT"
    >Reject</button>

    <button *ngIf="canAccept()"
      class="mdl-button mdl-button--raised mdl-color--green-400 mdl-color-text--white"
      (click)="accept()"
      i18n="@@M__ACTION__ACCEPT"
    >Accept</button>
  </div>
</div>

<div class="m-boost-card--rejection-reason" *ngIf="boost.rejection_reason && boost.rejection_reason != -1">
  <i class="material-icons">warning</i>
  <!--i18n: @@PROMOTE__CONSOLE__CARD__PREVIOUS_REJECTION -->Your boost was rejected: {{ findReason(boost.rejection_reason)?.label }}<!-- /i18n -->
</div>
