<span [hidden]="!opened || !ready" class="m-bar-wrapper">
  <a
    *ngFor="let network of networks"
    class="m-bar-button mdl-color-text--indigo-100"
    [ngClass]="{ 'mdl-color-text--black': state[network] }"
    (click)="toggleState(network)"
  >
    <i class="fa fa-fw" [ngClass]="[ 'fa-' + getNetworkIconClass(network) ]"></i>
  </a>
</span>

<a
  (click)="toggleOpened()"
  class="m-bar-button m-bar-button-expand"
  [ngClass]="{ 'm-bar-button-expanded': opened }"
>
  <m-tooltip>
    <i m-tooltip--anchor [hidden]="inProgress" class="material-icons m-overgrown-material-icon">share</i>
    <!-- i18n: @@M__ACTION__SHARE -->Share<!-- /i18n -->
  </m-tooltip>
  <div *ngIf="inProgress" class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
</a>
