<div class="mdl-card herd-purchase-card" [hidden]="inProgress || confirmation"
  [class.mdl-shadow--2dp]="useMDLStyling"
>



  <div class="mdl-card__supporting-text mdl-grid" [hidden]="inProgress">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdlTextfield]>
        <input class="mdl-textfield__input"
          type="number"
          id="number"
          name="credit-card-number"
          [(ngModel)]="card.number"
          />
        <label class="mdl-textfield__label" for="number" i18n="Credit Card Number@@CHECKOUT__CARD__NUMBER_LABEL">Card number</label>
      </div>
    </div>


    <div class="mdl-cell mdl-cell--6-col herd-purchase-vendors"
      [class.mdl-color-text--yellow-a200]="useMDLStyling"
    >
      <span (click)="card.type = 'amex'"
        [class.m-purchase-card--highlight]="card.type == 'amex'"
        [class.mdl-color-text--green]="useMDLStyling && card.type == 'amex'"
        i18n="@@CHECKOUT__CARD__AMEX_SELECTOR"
      >Amex</span>
      <span (click)="card.type = 'visa'"
        [class.m-purchase-card--highlight]="card.type == 'visa'"
        [class.mdl-color-text--green]="useMDLStyling && card.type == 'visa'"
        i18n="@@CHECKOUT__CARD__VISA_SELECTOR"
      >Visa</span>
      <span (click)="card.type = 'mastercard'"
        [class.m-purchase-card--highlight]="card.type == 'mastercard'"
        [class.mdl-color-text--green]="useMDLStyling && card.type == 'mastercard'"
        i18n="@@CHECKOUT__CARD__MASTERCARD_SELECTOR"
      >MasterCard</span>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
      <select name="credit-card-month" [ngModel]="card.month" (change)="card.month = $event.target.value">
        <option i18n="Month@@CHECKOUT__CARD__MONTH_PLACEHOLDER">mm</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="credit-card-year" [ngModel]="card.year"  (change)="card.year = $event.target.value">
        <option i18n="Year@@CHECKOUT__CARD__YEAR_PLACEHOLDER">yyyy</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
      </select>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
        <input class="mdl-textfield__input"
          type="text"
          id="cvc"
          name="credit-card-cvc"
          [(ngModel)]="card.sec"
          />
        <label class="mdl-textfield__label" for="cvc" i18n="@@CHECKOUT__CARD__CVC_LABEL">CVC/Security Code</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
        <input class="mdl-textfield__input"
          type="text"
          id="firstname"
          name="credit-card-name"
          [(ngModel)]="card.name"
          />
        <label class="mdl-textfield__label" for="firstname" i18n="@@CHECKOUT__CARD__CARDHOLDER_NAME">Card holders name</label>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col m-checkout-confirm">
      <div class="minds-error" [hidden]="!error"
        [class.mdl-color--red.mdl-color-text--white]="useMDLStyling"
      >
        {{error}}
      </div>
      <button
        [class.mdl-button.mdl-button--colored.mdl-button--raised]="useMDLStyling"
        [disabled]="!validate()"
        (click)="confirm()"
        >
        <!-- i18n: @@M__ACTION__CONFIRM -->Confirm<!-- /i18n -->
      </button>

      <div class="m-checkout--secure">
        <i class="material-icons">lock_outline</i>
        <m-tooltip icon="help" i18n="@@CHECKOUT__CARD__CHECKOUT_TOOLTIP">
          Your credit card information is safe, secure and PCI compliant.
        </m-tooltip>
      </div>
    </div>
  </div>

</div>

<div class="mdl-card herd-purchase-card" [hidden]="!confirmation"
  [class.mdl-shadow--2dp]="useMDLStyling"
>
  <div class="mdl-card__supporting-text">
    <h2 i18n="Completed@@M__COMMON__COMPLETE">Complete</h2>
  </div>
</div>
