<ul class="m-channel--badges">
    <li *ngIf="user.plus && badges.indexOf('plus') > -1" routerLink="/plus">
    <i class="material-icons selected">add_circle_outline</i>
    <span i18n="Plus as user status@@COMMON__BADGES__PLUS">Plus</span>
  </li>

  <li *ngIf="(user.verified || session.isAdmin()) && badges.indexOf('verified') > -1" (click)="verify($event)">
    <i class="material-icons mdl-color-text--yellow-a200" [class.selected]="user.verified">verified_user</i>
    <span i18n="Verified as user status@@COMMON__BADGES__VERIFIED">Verified</span>
  </li>

  <li *ngIf="user.founder && badges.indexOf('founder') > -1">
    <i class="material-icons selected">flight_takeoff</i>
    <span i18n="Founder as user status@@COMMON__BADGES__FOUNDER">Founder</span>
  </li>
</ul>
