minds-channel-modules{
  > .mdl-card__title[href] {
    cursor: pointer;
  }
  
  .minds-channel-media-sidebard{
      a {
        position: relative;
        height: 88px;
        display:inline-block;
        width:calc(100% / 3);
        overflow: hidden;

        > .m-thumb-image {
          width: 100%;
          height: 100%;
          display: inline-block;
          background-color:#000;
          background-position: center center;
          background-size:cover;
        }

        > i.material-icons {
          display: none;
        }

        &.m-mature-module-thumbnail {
          transform-style: preserve-3d;
          background-color: rgba(0, 0, 0, 0.65);

          > .m-thumb-image {
            filter: blur(5px) grayscale(100%);
            transform: translate3d(0, 0, 0);
            opacity: 0.65;
          }

          > i.material-icons {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3em;
            color: #fff;
          }
        }
      }
      img{
        width: 100%;
        max-width:80px;
        max-height:80px;
      }
  }
}
