
<div class="mdl-grid newsfeed-grid" style="max-width:900px; justify-content: center;">

  <div class="m-error-splash" *ngIf="error && !inProgress">
    <h3 class="mdl-color-text--red-300">{{error}}</h3>
    <span class="mdl-color-text--yellow-a200" i18n="@@M__COMMON__PLEASE_TRY_AGAIN">Please try again later</span>
  </div>

  <div class="mdl-cell mdl-cell--8-col">
    <div class="m--spam-notice mdl-shadow--2dp" *ngIf="activity?.spam">
      <!-- i18n: @@MINDS__NEWSFEED__SINGLE__FLAGGED_AS_SPAM -->This activity is flagged as spam.<!-- /i18n -->
      <ng-container *ngIf="!session.isAdmin()" i18n="@@MINDS__NEWSFEED__SINGLE__APPEAL_FLAG_NOTE">
        If you wish to appeal, please contact us at info@herd.com.
      </ng-container>
    </div>

    <div class="minds-list">
      <minds-activity *ngIf="activity" [object]="activity" [commentsToggle]="true" (delete)="delete(activity)" class="mdl-card mdl-shadow--2dp mdl-color--white item"></minds-activity>
    </div>
  </div>

</div>
