<div class="m--spam-notice mdl-shadow--2p" *ngIf="user?.spam">
  <ng-container *ngIf="user?.spam" i18n="@@MINDS__CHANNELS__FLAGGED_AS_SPAM">This user was flagged as spam.</ng-container>
  <ng-container *ngIf="user?.deleted" i18n="@@MINDS__CHANNELS__FLAGGED_AS_DELETED">This user was flagged as deleted.</ng-container>

  <ng-container *ngIf="!session.isAdmin()" i18n="@@M__ACTION__APPEAL_MARK">
    If you wish to appeal, please check your <a routerLink="/settings/reported-content">Reported Content console</a>.
  </ng-container>
</div>

<div [hidden]="user || error" style="width:100%; text-align:center; ">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
</div>
<div class="m-error-splash" *ngIf="error && !user">
  <h3 class="mdl-color-text--red-300">{{error}}</h3>
  <span class="mdl-color-text--yellow-a200" i18n="@@MINDS__CHANNELS__ERROR_CHECK_USERNAME">Please check the username</span>
</div>

<header [hidden]="!isLocked"></header>

<header  *ngIf="user" [ngClass]="{'isLocked': isLocked}">
  <herd-carousel [banners]="user.carousels" [editMode]="editing" (done)="updateCarousels($event)" (delete)="removeCarousel($event)"></herd-carousel>

</header>


<div class="mdl-grid channel-grid m-channel--blocked" style="max-width:900px" *ngIf="user && user?.blocked">
  <h3 class="mdl-color-text--yellow-a200" i18n="@@MINDS__CHANNELS__BLOCKED_NOTICE">You have blocked @{{user.username}}</h3>
  <a (click)="unBlock()" i18n="@@MINDS__CHANNELS__UNBLOCK_ACTION">Click to Unblock</a>
</div>


<div class="mdl-grid channel-grid" style="max-width:990px" *ngIf="user && !user?.blocked">

  <section class="mdl-cell mdl-cell--4-col m-channel-sidebar">

    <div class="mdl-card mdl-shadow--2dp mdl-color--white minds-channel-bio m-channel--bio mdl-color--back">
      <minds-avatar [object]="user" [editMode]="editing" (added)="upload_avatar($event)"></minds-avatar>
        <div class="m-channel--name">
          <h2>{{user.name}}</h2>
          <span class="minds-button-edit" (click)="toggleEditing()" *ngIf="session.getLoggedInUser().guid == user.guid">
            <button class="material-icons" [hidden]="editing">edit</button>
            <button class="material-icons" [hidden]="!editing">done</button>
          </span>
        </div>
        <div class="m-channel--username">
          <h2><span>@</span>{{user.username}}</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--yellow-a200" id="bio" [hidden]="editing" style="white-space:pre-line; text-align:center;" [innerHtml]="user.briefdescription | tags"></div>

        <div class="minds-editable-container mdl-card__supporting-text" *ngIf="editing && isOwner()">
          <!-- OWNER EDIT FORM -->
            <textarea
              [autoGrow]
              class="mdl-textfield__input"
              type="text"
              name="briefdescription"
              [(ngModel)]="user.briefdescription"
            ></textarea>
        </div>

        <div class="m-channel-bio-fields" [ngClass]="{'m-channel-bio-fields-flex': !editing}">

          <!-- City / Location -->
          <div class="m-channel-bio-field m-channel--city mdl-color-text--yellow-a200" [hidden]="editing || !user.city">
            <i class="material-icons mdl-color-text--yellow-a200">location_on</i>
            <span>{{user.city}}</span>
          </div>

          <div class="m-channel-bio-editor m-channel-city-editor" *ngIf="editing && isOwner()">
            <div class="m-channel-bio-input m-channel-city-input">
              <i class="material-icons mdl-color-text--yellow-a200">location_on</i>
              <input (keyup)="findCity(user.city)" name="city" [(ngModel)]="user.city" class="" placeholder="Enter your city..." i18n-placeholder="@@M__COMMON__ENTER_CITY" />
            </div>
            <div class="m-discovery-cities mdl-card mdl-shadow--4dp" *ngIf="editing && cities.length > 0">
              <p class="mdl-color-text--yellow-a200" i18n="@@M__COMMON__SELECT_CITY">Select your city:</p>
              <li (click)="setCity(c)" *ngFor="let c of cities" [hidden]="!(c.address.town || c.address.city)">{{c.address.town}}{{c.address.city}}, {{c.address.state}}</li>
            </div>
          </div>
          <!-- END City / Location -->

          <minds-channel-social-profiles
            [user]="user"
            [editing]="editing && isOwner()"
            (changed)="setSocialProfile($event)"
          ></minds-channel-social-profiles>

      </div>

      <div class="m-channel--stats  mdl-tabs__tab-bar">
            <a [routerLink]="['/', user.username, 'feed']" class="mdl-tabs__tab mdl-color-text--yellow-a200" *ngIf="user.activity_count">
              <span i18n="Count of activities@@M__COMMON__FEED_COUNT">Feed</span>
              <b>{{user.activity_count | number}}</b>
            </a>
            <a class="mdl-tabs__tab mdl-color-text--yellow-a200" *ngIf="user.supporters_count && session.getLoggedInUser().guid != user.guid">
              <span i18n="Count of supporters@@MINDS__CHANNELS__SUPPORTERS">Supporters</span>
              <b>{{user.supporters_count | number}}</b>
            </a>
            <a [routerLink]="['/', user.username, 'supporters']"  class="mdl-tabs__tab mdl-color-text--yellow-a200" *ngIf="user.supporters_count && session.getLoggedInUser().guid == user.guid">
              <span i18n="Count of supporters@@MINDS__CHANNELS__SUPPORTERS">Supporters</span>
              <b>{{user.supporters_count | number}}</b>
            </a>
            <a [routerLink]="['/', user.username, 'subscribers']" class="mdl-tabs__tab mdl-color-text--yellow-a200">
              <span i18n="@@M__COMMON__SUBSCRIBERS">Subscribers</span>
              <b>{{user.subscribers_count | number}}</b>
            </a>
            <a class="mdl-tabs__tab  mdl-color-text--yellow-a200">
              <span i18n="@@M__COMMON__VIEWS">Views</span>
              <b>{{user.impressions | number}}</b>
            </a>
        </div>

          <div class="m-channel--action-buttons" >
            <herd-button-subscribe [user]="user"  *ngIf="session.isLoggedIn() && session.getLoggedInUser().guid != user.guid && !user.blocked && !user.subscribed"></herd-button-subscribe>
            <m-messenger--channel-button [user]="user" *ngIf="user.subscribed && session.getLoggedInUser().guid != user.guid"></m-messenger--channel-button>
            <minds-button-user-dropdown [(user)]="user" *ngIf="session.getLoggedInUser().guid != user.guid"></minds-button-user-dropdown>
            <div class="m-button m-channel--edit-button" (click)="toggleEditing()" *ngIf="session.getLoggedInUser().guid == user.guid">
              <button>
                <i [hidden]="editing" class="material-icons">edit</i>
                <i [hidden]="!editing" class="material-icons">done</i>
                <span [hidden]="editing" i18n="@@M__ACTION__EDIT">Edit</span>
                <span [hidden]="!editing" i18n="@@M__ACTION__SAVE">Save</span>
              </button>
            </div>
            <minds-button-boost [object]="user" *ngIf="session.getLoggedInUser().guid == user.guid"></minds-button-boost>
            <m-channel--badges [user]="user"></m-channel--badges>
          </div>


      </div>

      <div class="minds-spacer-2x"></div>

      <m-wire-channel #wire
        [(rewards)]="user.wire_rewards"
        [channel]="user"
        [editing]="editing"
      ></m-wire-channel>

      <div class="minds-spacer-2x"></div>

      <!-- images  -->
      <minds-channel-modules [owner]="user" type="image" [linksTo]="['/discovery', user.username, 'images']">

        <a class="mdl-card__supporting-text mdl-color-text--grey-600" [routerLink]="['/discovery', user.username, 'images']">
          <!-- i18n: @@M__COMMON__VIEW_MORE -->View More<!-- /i18n -->
        </a>
      </minds-channel-modules>

      <div class="minds-spacer-2x"></div>

      <!-- videos  -->
      <minds-channel-modules [owner]="user" type="video" limit="9" [linksTo]="['/discovery', user.username, 'videos']">

        <a class="mdl-card__supporting-text mdl-color-text--grey-600" [routerLink]="['/discovery', user.username, 'videos']">
          <!-- i18n: @@M__COMMON__VIEW_MORE -->View More<!-- /i18n -->
        </a>
      </minds-channel-modules>

      <div class="minds-spacer-2x"></div>

      <!-- Blogs  -->
      <minds-channel-modules [owner]="user" type="blog" limit="3" [linksTo]="['/blog', user.username]">

        <a class="mdl-card__supporting-text mdl-color-text--grey-600" [routerLink]="['/blog', user.username]">
          <!-- i18n: @@M__COMMON__VIEW_MORE -->View More<!-- /i18n -->
        </a>
      </minds-channel-modules>

      <div class="minds-spacer-2x"></div>
  </section>

  <!-- Feed list -->
  <section class="mdl-cell mdl-cell--8-col m-channel-feed" *ngIf="_filter == 'feed'">

    <minds-newsfeed-poster (load)="prepend($event)" *ngIf="session.isLoggedIn() && session.getLoggedInUser().guid == user.guid" #poster></minds-newsfeed-poster>

    <div class="minds-list">
        <m-onboarding-feed *ngIf="session.isLoggedIn() && session.getLoggedInUser().guid == user.guid"></m-onboarding-feed>
        <minds-activity *ngFor="let activity of pinned" [object]="activity" [boostToggle]="activity.boostToggle" class="mdl-card mdl-shadow--4dp item" (delete)="delete(activity)"></minds-activity>
        <minds-activity *ngFor="let activity of feed" [object]="activity" [boostToggle]="activity.boostToggle" class="mdl-card mdl-shadow--4dp item" (delete)="delete(activity)"></minds-activity>
        <infinite-scroll
            distance="25%"
            (load)="loadFeed()"
            [moreData]="moreData"
            [inProgress]="inProgress">
        </infinite-scroll>
    </div>
    

  </section>

  <!-- Supporters list -->
  <section class="mdl-cell mdl-cell--8-col" *ngIf="_filter == 'supporters'">

    <minds-channel-supporters [channel]="user" class="mdl-grid"></minds-channel-supporters>

  </section>

  <!-- Subscriptions list -->
  <section class="mdl-cell mdl-cell--8-col" *ngIf="_filter == 'subscriptions'">

    <div class="mdl-card mdl-shadow--2dp mdl-color--white m-channel--subscribers-tabs mdl-color--back">
      <div class="mdl-tabs__tab-bar">
        <a [routerLink]="['/', user.username, 'subscribers']" class="mdl-tabs__tab" [ngClass]="{ 'is-active': _filter == 'subscribers' }" i18n="@@MINDS__CHANNELS__SUBSCRIBERS_WITH_COUNT">Subscribers ({{user.subscribers_count}})</a>
        <a [routerLink]="['/', user.username, 'subscriptions']" class="mdl-tabs__tab" [ngClass]="{ 'is-active': _filter == 'subscriptions' }" i18n="@@MINDS__CHANNELS__SUBSCRIPTIONS_WITH_COUNT">Subscriptions ({{user.subscriptions_count}})</a>
      </div>
    </div>

    <minds-channel-subscriptions [channel]="user" class="mdl-grid"></minds-channel-subscriptions>

  </section>

  <!-- Subscriptions list -->
  <section class="mdl-cell mdl-cell--8-col" *ngIf="_filter == 'subscribers'">

    <div class="mdl-card mdl-shadow--2dp mdl-color--white  m-channel--subscribers-tabs mdl-color--black">
      <div class="mdl-tabs__tab-bar">
        <a [routerLink]="['/', user.username, 'subscribers']" class="mdl-tabs__tab" [ngClass]="{ 'is-active': _filter == 'subscribers' }" i18n="@@MINDS__CHANNELS__SUBSCRIBERS_WITH_COUNT">Subscribers ({{user.subscribers_count}})</a>
        <a [routerLink]="['/', user.username, 'subscriptions']" class="mdl-tabs__tab" [ngClass]="{ 'is-active': _filter == 'subscriptions' }" i18n="@@MINDS__CHANNELS__SUBSCRIPTIONS_WITH_COUNT">Subscriptions ({{user.subscriptions_count}})</a>
      </div>
    </div>

    <minds-channel-subscribers [channel]="user" class="mdl-grid"></minds-channel-subscribers>

  </section>

  <!-- Edit Channel -->
  <section class="mdl-cell mdl-cell--8-col" *ngIf="_filter == 'edit'">

    <minds-channel-edit [channel]="user" class="mdl-grid"></minds-channel-edit>

  </section>

</div>
