m-faq{
  color: #FF0;
  border: 1px solid #FF0;
  padding: 16px 0;
  display: block;

  .m-faq--question {
    display: inline-block;
    cursor:pointer;
    width: 100%;
    text-align: center;

    h4{
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      word-spacing: 5px;
      font-weight: 600;

      display: inline-block;
      vertical-align: middle;
      margin: 8px 0;
    }

    i{
      vertical-align: middle;
    }
  }

  p{
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #FF0;
    font-weight: 300;
  }
  ul{
    letter-spacing: 0.5px;
    color: #FF0;
    font-weight: 300;
  }
}
