@import 'defaults.scss';

m-messenger--channel-button{

  > button{

    cursor:pointer;
    background: transparent;
    border: 1px solid #ff0;
    color: #ff0;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 4px 8px;
    min-width: 128px;

    > i, &.material-icons {
      padding-right: $minds-padding;
      padding-bottom: 1px;
      vertical-align:middle;
    }
  }
}