<m-onboarding-card 
    text="Design Your Channel"
    i18n-text="@@MINDS__ONBOARDING__CHANNEL_TEXT"
    subtext="Setup your avatar, banner, personal bio and more"
    i18n-subtext="@@MINDS__ONBOARDING__CHANNEL_SUBTEXT"
    icon="mode_edit"
    [route]="['/', session.getLoggedInUser().username, { editToggle: true}]"
    class="mdl-color--indigo-800 mdl-color-text--white"
    id="channel"
></m-onboarding-card>

<m-onboarding-card 
    text="Subscribe to channels"
    i18n-text="@@MINDS__ONBOARDING__SUBSCRIBE_TEXT"
    subtext="Click here to find the content you love to fill your newsfeed"
    i18n-subtext="@@MINDS__ONBOARDING__SUBSCRIBE_SUBTEXT"
    icon="person_add"
    [route]="['/discovery/featured/channels']"
    id="subscribe"
></m-onboarding-card>

<m-onboarding-card 
    text="Earn revenue"
    i18n-text="@@MINDS__ONBOARDING__MONETIZATION_TEXT"
    subtext="Herd shares its revenue with you. Click here to monetize your channel and learn more"
    i18n-subtext="@@MINDS__ONBOARDING__MONETIZATION_SUBTEXT"
    icon="attach_money"
    [route]="['/monetization']"
    class="mdl-color--green mdl-color-text--white"
    id="monetization"
></m-onboarding-card>

<m-onboarding-card 
    text="Become an affiliate"
    i18n-text="@@MINDS__ONBOARDING__AFFILIATES_TEXT"
    subtext="Earn 25% of the revenue Herd generates from people you refer to the site"
    i18n-subtext="@@MINDS__ONBOARDING__AFFILIATES_SUBTEXT"
    icon="share"
    [route]="['/affiliates']"
    class="mdl-color--black mdl-color-text--white"
    id="affiliates"
></m-onboarding-card>
