<div class="mdl-card mdl-shadow--2dp mdl-color-text--white">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" *ngIf="group" i18n="@@GROUPS__PROFILE__MEMBERS__INVITE__NAME_TITLE">Invite to {{ group.name }}</h2>
    <h2 class="mdl-card__title-text" *ngIf="!group" i18n="@@GROUPS__PROFILE__MEMBERS__INVITE__TITLE">Invite</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <span i18n="@@GROUPS__PROFILE__MEMBERS__INVITE__ITEM_ONLY_SUBSCRIBERS">- You can only invite users who are your subscribers</span>
    <span i18n="@@GROUPS__PROFILE__MEMBERS__INVITE__ITEM_NOTIFICATION_INFO">- They will receive a notification to confirm they want to be a member of this group</span>
    <span *ngIf="group" [hidden]="!group['is:owner']" i18n="@@GROUPS__PROFILE__MEMBERS__INVITE__ITEM_BAN_REINVITE">- If the user was banned from the group, inviting them will lift the ban</span>

    <div [hidden]="!inviteInProgress">
      <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" width="width: 100%;" [mdl]></div>
      <div class="mdl-card__supporting-text">
        <!-- i18n: @@GROUPS__PROFILE__MEMBERS__INVITE__INVITING -->Inviting...<!-- /i18n -->
      </div>
    </div>

    <div class="m-search-inline" [hidden]="destination">
      <input type="text" name="q" [(ngModel)]="q" (keyup)="search(q)" placeholder="Search for a channel" i18n-placeholder="@@GROUPS__PROFILE__MEMBERS__INVITE__SEARCH_PLACEHOLDER" />

      <div class="m-search-inline-list mdl-shadow--2dp mdl-color--white" [hidden]="users.length == 0 || !searching">
        <div *ngFor="let user of users" (click)="invite(user);" class="m-search-inline-item m-block">
          <div class="m-avatar">
            <img src="{{minds.cdn_url}}icon/{{user.guid}}/small/{{user.icontime}}" class="mdl-shadow--2dp"/>
          </div>
          <div class="m-body">
            <h3>@{{user.username}}</h3>
            <p class="m-subtitle" i18n="@@GROUPS__USER_INFO">Views: {{user.impressions}} | Subscribers: {{user.subscribers_count}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
