<div class="mdl-card mdl-shadow--2dp mdl-color--white herd-quote-card mdl-color--yellow-a200" >
  <div class="minds-boost-points-wrapper">

    <div class="herd-boost-points-input">
      <div>
        <input
          name="points"
          [(ngModel)]="points"
          type="number"
          min="0"
          (keyup)="calculateUSD()"
          (change)="calculateUSD()"
          />
      </div>
      <div>
        <label class="mdl-color-text--black" i18n="@@M__FEATURE__POINTS">Points</label>
      </div>
    </div>

    <div class="herd-boost-points-input">
      <div>
        <input
          name="usd"
          [(ngModel)]="usd"
          type="number"
          min="0"
          (keyup)="calculatePoints()"
          (change)="calculatePoints()"
          placeholder="..."
          />
      </div>
      <div>
        <label class="mdl-color-text--black" i18n="@@M__COMMON__USD">USD</label>
      </div>
    </div>

    <div class="" [hidden]="toggled">
      <button class="mdl-button mdl-button--raised mdl-color--yellow-a200 mdl-color-text--white" style="display: block; position: relative; margin: 16px 16px 0 0; padding: 0;" (click)="buy()" i18n="@@WALLET__PURCHASE__BUY_ACTION">BUY!</button>
    </div>

  </div>


  <div class="mdl-card mdl-shadow--2dp mdl-color--white herd-purchase-card" [hidden]="inProgress || confirmation">

    <div class="herd-purchase-recurring-option">
      <input type="checkbox" name="recurring" [(ngModel)]="recurring">
      <label class="mdl-color-text--black" (click)="recurring = !recurring">
        <!-- i18n: @@WALLET__PURCHASE__RECURRING_10PCT_LABEL -->Repeat this transaction every month and get <b>10%</b> more points<!-- /i18n -->
      </label>

      <span class="herd-purchase-recurring-cancel mdl-color-text--black" *ngIf="subscription" (click)="cancelSubscription()" i18n="@@WALLET__PURCHASE__CANCEL_RECURRING_ACTION">Cancel recurring (<i>$</i>{{subscription.price}})</span>
    </div>

    <p *ngIf="error" class="mdl-color-text--red" style="padding-left:16px">{{error}}</p>

    <div class="m-purchase-points--coupon" [hidden]="!recurring || !toggled">
      <label i18n="@@WALLET__PURCHASE__COUPON_CODE_LABEL">Coupon code</label>
      <m-tooltip icon="help" i18n="@@WALLET__PURCHASE__COUPON_CODE_TOOLTIP">
        If you have a discount / coupon code, please apply it here (only for subscriptions)
      </m-tooltip>
      <input type="text" [(ngModel)]="coupon" />
    </div>

    <minds-payments-stripe-checkout (inputed)="setSource($event)" *ngIf="!source && toggled"></minds-payments-stripe-checkout>

  </div>

  <div class="mdl-card mdl-shadow--2dp mdl-color--white herd-purchase-card" [hidden]="!inProgress">
    <div class="mdl-card__supporting-text">
      <!-- i18n: @@M__COMMON__PLEASE_WAIT -->Please wait...<!-- /i18n -->
    </div>
    <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  </div>

  <div class="mdl-card mdl-shadow--2dp mdl-color--white herd-purchase-card" [hidden]="!confirmation">
    <div class="mdl-card__supporting-text">
      <b i18n="@@WALLET__PURCHASE__SUCCESS_NOTICE">Great, you now have {{wallet.points}} points!</b>
      <b (click)="reset()" class="mdl-color-text--indigo-400" style="cursor:pointer;" i18n="@@WALLET__PURCHASE__BUY_MORE_ACTION">Click here to BUY more.</b>
    </div>
  </div>


</div>
