<div class="m-group-saving-overlay" [hidden]="!inProgress">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
</div>

<header>
  <minds-banner [editMode]="editing" [done]="editDone" (added)="addBanner($event)"></minds-banner>
  <div class="avatar-wrapper">
    <minds-avatar [editMode]="editing" (added)="addAvatar($event)"></minds-avatar>
  </div>
</header>

<form (submit)="save($event)" class="mdl-grid groups-grid" style="max-width:900px">

  <div class="mdl-cell mdl-cell--8-col">
    <minds-groups-profile-members-invite (invited)="invite($event)"></minds-groups-profile-members-invite>

    <div class="invitees m-search-inline">
      <div class="m-search-inline-list mdl-shadow--2dp mdl-color--white">
        <div *ngFor="let invitee of invitees; let i = index" class="m-search-inline-item m-block">
          <div class="m-avatar">
            <img src="{{minds.cdn_url}}icon/{{invitee.guid}}/small/{{invitee.icontime}}" class="mdl-shadow--2dp"/>
          </div>
          <div class="m-body">
            <h3>@{{invitee.username}}</h3>
            <p class="m-subtitle" i18n="@@GROUPS__USER_INFO">Views: {{invitee.impressions}} | Subscribers: {{invitee.subscribers_count}}</p>
          </div>
          <i class="material-icons m-remove-invitee" (click)="removeInvitee(i)">cancel</i>
        </div>
      </div>
    </div>

  </div>

  <div class="mdl-cell mdl-cell--4-col m-group-info">

    <div class="mdl-card mdl-shadow--2dp mdl-color--white">

      <div class="m-group-info-name mdl-color-text--black">
        <input type="text" class="h1" name="name" [(ngModel)]="group.name" placeholder="Enter a name" i18n-placeholder="@@GROUPS__NAME_PLACEHOLDER" />
      </div>

      <div class="m-group-info-brief-description mdl-color-text--black">
        <textarea name="briefdescription" [(ngModel)]="group.briefdescription" placeholder="Enter a brief description" i18n-placeholder="@@GROUPS__DESCRIPTION_PLACEHOLDER"></textarea>
      </div>

      <div class="m-group-info-tags mdl-color-text--black">
        <i class="material-icons mdl-color-text--yellow-a200">local_offer</i>
        <minds-form-tags-input [(tags)]="group.tags"></minds-form-tags-input>
      </div>

      <div class="m-group-info-membership mdl-color-text--black">
          <i class="material-icons mdl-color-text--yellow-a200">{{ group.membership == 2 ? 'public' : 'lock' }}</i>
          <select class="icon-prefix" name="membership" [ngModel]="group.membership" (change)="group.membership = $event.target.value">
            <option value="2" i18n="@@GROUPS__OPEN_GROUP">Open Group</option>
            <option value="0" i18n="@@GROUPS__CLOSED_GROUP">Closed Group</option>
          </select>
      </div>

      <div class="m-group-info-moderated mdl-color-text--black">
          <i class="material-icons mdl-color-text--yellow-a200">rate_review</i>
          <select class="icon-prefix" name="moderated" [ngModel]="group.moderated" (change)="group.moderated = $event.target.value">
            <option value="0" i18n="@@GROUPS__ANYONE_CAN_POST">Anyone can post</option>
            <option value="1" i18n="@@GROUPS__POSTS_ARE_MODERATED">Posts are moderated</option>
          </select>
      </div>

      <div class="m-group-info-default-view mdl-color-text--black">
          <i class="material-icons mdl-color-text--yellow-a200" title="Default view">pageview</i>
          <select class="icon-prefix" name="default_view" [ngModel]="group.default_view" (change)="group.default_view = $event.target.value">
            <option value="0" i18n="@@GROUPS__DEFAULT_VIEW_FEED">Default view: Feed</option>
            <option value="1" i18n="@@GROUPS__DEFAULT_VIEW_CONVERSATIONS">Default view: Conversations</option>
          </select>
      </div>

      <div class="m-groups-save">
       <button class="mdl-button mdl-button--raised mdl-button--colored" [disabled]="!group.name" i18n="@@M__ACTION__CREATE">Create</button>
      </div>

    </div>

  </div>

</form>
