<div class="m-group-info-members">
  <div class="mdl-card__title" [routerLink]="linksTo">
    <h2 class="mdl-card__title-text mdl-color-text--black" style="text-transform:capitalize" i18n="@@M__COMMON__MEMBERS">Members</h2>
    <a [routerLink]="['/groups/profile', group.guid, 'members']" class="mdl-color-text--blue-grey-400" i18n="verb|@@GROUPS__PROFILE__INVITE_ACTION">Invite</a>
  </div>

  <div class="mdl-card__supporting-text mdl-color-text--grey-600 members-grid">
    <a *ngFor="let member of members"
    [routerLink]="['/', member.username]"
    [hovercard]="member.guid"
    [hovercardAnchor]="['left', 'bottom']"
    >
      <img src="/icon/{{member.guid}}/small/{{member.icontime}}" />
    </a>
  </div>

  <div class="mdl-spinner mdl-js-spinner is-active minds-group-sidebar-loader" [mdl] [hidden]="!inProgress"></div>
</div>

<ng-content></ng-content>
