<div (click)="sidebar.open()" class="minds-menu-button mdl-layout__drawer-button">
  <i class="material-icons">menu</i>
</div>

<div class="minds-header-row">
    <div class="minds-logo">
      <a [routerLink]="['/']">
        <img src="{{minds.cdn_assets_url}}assets/logos/small.png"/>
      </a>
    </div>

    <m-search--bar></m-search--bar>

    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-color-text--white mdl-button--colored mdl-button--raised m-boost-button-fat"
      [routerLink]="['/wallet/boost/newsfeed', { 'toggled':true}]"
      *ngIf="session.isLoggedIn()">
      <!-- i18n: verb|@@M__ACTION__BOOST -->Promoted<!-- /i18n -->
    </button>

    <herd-topbar-navigation></herd-topbar-navigation>

    <div class="minds-account" *ngIf="session.isLoggedIn()">
      <a [routerLink]="['/', session.getLoggedInUser().username]">
        <img src="/icon/{{session.getLoggedInUser().guid}}/small/{{session.getLoggedInUser().icontime}}" class="mdl-shadow--2dp" />
      </a>
    </div>

    <button [hidden]="!session.isLoggedIn()"
      class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
      id="header-actions" [mdl]
    >
      <i class="material-icons">more_vert</i>
    </button>

    <ul
      class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      for="header-actions"
      [mdl]
    >
      <li class="mdl-menu__item" *ngIf="session.isLoggedIn()" [routerLink]="['/settings/general']" i18n="@@MINDS__TOPBAR__SETTINGS">Settings</li>
      <li class="mdl-menu__item" *ngIf="session.isLoggedIn()" [routerLink]="['/logout']" i18n="@@MINDS__TOPBAR__LOGOUT">Logout</li>
    </ul>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" *ngIf="!session.isLoggedIn()" [routerLink]="['/login']">
      <!-- i18n: @@M__ACTION__LOGIN -->Login<!-- /i18n -->
    </button>
</div>

<div class="m-notifications-toaster" *ngIf="session.isLoggedIn() && notifications">
  <herd-notification
    *ngFor="let notification of notifications"
    class="mdl-card mdl-shadow--4dp item"
    [notification]="notification"
    (click)="closeNotification(notification)"
  ></herd-notification>
</div>
