<nav class="" *ngIf="session.isLoggedIn()">
  <ng-container *ngFor="let item of navigation.getItems('topbar')">
    <m-notifications--topbar-toggle *ngIf="item.name == 'Notifications'" [item]='item'></m-notifications--topbar-toggle>
    <a *ngIf="item.name != 'Notifications'" class="mdl-color-text--yellow-a200" [routerLink]="[item.path, item.params]">
      <i class="material-icons">{{item.icon}}</i>
      <span id="{{item.name | lowercase}}-counter" class="counter mdl-color-text--white" *ngIf="item.extras">{{item.extras?.counter | abbr}}</span>
      <span class="mdl-color--yellow-a200 mdl-color-text--white m-wallet-pop"
      *ngIf="item.name === 'Wallet'"
      [hidden]="!walletPopContent"
      [@foolishIn]="walletPopState"
      (@foolishIn.done)="walletPopContent = ''"
      #walletPop
      >{{ walletPopContent }}</span>
    </a>
  </ng-container>
</nav>