@import 'defaults';

.minds-header-row {

  @media screen and (max-width: 1175px) {
    .m-boost-button-fat {
      display: none;
    }
  }

  .m-boost-button-fat {
    background: $herd-yellow !important;
    border: 1px solid $herd-yellow;
    color: #000000 !important;
    box-shadow: none;
    margin-right: 16px;
  }
}
