
<div class="m-messenger--userlist m-messenger--dockpane mdl-shadow--4dp" [class.m-messenger--dockpane-open]="userListToggle">
  <div class="m-messenger--dockpane-tab mdl-color--yellow-700  mdl-color-text--black" (click)="toggle()">
    <div class="m-messenger--dockpane-tab-title"><i class="material-icons">chat_bubble</i><span i18n>Messenger</span></div>
    <div class="m-messenger--dockpane-tab-actions" (click)="$event.stopPropagation()">
      <i class="material-icons"
        (click)="ribbon.open = !ribbon.open"
        [ngClass]="{ 'm-status-active': ribbon.open }">
        settings
      </i>
    </div>
  </div>
  <div class="m-messenger--dockpane-container mdl-shadow--2dp">

    <div class="m-messenger--dockpane-tab-ribbon mdl-color-text--yellow-a200" #ribbon [hidden]="!ribbon.open">
      <div class="m-messenger--dockpane-tab-icon" (click)="logout(); ribbon.open = false" [hidden]="!encryption.isOn()">
        <i class="material-icons mdl-color-text--yellow-a200"
          title="Logout of chat" i18n-title
          >exit_to_app</i>
          <!-- i18n -->Logout<!-- /i18n -->
      </div>
      <div class="m-messenger--dockpane-tab-icon mdl-color-text--yellow-a200" (click)="sounds.mute(); ribbon.open = false" [hidden]="!sounds.canPlay()">
        <i class="material-icons mdl-color-text--yellow-a200"
          title="Disable sounds" i18n-title>notifications</i>
          <!-- i18n -->Mute<!-- /i18n -->
      </div>
      <div class="m-messenger--dockpane-tab-icon mdl-color-text--yellow-a200" (click)="sounds.unmute(); ribbon.open = false" [hidden]="sounds.canPlay()">
        <i class="material-icons mdl-color-text--yellow-a200"
          title="Enable sounds" i18n-title>notifications_off</i>
          <!-- i18n -->Unmute<!-- /i18n -->
      </div>
      <div class="m-messenger--dockpane-tab-icon mdl-color-text--yellow-a200" (click)="encryption.reKeying = !encryption.reKeying; ribbon.open = false">
        <i class="material-icons mdl-color-text--yellow-a200"
          title="Change your encryption password" i18n-title>vpn_key</i>
          <!-- i18n -->Re-key<!-- /i18n -->
      </div>
    </div>
    <m-messenger--encryption *ngIf="encryption.reKeying"></m-messenger--encryption>

    <div class="m-messenger--userlist-conversations" minds-messenger-scroll [moreData]="hasMoreData" (next)="load({ offset: offset })">
      <div class="m-messenger--userlist-conversations-item"
      [hidden]="inProgress && !offset"
      *ngFor="let conversation of conversations"
      (click)="openConversation(conversation)">
        <!-- This is currently only configured for one-on-one chat -->
        <img [src]="minds.cdn_url + 'icon/' + conversation.participants[0].guid" class="mdl-shadow--2dp">
        <span class="m-conversation-label">{{conversation.username}}</span>
        <span class="m-conversation-icons">
          <span class="m-conversation-new mdl-color--green" [hidden]="!conversation.unread"></span>
          <span class="m-conversation-online mdl-color--black" [hidden]="!conversation.online"></span>
        </span>
      </div>
      <div [hidden]="!inProgress" style="width:100%; text-align:center; ">
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
      </div>


    </div>

    <div class="m-messenger--userlist-search">
      <i class="material-icons">search</i>
      <input type="text" placeholder="Search" i18n-placeholder #q (keyup)="search(q);">
    </div>

  </div>
</div>
