<div class="m-monetization--analytics">
  <div class="m-root-loader" *ngIf="chartInProgress">
    <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
  </div>

  <!-- @todo: add no merchant message and CTA -->
  <div class="mdl-grid mdl-shadow--2dp mdl-color--white">
    <div class="mdl-cell mdl-cell--12-col">
      <minds-chart *ngIf="chart"
        type="line"
        [title]="chart.title"
        [columns]="chart.columns"
        [rows]="chart.rows"
      ></minds-chart>
    </div>
  </div>

  <div class="m-monetization--list" *ngIf="transactions">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white">
      <table class="mdl-data-table mdl-js-data-table" [mdl]>
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric m-data-title" i18n="@@MONETIZATION__ANALYTICS__DESCRIPTION_COLUMN">Description</th>
            <th i18n="@@MONETIZATION__ANALYTICS__AMOUNT_COLUMN">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td class="mdl-data-table__cell--non-numeric">{{ transaction.description }}</td>
            <td>{{ transaction.amount | currency:'USD':true }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <infinite-scroll
      distance="25%"
      (load)="load()"
      [moreData]="moreData"
      [inProgress]="inProgress">
    </infinite-scroll>
  </div>
</div>
