<div class="m-monetization--overview mdl-color--black-500 mdl-color-text--white mdl-shadow--4dp">

  <div class="m-monetization--overview-volume">
    <i>£</i><span *ngIf="ready">{{net | number: '1.2-2'}}</span>
    <div class="m-monetization--overview-label">
      <label i18n="@@M__COMMON__EARNINGS">Earnings</label>
      <m-tooltip icon="help" i18n="@@M__COMMON__TOTAL_EARNINGS_30_MINUS_FEES">
        This is your total earnings for the past 30 days, minus any fees.
      </m-tooltip>
    </div>
  </div>
  <div class="m-monetization--overview-breakdown">
    <div class="m-monetization--overview-balance">
      <i>£</i><span *ngIf="ready">{{balance | number: '1.2-2'}}</span>
      <div class="m-monetization--overview-label">
        <label i18n="@@M__COMMON__PENDING">Pending</label>
        <m-tooltip icon="help" i18n="@@M__COMMON__EARNINGS_AWAITING_NEGATIVE_REFUND">
          This is your earnings awaiting payout. A negative number indicates a refund or chargeback has occured.
        </m-tooltip>
      </div>
    </div>
    <div class="m-monetization--overview-payouts">
      <i>£</i><span *ngIf="ready">{{payouts | number: '1.2-2'}}</span>
      <div class="m-monetization--overview-label">
        <label i18n="@@M__COMMON__PAID_OUT">Paid out</label>
        <m-tooltip icon="help" i18n="@@M__COMMON__THIS_SENT_TO_BANK_ACCOUNT">
          This is what has been sent to your bank account
        </m-tooltip>
      </div>
    </div>
  </div>
</div>

<div class="m-monetization--overview-title mdl-color--black-800 mdl-color-text--white mdl-shadow--4dp">
  <div class="m-monetization--overview-title-text" i18n="@@MONETIZATION__OVERVIEW__REVENUE_LABEL">Revenue</div>
  <m-tooltip icon="help" i18n="@@MONETIZATION__OVERVIEW__REVENUE_TOOLTIP">
    You earn 25% of all revenue your referrals bring to Herd.
  </m-tooltip>

  <a routerLink="/wallet/revenue" class="m-monetization--overview-title-action" *ngIf="user.merchant" i18n="@@MONETIZATION__OVERVIEW__BREAKDOWN_LINK">See Breakdown</a>
  <a routerLink="/monetization" class="m-monetization--overview-title-action" *ngIf="!user.merchant" i18n="@@MONETIZATION__OVERVIEW__MONETIZE_ACTION">Monetize now</a>

</div>
