<div class="m-monetization--terms">
  <h3>Terms & Conditions</h3>

  <p style="font-weight:bold">
    If you have been invited to participate in and have opted into our Herd Monetization Program (the "Program"), and your participation in The Program has not been terminated, then the following terms shall apply.
  </p>

  <p>
    By participating in The Program you agree to become bound by the terms and conditions herein (“The Agreement”).
    If you do not agree to all of the terms and conditions herein you may not participate in The Program and are not eligible to receive The Program services (including, but not limited to, Program payments).
    To the extent that these terms and conditions are considered an offer on behalf of Herd, acceptance of such offer is expressly limited to these terms.
  </p>

  <p>
    You will comply with all of the terms and conditions contained in the Herd Terms of Service and all other operating rules, policies, and procedures that may be published by Herd.
  </p>

  <p>
    You will disclose to Herd any paid products or services you employ to refer paid hosting customers to Herd.
  </p>

  <p>
    You are not authorized to act as an agent of Herd and shall not so represent. You are not and shall not hold yourself out to be an employee of Herd.
  </p>

  <p>
    You may not factually misrepresent Herd, Herd.com or The Program including, but not limited to, the services, products, and terms and conditions therefor.
  </p>

  <p>
    You hereby consent to the use of your name, likeness, blog name, and any associated content or logos by Herd in connection with advertisements, articles, and other similar communications conducted by Herd relating to The Program.
  </p>

  <p>
    You must be at least 18 years old to participate in the the Program. By agreeing to these terms, you represent that you are 18 or older.
  </p>

  <p>
    Program participants residing in the US must provide a tax ID if required.
  </p>

  <p>
    Subject to these terms of service, and provided that you are currently participating in the Program:
  </p>

  <p>
    Herd will pay you 25% of the revenue share of the payments received by Herd by customers who sign up through your Affiliate referral link.
    You are not entitled to revenue sharing payments from Herd customers who fail to register through your Affiliate referral link.
    Herd will issue payments approximately 30 days following the end of each month in which the applicable payment(s) are received by Herd.
  </p>

  <p>
    The following Herd products qualify the Affiliate to receive 25% of the revenue Herd generates from users who sign up through the Affiliate’s referral link:
      <li>Point Purchases</li>
  </p>

  <p>
    All payments will be issued through a transaction medium determined by Herd in its sole discretion.
    You must conform with Herd chosen payment method(s) in order to be entitled to payment hereunder.
    Herd shall have no obligation to make any payment under this paragraph until the outstanding amount owed to you exceeds one hundred US pounds ($100).
    Your rights to Program payments that remain unclaimed or undeliverable for a period of one year or more may, in Herd sole discretion, be forfeit.
  </p>

  <p>
    If you wish to discontinue your participation in The Program, you may do so in the Herd.com settings page of your participating account.
    Herd will distribute remaining earnings to discontinued Program participants only if the amount exceeds twenty five US pounds ($25).
  </p>

  <p>
    By agreeing to The Program terms, you acknowledge the possibility of chargebacks due to fraudulent payments and refunds.  In the event of a chargeback or refund, Herd holds the right to retract any payout related to the disputed transaction.
  </p>

  <p>
    Herd, in its sole discretion, may terminate your participation in The Program at any time, with or without cause, with or without notice, effective immediately.
  </p>

  <p>
    These terms of service are subject to change by Herd.
    Herd will take steps to notify you of changes via the Herd.com website or email.
    You are responsible for maintaining awareness and compliance with all future changes to these terms and conditions.
    If you do not agree to be bound by revised terms you must discontinue your participation in The Program immediately.
  </p>

  <p>
    The Herd services are provided “as is”.
    Herd and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement.
    Neither Herd nor its suppliers and licensors, makes any warranty that its services will be error free.
  </p>

  <p>
    You represent and warrant that your participation in The Program will be in strict accordance with all applicable laws and regulations.
  </p>

  <p>
    You agree to indemnify and hold harmless Herd, its contractors, and its licensor, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your participation in The Program including but not limited to your violation of this Agreement.
  </p>

  <p>
    If you choose to monetize your channel, your channel must respect and abide by the the terms of Stripe for all services and Google Adsense if you are leveraging the Ad-Revenue sharing feature.
    Failure to comply with these terms of service may result in loss or ban of monetization privileges.
  </p>

  <p style="font-style: italic">
    These Terms and Conditions constitute the entire agreement between Herd and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Herd, or by the posting by Herd of a revised version. Except to the extent applicable law, if any, provides otherwise, these Terms and Conditions and/or your participation in The Program shall be governed by the laws of the state of Connecticut, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in Hartford, Connecticut, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Herd may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
  </p>

</div>
