<div class="mdl-grid newsfeed-grid m-newsfeed" >

    <div class="mdl-cell mdl-cell--4-col m-newsfeed--sidebar">

      <minds-card-user [object]="session.getLoggedInUser()" class="mdl-card mdl-shadow--2dp mdl-color--white" style="margin-bottom:16px;"></minds-card-user>

      <a [routerLink]="['/wallet/purchase']" class="mdl-card mdl-color--green mdl-color-text--white mdl-shadow--8dp m-boost-console-link" *ngIf="session.getLoggedInUser().plus">
        <div class="mdl-card__supporting-text mdl-color-text--white minds-newsfeed-sidebar-button">
          <i class="material-icons">favorite</i>
          <!-- i18n: @@M__ACTION__BUY_POINTS -->Buy Points<!-- /i18n -->
          <span class="m-buypoints-tag" i18n="@@MINDS__NEWSFEED__1_BY_1_CONVERSION">1 point = 1 view</span>
        </div>
      </a>

      <a routerLink="/plus" class="mdl-card mdl-color--green mdl-color-text--white mdl-shadow--8dp m-boost-console-link"  *ngIf="!session.getLoggedInUser().plus">
        <div class="mdl-card__supporting-text mdl-color-text--white minds-newsfeed-sidebar-button">
          <i class="material-icons">add_circle</i>
          <!-- i18n: @@MINDS__NEWSFEED__UPGRADE_TO_PLUS_ACTION -->Upgrade to Plus<!-- /i18n -->
        </div>
      </a>

      <a routerLink="/monetization" *ngIf="!session.getLoggedInUser().merchant" class="mdl-card mdl-color--green mdl-color-text--white mdl-shadow--8dp m-boost-console-link">
        <div class="mdl-card__supporting-text mdl-color-text--white minds-newsfeed-sidebar-button">
          <i class="material-icons">account_balance</i>
          <!-- i18n: @@MINDS__NEWSFEED__MONETIZE_CHANNEL_ACTION -->Monetize your Channel<!-- /i18n -->
        </div>
      </a>

      <a routerLink="/affiliates" class="mdl-card mdl-color--black mdl-color-text--white mdl-shadow--8dp m-boost-console-link">
        <div class="mdl-card__supporting-text mdl-color-text--white minds-newsfeed-sidebar-button" *ngIf="session.isLoggedIn() && session.getLoggedInUser().programs.indexOf('affiliate') <= -1" >
          <i class="material-icons">share</i>
          <!-- i18n: @@MINDS__NEWSFEED__BECOME_AFFILIATE_ACTION -->Become an Affiliate<!-- /i18n -->
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--white minds-newsfeed-sidebar-button" *ngIf="session.isLoggedIn() && session.getLoggedInUser().programs.indexOf('affiliate') > -1" >
          <i class="material-icons">share</i>
          <!-- i18n: @@M__FEATURE__AFFILIATE_PROGRAM -->Affiliate Program<!-- /i18n -->
        </div>
      </a>

      <a [routerLink]="['/discovery/trending/channels']" class="mdl-card mdl-color--black mdl-color-text--white mdl-shadow--8dp m-boost-console-link m-suggested-channels-link" *ngIf="false">
        <div class="mdl-card__supporting-text mdl-color-text--white minds-newsfeed-sidebar-button">
          <i class="material-icons">search</i>
          <!-- i18n: @@MINDS__NEWSFEED__FIND_CHANNELS_ACTION -->Find channels<!-- /i18n -->
        </div>
      </a>

      <m-modal-invite #invite [open]="invite.open" (closed)="invite.open = false"></m-modal-invite>
      <a (click)="invite.open = true" class="mdl-card mdl-color--amber mdl-color-text--white mdl-shadow--8dp m-boost-console-link m-invite-link" *ngIf="session.isLoggedIn() && session.getLoggedInUser().programs.indexOf('affiliate') <= -1">
        <div class="mdl-card__supporting-text mdl-color-text--white minds-newsfeed-sidebar-button">
          <i class="material-icons">email</i>
          <!-- i18n: @@M__ACTION__INVITE_FRIENDS -->Invite your friends<!-- /i18n -->
        </div>
      </a>

      <div class="minds-spacer minds-spacer-2x"></div>

      <div class="mdl-card mdl-color--white mdl-shadow--2dp">
        <m-tagcloud></m-tagcloud>
      </div>

      <div class="minds-spacer minds-spacer-2x"></div>

      <div class="m-newsfeed--dynamic-siderbar" *ngIf="!showRightSidebar">
        <m-ads-boost limit="8"></m-ads-boost>
        <div class="minds-spacer minds-spacer-2x"></div>

        <div class="m-newsfeed-footer">
          <ul class="m-footer-nav m-footer-nav-inline">
            <li *ngFor="let page of navigation.getItems('footer')" class="m-footer-nav-item">
              <a *ngIf="page.path && page.path.indexOf('p/') > -1" [routerLink]="['/' + page.path]">{{page.title}}</a>
              <a *ngIf="page.path.indexOf('p/') < 0" [href]="page.path" target="_blank">{{page.title}}</a>
            </li>
          </ul>
          <span class="copyright mdl-color-text--blue-grey-700" i18n="@@MINDS__NEWSFEED__COPYRIGHT_FOOTER">&#169; Herd 2018</span>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--8-col m-newsfeed--feed">

        <div class="mdl-shadow--4dp mdl-color--green mdl-color-text--white m-newsfeed-boost-promo" *ngIf="newUserPromo">
          <i class="material-icons">trending_up</i> <!-- i18n: @@MINDS__NEWSFEED__200_FREE_VIEWS -->Have 200 free views on us. Hit post to be boosted.<!-- /i18n -->
        </div>
        <minds-newsfeed-poster (load)="prepend($event)" [message]="message" #poster></minds-newsfeed-poster>

        <div class="mdl-shadow--4dp mdl-color--black mdl-color-text--yellow-a200 m-newsfeed-message" (click)="pollingLoadNew()" *ngIf="pollingNewPosts">
          <i class="material-icons">update</i> <!-- i18n: @@MINDS__NEWSFEED__NEW_POSTS_POLL -->{{ pollingNewPosts }} new {{ pollingNewPosts === 1 ? 'post' : 'posts' }}<!-- /i18n -->
        </div>

        <div class="minds-list">
          <minds-activity *ngFor="let preActivity of prepended" [object]="preActivity" [boostToggle]="preActivity.boostToggle" (delete)="delete(preActivity)" class="mdl-card mdl-shadow--2dp mdl-color--white item"></minds-activity>
          <minds-newsfeed-boost-rotator interval="12" *ngIf="showBoostRotator"></minds-newsfeed-boost-rotator>
          <minds-activity *ngFor="let activity of newsfeed" [object]="activity" [boostToggle]="activity.boostToggle" [boost]="boostFeed" (delete)="delete(activity)" (onViewed)="onViewed($event)" class="mdl-card mdl-shadow--2dp mdl-color--white item"></minds-activity>
          <infinite-scroll
            distance="25%"
            (load)="load()"
            [moreData]="moreData"
            [inProgress]="inProgress">
          </infinite-scroll>

        </div>

    </div>

    <div class="mdl-cell mdl-cell--4-col m-newsfeed--boost-sidebar" *ngIf="showRightSidebar">
      <m-ads-boost limit="8" *ngIf="!(session.getLoggedInUser().plus && session.getLoggedInUser().disabled_boost)"></m-ads-boost>
      <div class="minds-spacer minds-spacer-2x"></div>

      <div class="m-newsfeed-footer">
        <ul class="m-footer-nav m-footer-nav-inline">
          <li *ngFor="let page of navigation.getItems('footer')" class="m-footer-nav-item">
            <a *ngIf="page.path && page.path.indexOf('p/') > -1" [routerLink]="['/' + page.path]">{{page.title}}</a>
            <a *ngIf="page.path.indexOf('p/') < 0" [href]="page.path" target="_blank">{{page.title}}</a>
          </li>
        </ul>
        <span class="copyright mdl-color-text--blue-grey-700" i18n="@@MINDS__NEWSFEED__COPYRIGHT_FOOTER">&#169; Herd 2018</span>
      </div>
    </div>

</div>
