<div class="mdl-card mdl-shadow--2dp mdl-color--white herd-transaction-card" *ngFor="let transaction of transactions">
  <div class="mdl-card__title mdl-card--expand herd-transaction-points">
    <span [hidden]="transaction.points < 0" class="positive">
      + {{transaction.points}}
    </span>
    <span [hidden]="transaction.points >= 0" class="negative">
      {{transaction.points}}
    </span>

  </div>
  <div class="mdl-card__actions mdl-card--border herd-transaction-details">
    <p>
      {{transaction.description}}
    </p>
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons mdl-color-text--grey-400">access_time</i>
    <p class="ts mdl-color-text--grey-400">{{transaction.time_created * 1000 | date:'medium'}}</p>
  </div>
</div>

<infinite-scroll
    distance="25%"
    (load)="load()"
    [moreData]="moreData"
    [inProgress]="inProgress">
</infinite-scroll>
