<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp mdl-color--white" *ngFor="let user of users; let i = index">

  <div class="mdl-card__title">

    <div class="minds-avatar">
      <a [routerLink]="['/', user.username]">
        <img src="{{minds.cdn_url}}icon/{{user.guid}}/small}}" class="mdl-shadow--2dp"/>
      </a>
    </div>
    <div class="minds-body">
      <a [routerLink]="['/', user.username]" class="mdl-color-text--yellow-a200">{{user.name}}</a>
      <span>@{{user.username}}</span>
    </div>

  </div>

  <div class="mdl-card__actions">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="accept(user, i)" i18n="@@M__ACTION__ACCEPT">Accept</a>
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="reject(user, i)" i18n="@@M__ACTION__REJECT">Reject</a>
  </div>
</div>

<infinite-scroll
    distance="25%"
    (load)="load()"
    [moreData]="moreData"
    [inProgress]="inProgress">
</infinite-scroll>
