<!-- START: Actions -->
<div class="mdl-card mdl-shadow--2dp mdl-color--white">

  <div class="mdl-card__actions">
    <div class="minds-error mdl-color--red mdl-color-text--white" [hidden]="!error">{{error}}</div>

    <button class="mdl-button mdl-button--colored"
      [ngClass]="{'mdl-button--raised': changed}"
      [disabled]="!canSubmit()"
      [hidden]="saved"
      (click)="save()"
      style="float:right"
      >
      <!-- i18n: @@M__ACTION__SAVE -->Save<!-- /i18n -->
    </button>
    <button class="mdl-button mdl-button--colored"
      [hidden]="!saved"
      style="float:right"
      >
      <!-- i18n: @@M__COMMON__SAVED -->Saved<!-- /i18n -->
    </button>
  </div>
  <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" [hidden]="!inProgress"></div>
</div>

<!-- START: NAME -->
<div class="mdl-card mdl-shadow--2dp mdl-color--white m-settings--name">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" i18n="@@MINDS__SETTINGS__DISPLAY_NAME_TITLE">Display Name</h2>
  </div>

  <div class="mdl-card__supporting-text">

      <input class="m-input"
        type="name"
        id="name"
        name="name"
        [(ngModel)]="name"
        (keyup)="change()"
        />

  </div>
</div>
<!-- END: NAME -->

<!-- START: PASSWORD -->
<div class="mdl-card mdl-shadow--2dp mdl-color--white m-settings--password">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" i18n="@@MINDS__SETTINGS__ACCOUNT_PASSWORD_TITLE">Account Password</h2>
  </div>

  <div class="mdl-card__supporting-text">

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdlTextfield]>
      <input class="mdl-textfield__input"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        (keyup)="change()"
        />
      <label class="mdl-textfield__label" for="password" i18n="@@MINDS__SETTINGS__CURRENT_PASSWORD_LABEL">Current password</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdlTextfield]>
      <input class="mdl-textfield__input"
        type="password"
        id="password1"
        name="password1"
        [(ngModel)]="password1"
        [disabled]="!password"
        (keyup)="change()"
        />
      <label class="mdl-textfield__label" for="password1" i18n="@@MINDS__SETTINGS__NEW_PASSWORD_LABEL">Your new password</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdlTextfield]>
      <input class="mdl-textfield__input"
        type="password"
        id="password2"
        name="password2"
        [(ngModel)]="password2"
        [disabled]="!password"
        (keyup)="change()"
        />
      <label class="mdl-textfield__label" for="password2" i18n="@@MINDS__SETTINGS__NEW_PASSWORD_AGAIN_LABEL">Your new password again</label>
    </div>
  </div>
</div>
<!-- END: PASSWORD -->

<!-- START: MATURE CONTENT -->
<div class="mdl-card mdl-shadow--2dp mdl-color--white m-settings--mature">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" i18n="@@MINDS__SETTINGS__MATURE_CONTENT_TITLE">Mature Content</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <input type="checkbox"
      id="flag_mature"
      (click)="change()"
      name="mature"
      [(ngModel)]="mature"
      />
      <i class="material-icons m-material-icons-inline mdl-color-text--red-500">explicit</i>
      <label for="flag_mature">
          <!-- i18n: @@MINDS__SETTINGS__MATURE_CONTENT_LABEL -->Always show mature content (18+)<!-- /i18n -->
      </label>
  </div>

</div>
<!-- END: MATURE CONTENT -->

<!-- START: EMAIL -->
<div class="mdl-card mdl-shadow--2dp mdl-color--white m-settings--email">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" i18n="@@MINDS__SETTINGS__EMAIL_SETTINGS_TITLE">Email Settings</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <input class="m-input"
      type="email"
      id="email"
      [(ngModel)]="email"
      (keyup)="change()"
      />
  </div>
  <div class="mdl-card__supporting-text">
    <input type="checkbox"
      id="flag_mails"
      (click)="change()"
      name="enabled_emails"
      [(ngModel)]="enabled_mails"
      />
      <i class="material-icons m-material-icons-inline mdl-color-text--red-500">email</i>
      <label for="flag_mature">
          <!-- i18n: @@MINDS__SETTINGS__RECEIVE_EMAILS_LABEL -->Receive emails<!-- /i18n -->
      </label>
  </div>

</div>
<!-- END: EMAIL -->

<!-- START: FB connect -->
<div class="mdl-card mdl-shadow--2dp mdl-color--white m-settings--facebook" *ngIf="thirdpartynetworks.hasIntegration('facebook')">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" i18n="@@M__NAMES__FACEBOOK">Facebook</h2>
  </div>
  <div class="mdl-card__supporting-text" *ngIf="minds.user.signup_method == 'facebook'">
    <button class="mdl-button mdl-button--raised mdl-button--accent" (click)="removeFbLogin()" [disabled]="thirdpartynetworks.inProgress">
      <!-- i18n: @@MINDS__SETTINGS__REVOKE_FACEBOOK_ACTION -->Revoke Facebook Login<!-- /i18n -->
    </button>
  </div>
  <div class="mdl-card__supporting-text" *ngIf="thirdpartynetworks.isConnected('facebook')">
    <button class="mdl-button mdl-button--raised mdl-button--accent" (click)="removeFb()" [disabled]="thirdpartynetworks.inProgress">
      <!-- i18n: @@MINDS__SETTINGS__DISCONNECT_FACEBOOK_ACTION -->Disconnect from Facebook<!-- /i18n -->
    </button>
  </div>
  <div class="mdl-card__supporting-text" *ngIf="!thirdpartynetworks.isConnected('facebook')">
    <button class="mdl-button mdl-button--raised mdl-button--accent" (click)="connectFb()" [disabled]="thirdpartynetworks.inProgress">
      <!-- i18n: @@MINDS__SETTINGS__CONNECT_FACEBOOK_ACTION -->Connect with Facebook<!-- /i18n -->
    </button>
  </div>
</div>
<!-- END: FB connect -->

<!-- START: Tw connect -->
<div class="mdl-card mdl-shadow--2dp mdl-color--white m-settings--twitter" *ngIf="thirdpartynetworks.hasIntegration('twitter')">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" i18n="@@M__NAMES__TWITTER">Twitter</h2>
  </div>
  <div class="mdl-card__supporting-text" *ngIf="thirdpartynetworks.isConnected('twitter')">
    <button class="mdl-button mdl-button--raised mdl-button--accent" (click)="removeTw()" [disabled]="thirdpartynetworks.inProgress">
      <!-- i18n: @@MINDS__SETTINGS__DISCONNECT_TWITTER_ACTION -->Disconnect from Twitter<!-- /i18n -->
    </button>
    <!-- i18n: @@MINDS__SETTINGS__CONNECTED_AS_TWITTER_LABEL -->Connected as @{{ thirdpartynetworks.getStatusKey('twitter', 'username') }}<!-- /i18n -->
  </div>
  <div class="mdl-card__supporting-text" *ngIf="!thirdpartynetworks.isConnected('twitter')">
    <button class="mdl-button mdl-button--raised mdl-button--accent" (click)="connectTw()" [disabled]="thirdpartynetworks.inProgress">
      <!-- i18n: @@MINDS__SETTINGS__CONNECT_TWITTER_ACTION -->Connect with Twitter<!-- /i18n -->
    </button>
  </div>
</div>
<!-- END: Tw connect -->

<!-- START: LANGUAGE -->
<div class="mdl-card mdl-shadow--2dp mdl-color--white m-settings--language">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" i18n="@@MINDS__SETTINGS__LANGUAGE_SETTINGS_TITLE">Language Settings</h2>
  </div>

  <div class="mdl-card__supporting-text">
    <!-- i18n: @@MINDS__SETTINGS__SITE_LANGUAGE_LABEL -->Site language:<!-- /i18n -->
    <select name="language" [ngModel]="language" (ngModelChange)="language = $event; change()">
      <option value="en">English</option>
      <option value="es">Español</option>
    </select>
  </div>

</div>
<!-- END: LANGUAGE -->

<!-- START: CATEGORIES -->
<div class="mdl-card mdl-shadow--2dp mdl-color--white m-settings--categories">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" i18n="@@MINDS__SETTINGS__CATEGORIES_TITLE">Categories</h2>
  </div>

  <div class="mdl-card__supporting-text">
    <ul name="categories" class="minds-settings--list">
      <li class="minds-settings--list-item"
        *ngFor="let category of categories" [value]="category.id"
        [class.selected]="category.selected"
        (click)="onCategoryClick(category)">

        {{ category.label }}

      </li>
    </ul>
  </div>
</div>
<!-- END: CATEGORIES -->
