<div class="m-settings--billing-subscriptions mdl-card mdl-shadow--2dp mdl-color--white">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" i18n="@@SETTINGS__SUBSCRIPTIONS__TITLE">Recurring Payments</h2>
  </div>

  <div [hidden]="!inProgress" style="width:100%; text-align:center;">
    <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
  </div>

  <div class="m-settings--billing-subscriptions--subscription">
    <ul>
      <li *ngFor="let subscription of subscriptions; let i = index"
        class="m-settings--billing-subscriptions--subscription-item"
      >
        <span class="m-settings--billing-subscriptions--subscription-item-type">{{ subscription.plan }}</span>
        <span *ngIf="subscription.entity && subscription.entity.type == 'user'"><i style="text-style:normal">@</i>{{subscription.entity.username}}</span>
        <span *ngIf="subscription.entity && subscription.entity.type != 'user'"><i style="text-style:normal">@</i>{{subscription.entity.ownerObj.username}}</span>
        <span class="m-settings--billing-subscriptions--subscription-item-amount">{{subscription.amount | currency:'USD':true:'1.0-0' }}</span>
        <span class="m-settings--billing-subscriptions--subscription-item-select" (click)="cancel(i)" i18n="@@M__ACTION__CANCEL">Cancel</span>
      </li>
    </ul>
  </div>

</div>
