$m-announcment-height: 50px;

m-announcement{
  display: block;
  position: relative;
  width: 100%;
  min-height: $m-announcment-height;
  height: $m-announcment-height;


  .m-announcement{
    position:fixed;
    width: 100%;
    height: $m-announcment-height;
    z-index: 9999;
    background: $herd-yellow;
    display:flex;
    flex-direction: row;
    align-items:center;
    width: calc(100% - 80px);

    @media screen and (max-width: 770px){
        width: 100%;
    }
    
  }

  .m-announcement--content{
    text-align: center;
    color: #FFF;
    letter-spacing: 1.2px;
    font-weight: 300;
    font-family: Lato;
    font-size: 16px;
    flex: 1;

    @media screen and (max-width:770px){
        font-size:13px;
        padding-right: 50px;
    }

    a{
      text-decoration:none;
      color:#FFF;
      display:block;
      font-weight: 300;
    }
  }

  .m-announcement--close{
    cursor:pointer;
    padding:12px;
    position:absolute;
    right: 0;

    i {
      color: #FFF;
    }
  }
}
