<div class="m-notifications--flyout--wrapper mdl-card mdl-shadow--3dp">
  <div class="m-notifications--flyout--scrollable-container">
    <minds-notifications [params]="item.params"></minds-notifications>
  </div>
  <div class="m-notifications--flyout--bottom-container mdl-color--indigo-50 mdl-color-text--blue-grey-200">
      <a [routerLink]="['/notifications']" (click)="close()" i18n="@@NOTIFICATIONS__FLYOUT__VIEW_ALL_ACTION"> View all </a>
  </div>
</div>
