<div class="avatar">
  <a [routerLink]="['/', notification.fromObj.username || '']" *ngIf="notification.fromObj">
    <img [src]="'/icon/' + notification.fromObj.guid + '/small/' + notification.fromObj.icontime" class="mdl-shadow--2dp"/>
  </a>
</div>

<div [ngSwitch]="notification.notification_view" class="body">

  <!-- subscribed -->
  <ng-template ngSwitchCase="friends">
    <a [routerLink]="['/', notification.fromObj.username || '']">
      <p *ngIf="notification.fromObj.subscribed" i18n="@@NOTIFICATIONS__NOTIFICATION__FRIENDS_MATCH">You have a match! {{notification.fromObj.name}} subscribed to you</p>
      <p *ngIf="!notification.fromObj.subscribed" i18n="@@NOTIFICATIONS__NOTIFICATION__FRIENDS">{{notification.fromObj.name}} subscribed to you</p>
    </a>
  </ng-template>

  <!-- group inivite -->
  <ng-template ngSwitchCase="group_invite">
    <a [routerLink]="['/groups/profile', notification.params.group.guid]">
        <p i18n="@@NOTIFICATIONS__NOTIFICATION__GROUP_INVITE">{{notification.params.user}} invited you to join <span class="pseudo-link mdl-color-text--indigo-400">{{notification.params.group.name}}</span></p>
    </a>
  </ng-template>

  <!-- group kick -->
  <ng-template ngSwitchCase="group_kick">
    <a [routerLink]="['/groups/profile', notification.params.group.guid]">
        <p i18n="@@NOTIFICATIONS__NOTIFICATION__GROUP_KICK">You were kicked off from <span class="pseudo-link mdl-color-text--indigo-400">{{notification.params.group.name}}</span></p>
    </a>
  </ng-template>

  <!-- group activity -->
  <ng-template ngSwitchCase="group_activity">
    <a [routerLink]="['/newsfeed', notification.entityObj.guid]">
      <p>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__GROUP_ACTIVITY --><span class="pseudo-link mdl-color-text--indigo-400">{{notification.fromObj.name}}</span> posted in <span class="pseudo-link mdl-color-text--indigo-400">{{notification.params.group.name}}</span><!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Group Queue-->

  <!-- Add -->
  <ng-template ngSwitchCase="group_queue_add">
    <a [routerLink]="['/newsfeed', notification.entityObj.guid ]">
      <p i18n="@@NOTIFICATIONS__NOTIFICATION__GROUP_QUEUE_ADD">
        Your post for <span class="pseudo-link mdl-color-text--indigo-400">{{notification.params.group.name}}</span> is awaiting approval from group administrators.
      </p>
    </a>
  </ng-template>

  <!-- Approve -->
  <ng-template ngSwitchCase="group_queue_approve">
    <a [routerLink]="['/newsfeed', notification.entityObj.guid ]">
      <p i18n="@@NOTIFICATIONS__NOTIFICATION__GROUP_QUEUE_APPROVE">
        Your post for <span class="pseudo-link mdl-color-text--indigo-400">{{notification.params.group.name}}</span> was approved.
      </p>
    </a>
  </ng-template>

  <!-- Reject -->
  <ng-template ngSwitchCase="group_queue_reject">
    <a [routerLink]="['/newsfeed', notification.entityObj.guid ]">
      <p i18n="@@NOTIFICATIONS__NOTIFICATION__GROUP_QUEUE_REJECT">
        Your post for <span class="pseudo-link mdl-color-text--indigo-400">{{notification.params.group.name}}</span> was rejected.
      </p>
    </a>
  </ng-template>

  <!-- / Group Queue -->

  <!-- comment -->
  <ng-template ngSwitchCase="comment">
    <div *ngIf="notification.entityObj">

      <!-- Activity -->
      <a *ngIf="notification.entityObj.type == 'activity'"
        [routerLink]="['/newsfeed', notification.entityObj.guid]">
        <p *ngIf="notification.entityObj.owner_guid == session.getLoggedInUser().guid && !notification.entityObj.title">
          <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__COMMENT_ACTIVITY_OWN -->{{notification.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--indigo-400">your activity</span><!-- /i18n -->
        </p>
        <p *ngIf="notification.entityObj.owner_guid != session.getLoggedInUser().guid  && !notification.entityObj.title">
          <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__COMMENT_ACTIVITY_OTHER -->{{notification.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--indigo-400">{{notification.entityObj.ownerObj.name}}'s activity</span><!-- /i18n -->
        </p>
        <p *ngIf="notification.entityObj.title">
          <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__COMMENT_X_ON_Y -->{{notification.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--indigo-400">{{notification.entityObj.title | excerpt}}</span><!-- /i18n -->
        </p>
      </a>

      <!-- Object-->
      <div *ngIf="notification.entityObj.type == 'object'">

        <div *ngIf="notification.entityObj.subtype == 'blog'">
          <a [routerLink]="notification.entityObj.route ? [ '/' + notification.entityObj.route ] : ['/blog/view', notification.entityObj.guid]">
            <p i18n="@@NOTIFICATIONS__NOTIFICATION__COMMENT_X_ON_Y">{{notification.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--indigo-400">{{notification.entityObj.title | excerpt}}</span></p>
          </a>
        </div>

        <div *ngIf="notification.entityObj.subtype != 'blog'">
          <a [routerLink]="['/media', notification.entityObj.guid]">
            <p>
              <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__COMMENTED_ON -->{{notification.fromObj.name}} commented on<!-- /i18n -->
              <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj.title" >{{notification.entityObj.title | excerpt}}</span>
              <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj.owner_guid != session.getLoggedInUser().guid && !notification.entityObj.title" i18n="object belonging to user@@NOTIFICATIONS__NOTIFICATION__OTHER_OBJECT">{{notification.entityObj.ownerObj.name}}'s {{notification.entityObj.subtype}}</span>
              <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj.owner_guid == session.getLoggedInUser().guid && !notification.entityObj.title" i18n="object belonging to current user@@NOTIFICATIONS__NOTIFICATION__OWN_OBJECT">your {{notification.entityObj.subtype}}</span>
            </p>
          </a>
        </div>

      </div>

      <!-- Default -->
      <a *ngIf="notification.entityObj.type != 'object' && notification.entityObj.type != 'activity'">
        <p style="font-style:italic">
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__ERROR_VIEWING -->There was an error viewing this notification.<!-- /i18n -->
        </p>
      </a>
    </div>
  </ng-template>

  <!-- up voted content -->
  <ng-template ngSwitchCase="like">
    <div *ngIf="notification.entityObj">
      <a [routerLink]="['/newsfeed', notification.entityObj.guid]" *ngIf="notification.entityObj.type == 'object'">
        <p>
          <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__LIKE__VOTED_UP_OBJECT -->{{notification.fromObj.name}} voted up<!-- /i18n -->
          <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
          <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="!notification.entityObj.title" i18n="object belonging to current user@@NOTIFICATIONS__NOTIFICATION__OWN_OBJECT">your {{notification.entityObj.subtype}}</span>
        </p>
      </a>
      <a [routerLink]="['/newsfeed', notification.entityObj.guid]" *ngIf="notification.entityObj.type == 'activity'">
        <p *ngIf="notification.entityObj.title">
          <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__LIKE__VOTED_UP_ACTIVITY -->{{notification.fromObj.name}} voted up <span class="pseudo-link mdl-color-text--indigo-400">{{notification.entityObj.title | excerpt}}</span><!-- /i18n -->
        </p>
        <p *ngIf="!notification.entityObj.title">
          <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__LIKE__VOTED_UP_OWN_ACTIVITY -->{{notification.fromObj.name}} voted up <span class="pseudo-link mdl-color-text--indigo-400">your activity</span><!-- /i18n -->
        </p>
      </a>

      <ng-container *ngIf="notification.entityObj.type == 'comment'">
        <a [routerLink]="['/newsfeed', notification.entityObj.parent_guid]" *ngIf="notification.params?.parent?.type != 'group'">
          <p>
            <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__LIKE__VOTED_UP_COMMENT -->{{notification.fromObj.name}} voted up <span class="pseudo-link mdl-color-text--indigo-400"> your comment </span><!-- /i18n -->
          </p>
        </a>

        <a [routerLink]="['/groups/profile', notification.entityObj.parent_guid, 'conversation']" *ngIf="notification.params?.parent?.type == 'group'">
          <p i18n="@@NOTIFICATIONS__NOTIFICATION__LIKE__VOTED_UP_CONVERSATION">
            <span class="pseudo-link mdl-color-text--indigo-400" >{{notification.fromObj.name}}</span> voted up your message in
            <span class="pseudo-link mdl-color-text--indigo-400">{{ notification.params.parent.name }}</span>'s conversation
          </p>
        </a>
      </ng-container>

      <a [routerLink]="['/newsfeed', notification.entityObj.guid]" *ngIf="!notification.entityObj">
        <p style="font-style:italic">
          <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__POST_DELETED -->This post was deleted.<!-- /i18n -->
        </p>
      </a>
    </div>
  </ng-template>

  <!-- down voted content -->
  <ng-template ngSwitchCase="downvote">
    <div *ngIf="notification.entityObj">
      <a [routerLink]="['/newsfeed', notification.entityObj.guid]" *ngIf="notification.entityObj.type == 'object'">
        <p>
          <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__DOWNVOTE__VOTED_DOWN_OBJECT -->{{notification.fromObj.name}} down voted<!-- /i18n -->
              <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
              <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="!notification.entityObj.title" i18n="object belonging to current user@@NOTIFICATIONS__NOTIFICATION__OWN_OBJECT">your {{notification.entityObj.subtype}}</span>
        </p>
      </a>
      <a [routerLink]="['/newsfeed', notification.entityObj.guid]" *ngIf="notification.entityObj.type == 'activity'">
        <p *ngIf="notification.entityObj.title">
          <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__DOWNVOTE__VOTED_DOWN_ACTIVITY -->{{notification.fromObj.name}} down voted <span class="pseudo-link mdl-color-text--indigo-400">{{notification.entityObj.title | excerpt}}</span><!-- /i18n -->
        </p>
        <p *ngIf="!notification.entityObj.title">
          <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__DOWNVOTE__VOTED_DOWN_OWN_ACTIVITY -->{{notification.fromObj.name}} down voted <span class="pseudo-link mdl-color-text--indigo-400">your activity</span><!-- /i18n -->
        </p>
      </a>

      <ng-container *ngIf="notification.entityObj.type == 'comment'">
        <a [routerLink]="['/newsfeed', notification.entityObj.parent_guid]" *ngIf="notification.params?.parent?.type != 'group'">
          <p>
            <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__DOWNVOTE__VOTED_DOWN_COMMENT -->{{notification.fromObj.name}} down voted <span class="pseudo-link mdl-color-text--indigo-400"> your comment </span><!-- /i18n -->
          </p>
        </a>

        <a [routerLink]="['/groups/profile', notification.entityObj.parent_guid, 'conversation']" *ngIf="notification.params?.parent?.type == 'group'">
          <p i18n="@@NOTIFICATIONS__NOTIFICATION__DOWNVOTE__VOTED_DOWN_CONVERSATION">
            <span class="pseudo-link mdl-color-text--indigo-400" >{{notification.fromObj.name}}</span> down voted your message in
            <span class="pseudo-link mdl-color-text--indigo-400">{{ notification.params.parent.name }}</span>'s conversation
          </p>
        </a>
      </ng-container>

      <a [routerLink]="['/newsfeed', notification.entityObj.guid]" *ngIf="!notification.entityObj">
        <p style="font-style:italic">
          <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__POST_DELETED -->This post was deleted.<!-- /i18n -->
        </p>
      </a>
    </div>
  </ng-template>

  <!-- Remind -->
  <ng-template ngSwitchCase="remind">
    <div *ngIf="notification.entityObj">
      <a [routerLink]="['/newsfeed', notification.entityObj.guid]" *ngIf="notification.entityObj.type == 'object'">
          <p><!-- i18n: @@NOTIFICATIONS__NOTIFICATION__REMIND__REMINDED -->{{notification.fromObj.name}} reminded<!-- /i18n -->
              <span class="pseudo-link mdl-color-text--indigo-400"  *ngIf="notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
              <span class="pseudo-link mdl-color-text--indigo-400"  *ngIf="!notification.entityObj.title" i18n="object belonging to current user@@NOTIFICATIONS__NOTIFICATION__OWN_OBJECT">your {{notification.entityObj.subtype}}</span>
         </p>
      </a>
      <a [routerLink]="['/newsfeed', notification.entityObj.guid]" *ngIf="notification.entityObj.type == 'activity'">
          <p *ngIf="notification.entityObj.title">
            <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__REMIND__REMINDED_ACTIVITY -->{{notification.fromObj.name}} reminded <span class="pseudo-link mdl-color-text--indigo-400">{{notification.entityObj.title | excerpt}}</span><!-- /i18n -->
          </p>
          <p *ngIf="!notification.entityObj.title">
            <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__REMIND__REMINDED_OWN_ACTIVITY -->{{notification.fromObj.name}} reminded <span class="pseudo-link mdl-color-text--indigo-400">your activity</span><!-- /i18n -->
          </p>
      </a>
    </div>
  </ng-template>

  <!-- featured -->
  <ng-template ngSwitchCase="feature">
    <div *ngIf="notification.entityObj">
      <a [routerLink]="['/newsfeed', notification.entityObj.guid]">
        <p i18n="@@NOTIFICATIONS__NOTIFICATION__FEATURE"><span class="pseudo-link mdl-color-text--indigo-400">{{notification.entityObj.title | excerpt}}</span> was featured</p>
      </a>
    </div>
  </ng-template>

  <!-- mention -->
  <ng-template ngSwitchCase="tag">
    <div *ngIf="notification.entityObj">
      <!-- tags from comments link differently -->
      <a [routerLink]="['/newsfeed', notification.entityObj.guid]" *ngIf="notification.entityObj.type != 'comment'">
        <p i18n="@@NOTIFICATIONS__NOTIFICATION__TAG__IN_A_POST">{{notification.fromObj.name}} tagged you in a post</p>
      </a>

      <ng-container *ngIf="notification.entityObj.type == 'comment'">
        <a [routerLink]="['/newsfeed', notification.entityObj.parent_guid]" *ngIf="notification.params?.parent?.type != 'group'">
          <p i18n="@@NOTIFICATIONS__NOTIFICATION__TAG__IN_A_COMMENT">{{notification.fromObj.name}} tagged you in a comment</p>
        </a>

        <a [routerLink]="['/groups/profile', notification.entityObj.parent_guid, 'conversation']" *ngIf="notification.params?.parent?.type == 'group'">
          <p i18n="@@NOTIFICATIONS__NOTIFICATION__TAG__IN_A_CONVERSATION">
            <span class="pseudo-link mdl-color-text--indigo-400" >{{notification.fromObj.name}}</span> tagged you in
            <span class="pseudo-link mdl-color-text--indigo-400">{{ notification.params.parent.name }}</span>'s conversation
          </p>
        </a>
      </ng-container>
    </div>
  </ng-template>

  <!-- missed-call -->
  <ng-template ngSwitchCase="missed_call">
    <a >
      <p i18n="@@NOTIFICATIONS__NOTIFICATION__MISSED_CALL"><span class="pseudo-link mdl-color-text--indigo-400" >{{notification.fromObj.name}}</span> tried to call you.</p>
    </a>
  </ng-template>

  <!-- boost_gift -->
  <ng-template ngSwitchCase="boost_gift">
    <a [routerLink]="notification.entityObj.type == 'activity' ? ['/newsfeed', notification.entityObj.guid] : ['/wallet/boost/content']">
      <p>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__PROMOTE_GIFT__GIFTED_YOU -->{{notification.fromObj.name}} gifted you {{notification.params.impressions}} views <span *ngIf="notification.entityObj">for</span><!-- /i18n -->
        <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
        <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.name">{{notification.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_POST">your post</span>
        <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_CHANNEL">your channel</span>
      </p>
    </a>
  </ng-template>

  <!-- Standard boost notification for owner -->
  <ng-template ngSwitchCase="boost_submitted">
    <a [routerLink]="notification.entityObj.type == 'activity' ? ['/newsfeed', notification.entityObj.guid] : ['/wallet/boost/content']">
     <p><!-- i18n: @@NOTIFICATIONS__NOTIFICATION__PROMOTE_SUBMITTED__VIEWS_FOR -->{{notification.params.impressions}} views <span *ngIf="notification.entityObj">for</span><!-- /i18n -->
      <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
      <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.name">{{notification.entityObj.name}}</span>
      <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_POST">your post</span>
      <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_CHANNEL">your channel</span>
      <!-- i18n: boost@@NOTIFICATIONS__NOTIFICATION__PROMOTE_SUBMITTED__AWAITING_APPROVAL --> is awaiting approval.<!-- /i18n -->
     </p>
   </a>
  </ng-template>

  <!-- P2P boost submitted -->
  <ng-template ngSwitchCase="boost_submitted_p2p">
      <a [routerLink]="notification.entityObj.type == 'activity' ? ['/newsfeed', notification.entityObj.guid] : ['/wallet/boost/content']">
        <p><!-- i18n: @@NOTIFICATIONS__NOTIFICATION__X_POINTS_FOR -->{{notification.params.points}} points <span *ngIf="notification.entityObj">for</span><!-- /i18n -->
          <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
          <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.name">{{notification.entityObj.name}}</span>
          <span class="pseudo-link mdl-color-text--indigo-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_POST">your post</span>
          <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_CHANNEL">your channel</span>
          <!-- i18n: boost@@NOTIFICATIONS__NOTIFICATION__PROMOTE_SUBMITTED_P2P__AWAITING_APPROVAL_BY -->is awaiting approval by <span class="pseudo-link mdl-color-text--blue-grey-400">@{{notification.params.channel}}</span><!-- /i18n -->
        </p>
      </a>
  </ng-template>

  <!-- P2P Boost Request -->
  <ng-template ngSwitchCase="boost_request">
      <a ng-click="loadBoostReview(notification.entityObj.guid)">
          <p><!-- i18n: @@NOTIFICATIONS__NOTIFICATION__PROMOTE_REQUEST__POINTS_TO_PROMOTE -->{{notification.fromObj.name}} is offering you {{notification.params.points}} points to boost<!-- /i18n -->
              <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
              <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.name">{{notification.entityObj.name}}</span>
              <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__THEIR_ACTIVITY">their activity</span>
              <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__THEIR_CHANNEL">their channel</span>
         </p>
      </a>
  </ng-template>

  <!-- Boost reject -->
  <ng-template ngSwitchCase="boost_rejected">
    <a [routerLink]="notification.entityObj.type == 'activity' ? ['/newsfeed', notification.entityObj.guid] : ['/wallet/boost/content']">
      <p><!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_REJECTED__BOOST_FORM -->Your boost <span *ngIf="notification.entityObj">for</span><!-- /i18n -->
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.name">{{notification.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_POST">your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_CHANNEL">your channel</span>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_REJECTED__REASON -->was rejected: <ng-container *ngIf="notification.params.reason && notification.params.reason !== -1"><i>{{ findReason(notification.params.reason).label }}</i>.</ng-container> Your points have been credited back to your wallet.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Boost revoked -->
  <ng-template ngSwitchCase="boost_revoked">
    <a [routerLink]="notification.entityObj.type == 'activity' ? ['/newsfeed', notification.entityObj.guid] : ['/wallet/boost/content']">
      <p><!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_REVOKED__BOOST_FOR -->You revoked your boost <span *ngIf="notification.entityObj">for</span><!-- /i18n -->
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.name">{{notification.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_POST">your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_CHANNEL">your channel</span>
        . <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_REVOKED__REFUNDED -->Your offer has been refunded.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Boost accepted -->
  <ng-template ngSwitchCase="boost_accepted">
    <a [routerLink]="notification.entityObj.type == 'activity' ? ['/newsfeed', notification.entityObj.guid] : ['/wallet/boost/content']">
      <p *ngIf="notification.params.impressions"><!-- i18n: @@NOTIFICATIONS__NOTIFICATION__X_POINTS_FOR -->{{notification.params.impressions}} points <span *ngIf="notification.entityObj">for</span><!-- /i18n -->
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.name">{{notification.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_POST">your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_CHANNEL">your channel</span>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_ACCEPTED__WERE_ACCEPTED -->were accepted.<!-- /i18n -->
      </p>
      <p *ngIf="notification.params.points"><!-- i18n: @@NOTIFICATIONS__NOTIFICATION__X_POINTS_FOR -->{{notification.params.points}} points <span *ngIf="notification.entityObj">for</span><!-- /i18n -->
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.name">{{notification.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_POST">your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_CHANNEL">your channel</span>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_ACCEPTED__WERE_ACCEPTED -->were accepted.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Boost completed -->
  <ng-template ngSwitchCase="boost_completed">
    <a [routerLink]="notification.entityObj.type == 'activity' ? ['/newsfeed', notification.entityObj.guid] : ['/wallet/boost/content']">
      <p><!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_COMPLETED__VIEWS_FOR -->{{notification.params.impressions}}/{{notification.params.impressions}} views <span *ngIf="notification.entityObj">for</span><!-- /i18n -->
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.name">{{notification.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_POST">your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_CHANNEL">your channel</span>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_COMPLETED__BEEN_MET -->have been met.<!-- /i18n --></p>
    </a>
  </ng-template>

  <!-- Boost (Peer) Request -->
  <ng-template ngSwitchCase="boost_peer_request">
    <a [routerLink]="['/wallet/boost/peer']">
      <p>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_PEER_REQUEST__IS_OFFERING --><b>@{{notification.from.username}}</b> is offering<!-- /i18n -->
        <b>
          {{notification.params.bid}}
          <span [hidden]="notification.params.type != 'pro'" i18n="@@M__COMMON__USD">USD</span>
          <span [hidden]="notification.params.type != 'points'" i18n="@@M__COMMON__POINTS_SUFFIX">points</span>
        </b>
        <span *ngIf="notification.entityObj" i18n="@@NOTIFICATIONS__NOTIFICATION__FOR_WORD">for</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entityObj.title | excerpt}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.name">{{notification.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__THEIR_POST">their post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && !notification.entityObj.name && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__THEIR_CHANNEL">their channel</span>
      </p>
    </a>
  </ng-template>

  <!-- Boost (Peer) Request -->
  <ng-template ngSwitchCase="boost_peer_accepted">
    <a [routerLink]="['/wallet/boost/peer/outbox']">
      <p>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_PEER_ACCEPTED__ACCEPTED_BID --><b>@{{notification.from.username}}</b> accepted your bid of<!-- /i18n -->
        <b>
          {{notification.params.bid}}
          <span [hidden]="notification.params.type != 'pro'" i18n="@@M__COMMON__USD">USD</span>
          <span [hidden]="notification.params.type != 'points'" i18n="@@M__COMMON__POINTS_SUFFIX">points</span>
        </b>
        <span *ngIf="notification.entityObj">for</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400"  *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entity.title | excerpt}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_POST">your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_CHANNEL">your channel</span>
      </p>
    </a>
  </ng-template>

  <!-- Boost (Peer) Rejeced -->
  <ng-template ngSwitchCase="boost_peer_rejected">
    <a [routerLink]="['/wallet/boost/peer/outbox']">
      <p>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_PEER_REJECTED__DECLINED_BID --><b>@{{notification.from.username}}</b> declined your bid of<!-- /i18n -->
        <b>
          {{notification.params.bid}}
          <span [hidden]="notification.params.type != 'pro'" i18n="@@M__COMMON__USD">USD</span>
          <span [hidden]="notification.params.type != 'points'" i18n="@@M__COMMON__POINTS_SUFFIX">points</span>
        </b>
        <span *ngIf="notification.entityObj" i18n="X points _for_ entity@@NOTIFICATIONS__NOTIFICATION__FOR_WORD">for</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400"  *ngIf="notification.entityObj && notification.entityObj.title">{{notification.entity.title | excerpt}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.type !== 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_POST">your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="notification.entityObj && !notification.entityObj.title && notification.entityObj.type === 'user'" i18n="@@NOTIFICATIONS__NOTIFICATION__YOUR_CHANNEL">your channel</span>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__BOOST_PEER_REJECTED__NOT_CHARGED -->You have not been charged.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Programs (queued) -->
  <ng-template ngSwitchCase="program_queued">
    <a routerLink="/wallet">
      <p>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__PROGRAM_QUEUED -->Your application for {{ notification.params.program }} program is awaiting approval.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Programs (accepted) -->
  <ng-template ngSwitchCase="program_accepted">
    <a routerLink="/wallet">
      <p>  
      <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__PROGRAM_ACCEPTED -->Your application for {{ notification.params.program }} program was approved. Congratulations!<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Channel monetized -->
  <ng-template ngSwitchCase="channel_monetized">
    <a routerLink="/wallet">
      <p>  
      <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__CHANNEL_MONETIZED -->Your channel is now monetized. Congratulations!<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Programs (declined) -->
  <ng-template ngSwitchCase="program_declined">
    <a routerLink="/wallet">
      <p>  
      <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__PROGRAM_DECLINED -->Your application for {{ notification.params.program }} program was declined.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Payouts (queued) -->
  <ng-template ngSwitchCase="payout_queued">
    <a routerLink="/wallet/ledger">
      <p>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__PAYOUT_QUEUED -->Your payment request for {{ notification.params.amount | currency:'USD':true }} is awaiting approval.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Payouts (accepted) -->
  <ng-template ngSwitchCase="payout_accepted">
    <a routerLink="/wallet/ledger">
      <p>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__PAYOUT_ACCEPTED -->Your payment request for {{ notification.params.amount | currency:'USD':true }} was approved.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Payouts (declined) -->
  <ng-template ngSwitchCase="payout_declined">
    <a routerLink="/wallet/ledger">
      <p>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__PAYOUT_DECLINED -->Your payment request for {{ notification.params.amount | currency:'USD':true }} was declined.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Points prompt -->
  <ng-template ngSwitchCase="custom_message">
      <a>
          <p>{{notification.params.message}}</p>
      </a>
  </ng-template>

  <!-- Welcome points -->
  <ng-template ngSwitchCase="welcome_points">
      <a [routerLink]="['/wallet']">
          <p i18n="@@NOTIFICATIONS__NOTIFICATION__WELCOME_POINTS">Welcome to Herd. We have given you  <span class="pseudo-link mdl-color-text--blue-grey-400">1000 points</span> to get you started.</p>
      </a>
  </ng-template>

  <!-- tutorial/promts -->
  <ng-template ngSwitchCase="welcome_post">
      <a [routerLink]="['/capture']">
          <p i18n="@@NOTIFICATIONS__NOTIFICATION__WELCOME_POST"><span class="pseudo-link mdl-color-text--blue-grey-400">Tap here</span> to create a post</p>
      </a>
  </ng-template>

  <!-- Welcome messages -->
  <ng-template ngSwitchCase="welcome_boost">
      <a [routerLink]="['/', session.getLoggedInUser().username]">
          <p i18n="@@NOTIFICATIONS__NOTIFICATION__WELCOME_BOOST">You can gain more reach by boosting your content. Hit the blue boost icon on your posts.</p>
      </a>
  </ng-template>
  <ng-template ngSwitchCase="welcome_chat">
      <a>
          <p i18n="@@NOTIFICATIONS__NOTIFICATION__WELCOME_CHAT">Chat securely with your mutual subscriptions.</p>
      </a>
  </ng-template>
  <ng-template ngSwitchCase="welcome_discover">
      <a [routerLink]="['/discovery/all']">
          <p i18n="@@NOTIFICATIONS__NOTIFICATION__WELCOME_DISCOVER"><span class="pseudo-link mdl-color-text--blue-grey-400">Tap here</span> to discover new channels and media.</p>
      </a>
  </ng-template>

  <!-- Messenger -->
  <ng-template ngSwitchCase="messenger_invite">
    <a href="#" (click)="openMessengerWindow($event)">
      <p>
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__MESSENGER_INVITE --><span class="pseudo-link mdl-color-text--blue-grey-400">{{notification.params.username}}</span> wants to chat with you!<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Wires prompt -->
  <ng-template ngSwitchCase="wire_happened">
    <a *ngIf="notification.params.amount && notification.from && notification.to">
      <p *ngIf="!notification.params.subscribed && notification.params.from_guid == session.getLoggedInUser().guid" i18n="@@NOTIFICATIONS__NOTIFICATION__WIRE_HAPPENED__TO_ONETIME">
        You have successfully wired {{notification.params.amount}} to <a [routerLink]="['/', notification.params.to_username]" class="pseudo-link mdl-color-text--blue-grey-400">@{{notification.params.to_username}}</a>
      </p>

      <p *ngIf="!notification.params.subscribed && notification.params.from_guid != session.getLoggedInUser().guid" i18n="@@NOTIFICATIONS__NOTIFICATION__WIRE_HAPPENED__FROM_ONETIME">
        You have received a wire of {{notification.params.amount}} from <a [routerLink]="['/', notification.params.from_username]" class="pseudo-link mdl-color-text--blue-grey-400">@{{notification.params.from_username}}</a>
      </p>

      <p *ngIf="notification.params.subscribed && notification.params.from_guid == session.getLoggedInUser().guid" i18n="@@NOTIFICATIONS__NOTIFICATION__WIRE_HAPPENED__TO_SUBSCRIPTION">
        You have subscribed to wire {{notification.params.amount}}/month to <a [routerLink]="['/', notification.params.to_username]" class="pseudo-link mdl-color-text--blue-grey-400">@{{notification.params.to_username}}</a>
      </p>

      <p *ngIf="notification.params.subscribed && notification.params.from_guid != session.getLoggedInUser().guid" i18n="@@NOTIFICATIONS__NOTIFICATION__WIRE_HAPPENED__FROM_SUBSCRIPTION">
        You have received a wire subscription of {{notification.params.amount}}/month from <a [routerLink]="['/', notification.params.from_username]" class="pseudo-link mdl-color-text--blue-grey-400">@{{notification.params.from_username}}</a>
      </p>
    </a>
  </ng-template>


  <!-- report actioned notification -->
  <ng-template ngSwitchCase="report_actioned">
    <div *ngIf="notification.entityObj">
          
      <!-- Activity -->
      <a *ngIf="notification.entityObj.type == 'activity'"
        target="_blank"
        routerLink="/settings/reported-content">
        <p *ngIf="notification.entityObj.owner_guid == session.getLoggedInUser().guid && !notification.entityObj.title">
          <span class="pseudo-link mdl-color-text--blue-grey-400" i18n="@@NOTIFICATIONS__NOTIFICATION__REPORT_ACTIONED__ACTIVITY_BEEN">Your post</span> has been {{notification.params.action}}
        </p>
        <p *ngIf="notification.entityObj.owner_guid == session.getLoggedInUser().guid && notification.entityObj.title">
          <span class="pseudo-link mdl-color-text--blue-grey-400" i18n="@@NOTIFICATIONS__NOTIFICATION__REPORT_ACTIONED__ACTIVITY_TITLE_BEEN">Your post {{notification.entityObj.title}}</span> has been {{notification.params.action}}
        </p>
      </a>

      <!-- Comments -->
      <a *ngIf="notification.entityObj.type == 'comment'"
        target="_blank"
        routerLink="/settings/reported-content">
        <p *ngIf="notification.entityObj.owner_guid == session.getLoggedInUser().guid" i18n="@@NOTIFICATIONS__NOTIFICATION__REPORT_ACTIONED__COMMENT_BEEN">
          <span class="pseudo-link mdl-color-text--blue-grey-400">Your comment</span> has been {{notification.params.action}}
        </p>
      </a>

      <!-- Default -->
      <a *ngIf="notification.entityObj.type != 'comment' && notification.entityObj.type != 'activity'">
        <p style="font-style:italic">
        <!-- i18n: @@NOTIFICATIONS__NOTIFICATION__ERROR_VIEWING -->There was an error viewing this notification.<!-- /i18n -->
        </p>
      </a>
    </div> 
  </ng-template>
    
  <!-- Default -->
  <ng-template ngSwitchDefault>
    <i i18n="@@NOTIFICATIONS__NOTIFICATION__GENERAL_ERROR_VIEWING">Sorry, there was an error viewing this notification</i>
    <span hidden>View: {{ notification.notification_view }}</span>
  </ng-template>

  <span class="ts mdl-color-text--grey">{{ notification.time_created * 1000 | date : 'medium' }}</span>

</div>
