<div class="mdl-tabs__tab-bar">
  <a (click)="changeFilter('all')" class="mdl-tabs__tab"
    [ngClass]="{ 'is-active': _filter == 'all' || !_filter }"
  >
    <m-tooltip icon="notifications" i18n="@@NOTIFICATIONS__NOTIFICATIONS__ALL_FILTER">All</m-tooltip>
    <span class="m-full-label" i18n="@@NOTIFICATIONS__NOTIFICATIONS__ALL_FILTER">All</span>
  </a>
  <a (click)="changeFilter('tags')" class="mdl-tabs__tab"
    [ngClass]="{ 'is-active': _filter == 'tags' }"
  >
    <m-tooltip icon="face" i18n="@@NOTIFICATIONS__NOTIFICATIONS__TAGS_FILTER">tags</m-tooltip>
    <span class="m-full-label" i18n="@@NOTIFICATIONS__NOTIFICATIONS__TAGS_FILTER">Tags</span>
  </a>
  <a (click)="changeFilter('comments')" class="mdl-tabs__tab"
    [ngClass]="{ 'is-active': _filter == 'comments' }"
  >
    <m-tooltip icon="chat_bubble" i18n="@@NOTIFICATIONS__NOTIFICATIONS__COMMENTS_FILTER">Comments</m-tooltip>
    <span class="m-full-label" i18n="@@NOTIFICATIONS__NOTIFICATIONS__COMMENTS_FILTER">Comments</span>
  </a>
  <a (click)="changeFilter('groups')" class="mdl-tabs__tab"
    [ngClass]="{ 'is-active': _filter == 'groups' }"
  >
    <m-tooltip icon="group_work" i18n="@@M__FEATURE__GROUP__PLURAL">Groups</m-tooltip>
    <span class="m-full-label" i18n="@@M__FEATURE__GROUP__PLURAL">Groups</span>
  </a>
  <a (click)="changeFilter('subscriptions')" class="mdl-tabs__tab"
    [ngClass]="{ 'is-active': _filter == 'subscriptions' }"
  >
    <m-tooltip icon="people" i18n="@@M__COMMON__SUBSCRIPTIONS">Subscriptions</m-tooltip>
    <span class="m-full-label" i18n="@@M__COMMON__SUBSCRIPTIONS">Subscriptions</span>
  </a>
  <a (click)="changeFilter('votes')" class="mdl-tabs__tab"
    [ngClass]="{ 'is-active': _filter == 'votes' }"
  >
    <m-tooltip icon="thumbs_up_down" i18n="@@NOTIFICATIONS__NOTIFICATIONS__VOTES_FILTER">Votes</m-tooltip>
    <span class="m-full-label" i18n="@@NOTIFICATIONS__NOTIFICATIONS__VOTES_FILTER">Votes</span>
  </a>
  <a (click)="changeFilter('reminds')" class="mdl-tabs__tab"
    [ngClass]="{ 'is-active': _filter == 'reminds' }"
  >
    <m-tooltip icon="repeat" i18n="@@NOTIFICATIONS__NOTIFICATIONS__REMINDS_FILTER">Reminds</m-tooltip>
    <span class="m-full-label" i18n="@@NOTIFICATIONS__NOTIFICATIONS__REMINDS_FILTER">Reminds</span>
  </a>
</div>

<div class="mdl-grid notifications-grid" style="max-width:600px">

  <div class="mdl-cell mdl-cell--12-col">

  <herd-notification
    *ngFor="let notification of notifications"
    class="mdl-card mdl-shadow--2dp mdl-color--white item"
    [notification]="notification"
  ></herd-notification>

  <infinite-scroll
    distance="25%"
    (load)="load()"
    [moreData]="moreData"
    [inProgress]="inProgress">
  </infinite-scroll>

  </div>

</div>
