<a class="mdl-color-text--black" (click)="toggle($event)">
  <i class="material-icons" 
    [ngClass]="{'mdl-color-text--amber-300' : item.extras?.counter > 0 && item.name == 'Notifications'}">
    {{item.icon}}
  </i>
  <span id="{{item.name | lowercase}}-counter" 
    class="counter mdl-color-text--white"
    *ngIf="item.extras">
    {{item.extras?.counter | abbr}}
  </span>
</a>

<div class="m-notifications--topbar-toggle-overlay" (click)="toggle($event)" *ngIf="toggled"></div>
<m-notifications--flyout (close)="toggle($event)" *ngIf="toggled" [item]="item"></m-notifications--flyout>