<herd-topbar class="minds-noshadow mdl-color--black mdl-color-text--yellow-a200"></herd-topbar>

<minds-sidebar class="mdl-color--yellow-a200 mdl-color--black mdl-color-text--blue-grey-50">
    <minds-sidebar-navigation class="mdl-navigation mdl-color--black"></minds-sidebar-navigation>
</minds-sidebar>

<minds-body class="mdl-color--black">
  <router-outlet></router-outlet>
</minds-body>

<minds-footer></minds-footer>

<!-- <m-messenger *ngIf="minds.LoggedIn"></m-messenger> -->

<m-modal-signup></m-modal-signup>
<m-hovercard-popup></m-hovercard-popup>

<m-overlay-modal></m-overlay-modal>
