<div class="mdl-card mdl-shadow--2dp mdl-color--black herd-wallet-points">
  <div class="m-points-balance mdl-color-text--yellow-a200">
    <i class="material-icons mdl-color-text--yellow-a200">account_balance</i>
    <h2 i18n="@@M__COMMON__POINTS_WITH_VALUE">{{wallet.points | number}} points</h2>
  </div>
</div>
