@import "defaults";

.herd-wallet-points {
  width: auto;
  min-height: 0;

  h2 {
    color: #FFF;
  }
}

.herd-quote-card {
  width: 100%;
  min-height: 0;
  border-radius: 0;

  margin-bottom: $minds-margin*2;

  .herd-boost-points-input {
    input {
      background: rgba(255, 255, 255, 0.3);
      color: #DDD;
    }
    input:disabled {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

.m-points-balance {
  padding: $minds-padding*4 $minds-padding;

  i {
    width: 100%;
    font-size: 100px;
    text-align: center;
  }
  h2 {
    text-align: center;
  }

}

.herd-purchase-card {
  width: 100%;
  min-height: 0;
  padding: 0;
  border-radius: 0;

  .herd-purchase-vendors {
    span {
      font-size: 13px;
      padding: 8px;
      cursor: pointer;
      text-transform: uppercase;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .mdl-grid {

    .mdl-cell {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      -webkit-align-items: center;
    }
  }

  select {
    padding: 8px 16px;
    margin-right: 16px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #EEE;
    /* border-right: 1px solid #DDD; */
    background-color: #FAFAFA;
    border-radius: 0;
  }
}

.herd-purchase-card-confirm {
  width: 100%;
  min-height: 0;
  margin-top: $minds-margin;

  button {
    float: right;
  }
}

.herd-purchase-recurring-option {
  padding: 16px;
  label {
    font-size: 12px;
  }
  span {
    font-style: italic;
    font-size: 12px;
  }
  .herd-purchase-recurring-cancel {
    cursor: pointer;
    font-weigth: bold;
  }
}

.herd-transaction-card {
  width: auto;
  min-height: 0;
  margin-bottom: $minds-padding * 2;

  .herd-transaction-points {
    font-size: 30px;
    .positive {
      color: green;
    }
    .negative {
      color: red;
    }
  }

  .herd-transaction-details {
    display: flex;
    p {
      margin: 0;
    }
    .ts {
      font-size: 11px;
      padding-left: $minds-padding;
    }
  }
}

minds-wallet-transactions {
  .mdl-tabs__tab-bar {
    margin-bottom: $minds-padding * 2;
  }
}

.m-root-other {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #aaa;
}

.m-root-loader {
  text-align: center;
}

.m-wallet-local-settings {
  margin-top: $minds-padding;
  padding: $minds-padding;
}

.m-wallet--boost-ads {
  margin-top: $minds-padding * 2;
}

.m-wallet--wire-link {
  i {
    width: 25px;
    text-align: center;
  }
}

