<!-- Owner block -->
<div class="mdl-card__supporting-text mdl-color-text--grey-600 m-owner-block" [class.m-owner-block--remind]="activity.remind_object" *ngIf="activity.ownerObj && activity.ownerObj.username">

   <i class="material-icons selected" *ngIf="activity.remind_object">repeat</i>

	<div class="avatar" [hovercard]="activity.ownerObj.guid">
		<a [routerLink]="['/', activity.ownerObj.username]">
			<img [src]="minds.cdn_url + 'icon/' + activity.ownerObj.guid + '/medium/' + activity.ownerObj.icontime" class="mdl-shadow--2dp"/>
		</a>
	</div>

  <div class="body">
    <a [routerLink]="['/', activity.ownerObj.username]">
      <strong>{{activity.ownerObj.name}}</strong>
      <m-channel--badges class="m-channel--badges-activity" [user]="activity.ownerObj" badges="[ 'verified' ]"></m-channel--badges>
    </a>
    <a *ngIf="activity.containerObj && activity.containerObj.type == 'group'"
      [routerLink]="['/groups/profile', activity.containerObj.guid]"
      class="mdl-color-text--black">
      <strong>({{activity.containerObj.name}})</strong>
    </a>
    <a [routerLink]="['/newsfeed', activity.guid]" class="permalink" *ngIf="activity.guid && !activity.remind_object">
      <span>{{activity.time_created * 1000 | date:'medium'}}</span><span *ngIf="activity.edited" class="m-edited-text" i18n="@@M__COMMON__EDITED">edited</span>
    </a>
    <a [routerLink]="['/newsfeed/', activity.entity_guid]" class="permalink"
      *ngIf="!activity.guid && activity.entity_guid && !activity.remind_object">
      <span>{{activity.time_created * 1000 | date:'medium'}}</span><span *ngIf="activity.edited" class="m-edited-text" i18n="@@M__COMMON__EDITED">edited</span>
    </a>
  </div>

</div>

<m-wire--lock-screen [(entity)]="activity" *ngIf="activity.paywall"></m-wire--lock-screen>

<!-- Messages -->

<div m-read-more class="mdl-card__supporting-text message m-mature-message mdl-color--white" [class.m-activity--message-remind]="activity.remind_object"
  [hidden]="!activity.message || editing">
  <a class="m-mature-text-toggle" (click)="activity.mature_visibility = !activity.mature_visibility"
    *ngIf="attachment.shouldBeBlurred(activity) || attachment.isForcefullyShown(activity)"
    [ngClass]="{ 'mdl-color-text--red-500': attachment.isForcefullyShown(activity) }">
    <i class="material-icons m-material-icons-inline">explicit</i>
  </a>

  <span class="m-mature-message-content" [innerHtml]="activity.message | tags" [ngClass]="{ 'm-mature-text': attachment.shouldBeBlurred(activity) }"
    (click)="activity.mature && !activity.mature_visibility ? activity.mature_visibility = !activity.mature_visibility : null">
  </span>
  <m-read-more--button></m-read-more--button>
</div>

<m-translate
  [open]="translateToggle"
  [entity]="activity"
  [translateEvent]="translateEvent"
  (onTranslateInit)="propagateTranslation($event)"
  (onTranslate)="translateToggle = false"
  (onTranslateError)="translateToggle = false"
  #translate
></m-translate>

<div class="minds-editable-container" *ngIf="editing && (!activity.custom_type || (activity.custom_type && !activity.title))">
	<!-- Please not the intentional single way binding for ngModel, we want to be able to cancel our changes -->
	<textarea class="mdl-card__supporting-text message" name="message" [ngModel]="activity.message" #messageEdit [autoGrow]></textarea>
	<m-wire-threshold-input [(threshold)]="activity.wire_threshold" [(enabled)]="activity.paywall"></m-wire-threshold-input>
	<button class="mdl-button mdl-button--raised mdl-color--indigo-100" (click)="messageEdit.value = activity.message; editing=false;" i18n="@@M__ACTION__CANCEL">Cancel</button>
	<button class="mdl-button mdl-button--colored mdl-button--raised" (click)="activity.message = messageEdit.value; save();" i18n="@@M__ACTION__SAVE">Save</button>
</div>

<!-- Rich content -->
<div class="m-rich-embed"
  *ngIf="activity.perma_url && activity.title"
  [ngClass]="{ 'm-mature-content': attachment.shouldBeBlurred(activity), 'm-mature-content-shown': attachment.isForcefullyShown(activity) }">
	<div class="m-mature-overlay" (click)="activity.mature_visibility = !activity.mature_visibility">
		<span class="m-mature-overlay-note">
			<i class="material-icons" title="Mature content" i18n-title="@@M__COMMON__MATURE_CONTENT">explicit</i>
			<span i18n="@@M__COMMON__CONFIRM_18">Click to confirm your are 18+</span>
		</span>
	</div>
	<minds-rich-embed [src]="activity" [maxheight]="480"></minds-rich-embed>
</div>

<div class="mdl-card__supporting-text message" [hidden]="!activity.title || activity.perma_url || editing" [innerHtml]="activity.title | tags"></div>
<!-- Translation -->
<div *ngIf="translate && translate.translation && translate.translation.translated && translate.translation.title" class="m-translation-wrapper">
  <div class="mdl-card__supporting-text message" [hidden]="!translate.translation.title">
    <span [innerHtml]="translate.translation.title | tags"></span>
  </div>
</div>
<!-- End translation -->

<div class="minds-editable-container" *ngIf="editing && activity.custom_type && activity.title">
	<!-- Please not the intentional single way binding for ngModel, we want to be able to cancel our changes -->
	<textarea class="mdl-card__supporting-text message" name="title" [ngModel]="activity.title" #titleEdit [autoGrow]></textarea>
	<m-wire-threshold-input [(threshold)]="activity.wire_threshold" [(enabled)]="activity.paywall"></m-wire-threshold-input>
	<button class="mdl-button mdl-button--raised mdl-color--indigo-100" (click)="titleEdit.value = activity.title; editing=false;" i18n="@@M__ACTION__CANCEL">Cancel</button>
	<button class="mdl-button mdl-button--colored mdl-button--raised" (click)="activity.title = titleEdit.value; save();" i18n="@@M__ACTION__SAVE">Save</button>
</div>

<div class="item item-image item-image-video"
  [ngClass]="{ 'm-mature-content': attachment.shouldBeBlurred(activity), 'm-mature-content-shown': attachment.isForcefullyShown(activity) }"
  *ngIf="activity.custom_type == 'video'">
		<div class="m-mature-overlay" (click)="activity.mature_visibility = !activity.mature_visibility">
			<span class="m-mature-overlay-note">
				<i class="material-icons" title="Mature content" i18n-title="@@M__COMMON__MATURE_CONTENT">explicit</i>
				<span i18n="@@M__COMMON__CONFIRM_18">Click to confirm your are 18+</span>
			</span>
		</div>

		 <herds-video
				width="100%"
				height="300px"
				style="background:#000;"
				loop="true"
				controls="true"
				muted="false"
				[poster]="activity.custom_data.thumbnail_src"
				[src]="[{ 'res': '720', 'uri': 'api/v1/media/' + activity.custom_data.guid + '/play', 'type': 'video/mp4' }]"
        [guid]="activity.custom_data.guid"
				[playCount]="activity['play:count']"
				#player>
				<video-ads [player]="player" *ngIf="activity.monetized"></video-ads>
		</herds-video>
 </div>

<!-- Images -->
<div class="item item-image allow-select"
 [ngClass]="{ 'm-mature-content': attachment.shouldBeBlurred(activity), 'm-mature-content-shown': attachment.isForcefullyShown(activity) }"
 *ngIf="activity.thumbnail_src && !activity.perma_url">
	<div class="m-mature-overlay" (click)="activity.mature_visibility = !activity.mature_visibility">
		<span class="m-mature-overlay-note">
			<i class="material-icons" title="Mature content" i18n-title="@@M__COMMON__MATURE_CONTENT">explicit</i>
			<span i18n="@@M__COMMON__CONFIRM_18">Click to confirm your are 18+</span>
		</span>
	</div>

	<a [routerLink]="['/media', activity.entity_guid]">
		<img [src]="activity.thumbnail_src" (error)="activity.thumbnail_src = null">
	</a>
</div>

<!-- Custom type:: batch -->
<div class="item item-image allow-select"
 [ngClass]="{ 'm-mature-content': attachment.shouldBeBlurred(activity), 'm-mature-content-shown': attachment.isForcefullyShown(activity) }"
 *ngIf="activity.custom_type == 'batch'">
	<div class="m-mature-overlay" (click)="activity.mature_visibility = !activity.mature_visibility">
		<span class="m-mature-overlay-note">
			<i class="material-icons" title="Mature content" i18n-title="@@M__COMMON__MATURE_CONTENT">explicit</i>
			<span i18n="@@M__COMMON__CONFIRM_18">Click to confirm your are 18+</span>
		</span>
	</div>

	<a [routerLink]="['/media', activity.entity_guid]">
		<img [src]="activity.custom_data[0].src" style="width:100%"
      (error)="activity.custom_data[0].src = minds.cdn_assets_url + 'assets/logos/medium.png'"
      *ngIf="activity.custom_data"
    >
	</a>
</div>

<!-- Reminds -->
<div *ngIf="activity.remind_object">
	<minds-remind [object]="activity.remind_object" [events]="childEventsEmitter"></minds-remind>
</div>

<ng-content select="[bottom-content]"></ng-content>

<div class="mdl-card__supporting-text is-boosted" *ngIf="activity.boosted">
	<i class="material-icons">trending_up</i>
	<a i18n="@@MINDS__CARDS__ACTIVITY__PROMOTEED_LABEL">PROMOTED</a>
</div>

<div class="mdl-card__supporting-text mdl-color--black tabs" *ngIf="!hideTabs">
	<minds-button-thumbs-up [object]="activity"></minds-button-thumbs-up>
	<minds-button-thumbs-down [object]="activity"></minds-button-thumbs-down>
  <m-wire-button *ngIf="session.getLoggedInUser().guid != (activity.remind_object ? activity.remind_object.owner_guid : activity.owner_guid)"
    [object]="activity.remind_object ? activity.remind_object : activity"
  ></m-wire-button>
	<minds-button-comment [object]="activity" (click)="openComments()"></minds-button-comment>
	<minds-button-remind [object]="activity"></minds-button-remind>
  <a class="mdl-button mdl-color-text--white mdl-button--colored minds-boost-button"
    *ngIf ="session.getLoggedInUser().guid == activity.owner_guid"
    id="boost-actions"
    (click)="showBoost()">
    <!-- i18n: verb|@@M__ACTION__PROMOTE -->Boost<!-- /i18n -->
  </a>
</div>

<div class="impressions-tag m-activity--metrics" [class.m-activity--metrics-wire]="!session.getLoggedInUser() || session.getLoggedInUser().guid != activity.owner_guid" *ngIf="!hideTabs">
  <div class="m-activity--metrics-inner">
    <div class="m-activity--metrics-metric" (click)="showWire()">
  		<i class="material-icons">account_balance</i>
      <span *ngIf="activity.wire_totals">{{ activity.wire_totals.points | abbr }}</span>
  	</div>
  	<div class="m-activity--metrics-metric" (click)="showWire()">
  		<i class="material-icons" style="width:10px">attach_money</i>
      <span *ngIf="activity.wire_totals">{{ activity.wire_totals.money | abbr }}</span>
  	</div>
  	<div class="m-activity--metrics-metric">
  		<i class="material-icons">remove_red_eye</i>
      <span>{{ activity.impressions | number }}</span>
  	</div>
  </div>
</div>

<herd-comments  *ngIf="commentsToggle" [object]="activity" [focusOnInit]="true"></herd-comments>

<div class="m-activity--boost-notice mdl-card__supporting-text mdl-color--black" *ngIf="showBoostOptions" i18n="@@MINDS__CARDS__ACTIVITY__PROMOTE_NOTICE">
  Boost this post to reach more people!
</div>

<div class="mdl-card__menu mdl-color-text--black" #toggle *ngIf="!hideTabs">
    <button class="mdl-button m-pin-button mdl-button--icon" (click)="togglePin()" [disabled]="session.getLoggedInUser().guid != activity.owner_guid">
        <m-tooltip icon="turned_in" *ngIf="activity.pinned" i18n="@@MINDS__CARDS__ACTIVITY__PINNED_POST">This post is pinned</m-tooltip>
        <m-tooltip icon="turned_in_not" *ngIf="session.getLoggedInUser().guid == activity.owner_guid && !activity.pinned" i18n="@@MINDS__CARDS__ACTIVITY__CLICK_TO_PIN">Click to pin this post to the top of your channel feed</m-tooltip>
	</button>
	<button class="mdl-button m-translate-button mdl-button--icon" *ngIf="isTranslatable" (click)="translateToggle = true;">
			<i class="material-icons">public</i>
	</button>
	<m-post-menu [entity]="activity" [canDelete]="canDelete" [isTranslatable]="isTranslatable" [options]="menuOptions" (optionSelected)="menuOptionSelected($event)">
		<ng-container post-menu><ng-content select="[post-menu]"></ng-content></ng-container>
	</m-post-menu>
</div>

<!-- Pending block -->
<div class="mdl-card__supporting-text m-activity--pending" *ngIf="activity.pending && session.getLoggedInUser()?.guid == activity.owner_guid" i18n="@@MINDS__CARDS__ACTIVITY__AWAITING_MODERATION">
  This post is awaiting moderation.
</div>
