
<div class="mdl-grid minds-analytics" style="max-width:990px">

  <!-- Daily active users -->
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card">
      <div class="mdl-card__title" i18n="@@MINDS__ADMIN__ANALYTICS__DAU_TITLE">Daily Active Users</div>
      <div class="mdl-card__supporting-text">
        <minds-graph-line [data]="dam"></minds-graph-line>
      </div>
      <div class="mdl-card__supporting-text results">
        <div *ngFor="let stat of dam_list" class="row">
          <label>{{stat.timestamp * 1000 | date: 'dEEEEMM'}}</label>
          <b>{{stat.total}}</b>
        </div>
      </div>
    </div>
  </div>

  <!-- Monthly active users & Retention -->
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card">
      <div class="mdl-card__title" i18n="@@MINDS__ADMIN__ANALYTICS__MAU_TITLE">Monthly Active Users</div>
      <div class="mdl-card__supporting-text">
        <minds-graph-line [data]="mam"></minds-graph-line>
      </div>
      <div class="mdl-card__supporting-text results">
        <div *ngFor="let stat of mam_list" class="row">
          <label>{{stat.timestamp * 1000 | date: 'MMMM'}}</label>
          <b>{{stat.total}}</b>
        </div>
      </div>
    </div>

    <div class="mdl-card">
      <div class="mdl-card__title" i18n="@@MINDS__ADMIN__ANALYTICS__RETENTION_TITLE">Retention</div>
      <div class="mdl-card__supporting-text" *ngIf="retention">
        <minds-graph-line [data]="retention.totals"></minds-graph-line>
      </div>
      <div class="mdl-card__supporting-text results" *ngIf="retention">
        <div class="cell" style="width:25%" *ngFor="let stat of retention.totals">
          <label>{{stat.day }}</label>
          <b>{{stat.total * 100 | number:'1.0-0'}}%</b>
        </div>
      </div>
    </div>

  </div>

  <!-- Signups & Boost Stats -->
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card">
      <div class="mdl-card__title" i18n="@@MINDS__ADMIN__ANALYTICS__SIGNUPS_TITLE">Signups</div>
      <div class="mdl-card__supporting-text">
        <minds-graph-line [data]="signups"></minds-graph-line>
      </div>
      <div class="mdl-card__supporting-text results">
        <div *ngFor="let stat of signups_list" class="row">
          <label>{{stat.timestamp * 1000 | date: 'dEEEEMM'}}</label>
          <b>{{stat.total}}</b>
        </div>
      </div>
    </div>

    <div class="mdl-card">
      <div class="mdl-card__title" i18n="@@M__FEATURE__BOOST">Promoted</div>
      <div class="mdl-card__supporting-text">
        <minds-graph-pie [data]="[{ label: 'review', total: boost_newsfeed.percent  }]"></minds-graph-pie>
      </div>
      <div class="mdl-card__supporting-text results">

        <div class="row">
          <label><b i18n="@@M__COMMON__REVIEW">Review</b></label>
          <b>{{boost_newsfeed.review}}</b>
        </div>
        <div class="row">
          <label><i i18n="@@MINDS__ADMIN__ANALYTICS__BACKLOG">Backlog</i></label>
          <i i18n="@@MINDS__ADMIN__ANALYTICS__BACKLOG_VALUE_HOURS">{{boost_newsfeed.review_backlog | number:'1.0-0'}} hours</i>
        </div>
        <div class="row">
          <label><b i18n="@@M__COMMON__APPROVED">Approved</b></label>
          <b>{{boost_newsfeed.approved}}</b>
        </div>
        <div class="row">
          <label><i i18n="@@MINDS__ADMIN__ANALYTICS__BACKLOG">Backlog</i></label>
          <i i18n="@@MINDS__ADMIN__ANALYTICS__BACKLOG_VALUE_HOURS">{{boost_newsfeed.approved_backlog | number:'1.0-0'}} hours</i>
        </div>
        <div class="row">
          <label><i i18n="@@MINDS__ADMIN__ANALYTICS__IMPRESSIONS_BOOST_ROW">Impressions</i></label>
          <i>{{boost_newsfeed.impressions | number:'1.0-0'}}</i>
        </div>
        <div class="row">
          <label><i i18n="@@MINDS__ADMIN__ANALYTICS__BURN_RATE_BOOST_ROW">Burn rate</i></label>
          <i i18n="@@MINDS__ADMIN__ANALYTICS__BURN_RATE_BOOST_VALUE">{{(boost_newsfeed.impressions - boost_newsfeed.impressions_met) / boost_newsfeed.approved_backlog | number:'1.0-3'}} / hour</i>
        </div>

      </div>
    </div>
  </div>

</div>
