<div class="mdl-card mdl-shadow--2dp mdl-color--white" style="max-width:900px">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" i18n="@@MINDS__SETTINGS__2FA_TITLE">Two Factor Authentication</h2>
  </div>

  <!-- OVERVIEW -->
  <div class="mdl-card__supporting-text" *ngIf="!inProgress && telno && !waitingForCheck">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="cancel()">
      <!-- i18n: @@MINDS__SETTINGS__REMOVE_2FA_ACTION -->Remove two factor<!-- /i18n -->
    </button>
  </div>

  <!-- SETUP -->
  <div class="mdl-card__supporting-text" *ngIf="!inProgress && !telno">
    <div class="minds-settings-text">
      <!-- i18n: @@MINDS__SETTINGS__SMS_INPUT_HELP -->Your SMS number. <b>Enter your country code too (eg. +1, +44, etc)</b><!-- /i18n -->
    </div>
    <div class="mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
      <input class="mdl-textfield__input"
      type="text"
      #smsNumber
      />
      <label class="mdl-textfield__label" for="twoFactorAuthentication" i18n="@@MINDS__SETTINGS__SMS_INPUT_LABEL">eg. +44 07999 000909</label>
    </div>
    <p class="mdl-color-text--red">{{error}}</p>
    <div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
        (click)="setup(smsNumber.value)"
        [disabled]="waitingForCheck"
      >
        <!-- i18n: @@MINDS__SETTINGS__SETUP_ACTION -->Setup<!-- /i18n -->
      </button>
    </div>
  </div>

  <!-- CHECK -->
  <div class="mdl-card__supporting-text" *ngIf="!inProgress && telno && waitingForCheck">
    <div class="minds-settings-text" *ngIf="!sendingSms">
      <!-- i18n: @@MINDS__SETTINGS__SENT_SMS_LABEL -->We sent an SMS to <b>{{telno}}</b>. Enter the code below to complete your two factor setup.<!-- /i18n -->
    </div>
    <div class="minds-settings-text" *ngIf="sendingSms">
      <!-- i18n: @@MINDS__SETTINGS__SENDING_SMS_LABEL -->We are sending an SMS to <b>{{telno}}</b>. Enter the code below to complete your two factor<!-- /i18n --> setup.
    </div>
    <div class="mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
      <input class="mdl-textfield__input"
      type="text"
      #code
      />
      <label class="mdl-textfield__label" for="twoFactorAuthentication" i18n="@@M__COMMON__ENTER_2FA_CODE">Enter your code here</label>
    </div>
    <div >
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="check(code.value)">
        <!-- i18n: @@M__ACTION__CONFIRM -->Confirm<!-- /i18n -->
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised " (click)="check(code.value)">
        <!-- i18n: @@MINDS__SETTINGS__2FA_RETRY_ACTION -->Retry<!-- /i18n -->
      </button>
    </div>
  </div>

</div>
