<a class="mdl-card__title minds-video-thumbnail"
	style="height:168px; background:#000; background-size:cover;"
	[ngStyle]="{background: '#000 url(' + entity.thumbnail_src + ') center center / cover'}"
	[routerLink]="['/media', entity.guid]"
	[ngClass]="{ 'm-mature-thumbnail': attachment.shouldBeBlurred(entity) }"
	>
	<span class="material-icons"
	*ngIf="!attachment.shouldBeBlurred(entity)">play_circle_outline</span>
</a>
<span class="m-mature-thumbnail-overlay"
	style="height: 168px;"
  *ngIf="attachment.shouldBeBlurred(entity)"
><i class="material-icons">explicit</i></span>

<!-- Owner block -->
<div class="mdl-card__supporting-text mdl-color-text--grey-600 m-title-block" *ngIf="entity.ownerObj && entity.ownerObj.username">

		<a [routerLink]="['/media', entity.guid]" class="mdl-color-text--blue-grey-700">
			<strong>{{ entity.title }}</strong>
		</a>

		<div class="m-inline-owner-block">
			<a [routerLink]="['/', entity.ownerObj.username]" class="mdl-color-text--black">
				<img src="/icon/{{entity.ownerObj.guid}}/small/{{entity.ownerObj.icontime}}" class="mdl-shadow--2dp"/>
				{{entity.ownerObj.username}}
			</a>
			<span>{{ entity.time_created * 1000 | date:'mediumDate' }}</span>
		</div>

</div>

<div class="mdl-card__supporting-text mdl-color--black m-action-tabs">
	<minds-button-thumbs-up [object]="entity"></minds-button-thumbs-up>
	<minds-button-thumbs-down [object]="entity"></minds-button-thumbs-down>
	<minds-button-comment [object]="entity" [routerLink]="['/media', entity.guid]"></minds-button-comment>
	<minds-button-remind [object]="entity"></minds-button-remind>
	<minds-button-feature [object]="entity" *ngIf="session.isAdmin()"></minds-button-feature>
</div>
