<nav class="herd-navigation mdl-navigation">
  <div *ngFor="let item of navigation.getItems()">
    <a class="mdl-navigation__link mdl-color-text--white"
      [ngClass]="{'mdl-color--yellow-a200' : item.active, 'md-color--black': !item.active}"
      [routerLink]="[item.path, item.params]"
      [title]="item.text"
      *ngIf="(item.visibility == 2) || (item.visibility === 0 && session.isLoggedIn()) || (item.visibility === -1 && session.isAdmin())"
    >
      <i class="material-icons" [ngClass]="{'mdl-color-text--white': !item.active, 'mdl-color-text--black' : item.active}">{{item.icon}}</i>

      <span id="{{item.name | lowercase}}-counter" class="counter mdl-badge mdl-color--yellow-600" *ngIf="!item.active && item.extras && item.extras?.counter">{{item.extras?.counter}}</span>

      <span class="m-navigation--text"
        [class.mdl-color-text--black]="item.active"
      >{{ item.text }}</span>
    </a>

    <div *ngFor="let subitem of item.submenus" [hidden]="!item.active">
      <a class="mdl-navigation__link mdl-color-text--black subitem"
        [ngClass]="{'mdl-color--white' : subitem.active, 'mdl-color--yellow-a200': !subitem.active}"
        [routerLink]="[subitem.path, subitem.params]"
        [title]="subitem.text"
        *ngIf="!(!session.isLoggedIn() && subitem.visibility < 2)">
        <i class="material-icons" [ngClass]="{'mdl-color-text--black': !subitem.active, 'mdl-color-text--black' : subitem.active}">{{subitem.icon}}</i>
        <span class="m-navigation--text"
          [class.mdl-color-text--black]="subitem.active"
        >{{ subitem.text }}</span>
      </a>
    </div>
  </div>
</nav>
