<div class="m-channel-bio-field m-channel-social-profiles mdl-color-text--yellow-a200" [hidden]="editing || !socialProfiles || socialProfiles.length == 0">
  <span *ngFor="let profile of socialProfiles" class="m-channel-social-profile" [ngClass]="[ 'm-channel-social-profile-' + profile.key ]">
    <a *ngIf="profile.key && profile.value"
      [href]="getSocialProfileURL(profile.value)"
      rel="noopener"
      target="_blank"
    ><i [ngClass]="[ getSocialProfileIconClass(profile) ]"></i></a>
  </span>
</div>

<div class="m-channel-bio-editor m-channel-social-profiles-editor" *ngIf="editing">
  <div *ngFor="let profile of socialProfiles; let i = index" class="m-channel-bio-input m-channel-social-profile-input">
    <input type="text" 
      [(ngModel)]="socialProfiles[i].value" 
      (ngModelChange)="url = $event; matchSocialProfile(i);" 
      placeholder="Social media profile URL"
      i18n-placeholder="@@MINDS__CHANNELS__SOCIAL_PROFILES__URL_PLACEHOLDER"
    />

    <a (click)="removeSocialProfile(i)" class="mdl-color-text--yellow-a200">
      <i class="material-icons m-material-icons-inline-text">delete</i>
      <!-- i18n: @@M__ACTION__REMOVE -->Remove<!-- /i18n -->
    </a>
  </div>

  <div class="m-channel-bio-input m-channel-social-profile-input">
    <a (click)="newEmptySocialProfile()" class="m-social-profile-add mdl-color-text--yellow-a200">
      <i class="material-icons m-material-icons-inline-text">playlist_add</i>
      <!-- i18n: @@MINDS__CHANNELS__SOCIAL_PROFILES__ADD -->Add Social Profile<!-- /i18n -->
    </a>
  </div>
</div>
