@import 'defaults';

herd-button-subscribe, minds-groups-join-button, .minds-button-edit, minds-button-feature, minds-button-user-dropdown, .m-button {

  > button {
    cursor: pointer;
    background: transparent;
    border: 1px solid #000;
    color: #000;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;

    &.material-icons {
      padding: $minds-padding / 2;
      font-size: 24px;
    }
  }

  &:focus, > button:focus {
    outline: none;
    -webkit-appearance: none;
  }

  > button:hover, > button.subscribed, > button.selected {
    border: 1px solid #000;
    color: #000 !important;
  }
}

herd-button-subscribe {

  button {
    padding: 4px 8px;
    min-width: 128px;

    &.subscribed {
      min-width: 135px;
    }

    > i {
      padding-right: 8px;
      padding-bottom: 1px;
      vertical-align: middle;
    }
  }

  &.m-button-icon-only button {
    min-width: 0;
    width: 36px;
    padding: 4px;
    overflow: hidden;
    white-space: nowrap;

  }
}

minds-button-feature > button {
  padding: 4px;
}

minds-button-remind, minds-button-thumbs-up, minds-button-thumbs-down {
  a {
    cursor: pointer;
  }
}

.m-action-tabs {
  minds-button-feature > button {
    background: none;
    padding: 0;
    border: 0;
  }
}

.minds-boost-button {
  background-color: #4690D6 !important;
  font-size: 12px;
  height: auto;
  min-height: 0;
  line-height: 18px;
  text-transform: capitalize;
  align-self: center;
  padding: 3px 0;
  min-width: 62px;
  width: auto;
  margin: -3px 0;
  display: block;
}

.selected {
  color: $herd-yellow !important;
  background: #000;

  &:hover {
    color: #000;
  }
}

.minds-counter:before {
  //content:'( ';
}

.minds-counter {
  font-family: "Lato", "Helvetica", "Roboto", sans-serif;
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  vertical-align: middle;
  padding: 0 8px;
  white-space: nowrap;
}

.minds-counter:after {
  //content:' )';
}

.minds-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
