@import 'defaults.scss';

.minds-blog-ownerblock {
  display: flex;
  align-items: center;

  .minds-avatar {
    background: transparent;
  }
  .minds-avatar img {
    width: 50px;
    border-radius: 50%;
  }
  .minds-body {
    padding-left: 8px;
    display: table-cell;
    vertical-align: middle;
    a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Lato';
      letter-spacing: 1.25px;
    }
    span {
      font-size: 11px;
      font-family: 'Lato';
      text-transform: uppercase;
      letter-spacing: 1.25px;
      cursor: default;
    }
  }
}

.m-blog {
  //position: relative;
  //padding-top: 30%;
  //display: block;

  header {
    //position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    width: 100%;
    height: auto;

    minds-banner {
      .minds-banner {
        max-height: 60vh;
        height: 60vh;
      }
    }
  }

  .m-blog-container {
    h1.m-blog--title {
      font-weight: 600;
      font-size: 42px;
      letter-spacing: 1.5px;
      font-family: 'Lato';
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
    .minds-blog-body img {
      max-width: initial;
      height: auto;
      width: calc(100% + 200px);
      margin: 0 -100px;
    }
  }

  m-wire--lock-screen {
    .m-wire--lock-screen--button {
      max-width: 740px;
      margin: 0 auto;
    }

    .m-wire--lock-screen {
      justify-content: center;
      min-height: 260px;
    }
  }

  @media screen and (max-width: $max-mobile) {
    h1 {
      font-size: 32px;
      margin: 0;
    }
  }

  .minds-comments-container {
    max-height: 600px;

    @media screen and (max-width: $max-mobile) {
      max-height: 75vh;
    }
  }
}

minds-blog-view, m-blog-view {
  display: block;
  background: #FFF;
  padding-top: 0;

  header {
    //position: relative;

    minds-banner-fat {
      height: auto;
      .minds-banner {
        position: relative;
        img {
          height: 400px;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }

  .minds-banner .minds-banner-overlay {
    display: none;
  }

  h1 {
    margin: 0;
    @media screen and (max-width: $max-mobile) {
      font-size: 28px;
    }
  }

  .m-actions-block {
    & > * {
      margin-right: 12px;
    }
    & > m-post-menu {
      margin-right: 8px;
    }
  }

  a {
    color: #607d8b;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

m-blog-view, minds-blog-edit {
  img.m--img-not-found {
    width: 500px !important;
    height: 300px !important;
    background-image: url('<%= APP_CDN %>/assets/image-not-found.png');
  }

  ul.m-blog--categories-list {
    border-top: 1px solid #ddd;
    list-style: none;
    font-weight: 500;
    color: #666;
    margin: 0;
    padding: 20px 0 0 0;
    li.m-blog--categories-list-item {
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      padding: 0 6px;

      &:not(.selected):hover {
        color: #000;
      }
    }
  }
}

.minds-blog-body {
  padding: 0 $minds-padding;

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  br, p, ul, ol {
    font-size: 16px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #6a6a6a;
    font-weight: 400;
    line-height: 30px;
  }

  p {
    margin-bottom: 0.5em;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: 0.5px;
    letter-spacing: -.003em;
    font-family: 'Lato';
    color: rgba(0,0,0,.84);
    margin-top: 29px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  ul, ol {
    margin: 0 0 0.5em 1em;

    li {
      margin-bottom: 0.5em;
    }
  }

  /*blockquote {
    padding: $minds-padding 0 $minds-padding 0.5em;
    border-left: 2px solid #6a6a6a;

    &:before, &:after {
      position: initial;
      content: initial;
    }

    p, ul, ol {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }*/
}

.minds-blog-save {
  padding: 8px;
}

.minds-blog-actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  -webkit-align-items: center;
}

// remove this from here soon
.minds-blog-subscribe {
  background: transparent;
  border: 1px solid #ff0;
  color: #ff0;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 2px;
  text-transform: uppercase;
}

minds-blog-edit {
  display: block;
  background: #FFF;

  m-wire-threshold-input {
    position: relative;
    padding: 8px;
  }

  .m-additional-block m-wire-threshold-input {
    font-size: 16px;
    flex-shrink: 0;
  }
  .m-additional-block m-wire-threshold-input i {
    padding: 0;
  }

  .m-h1-input {
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 1.5px;
    font-family: 'Lato';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2em;
    height: auto;
  }
  h1,h2,h3,h4 {
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: 'Lato';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  m-inline-editor, m-inline-editor p {
    margin-bottom: 0.5em;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: 0.5px;
    letter-spacing: -.003em;
    font-family: 'Lato';
    color: rgba(0,0,0,.84);
    margin-top: 29px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    &:first-of-type {
      margin-top: 0;
    }
  }
  .m-additional-block > * {
    flex:auto;
  }
}

minds-card-blog {
  min-height: 242px !important;

  .m-owner-block {
    padding: 16px;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    background-color: #FFF;
  }
}

.m-blog--image {
  display: flex;
  flex-direction: column;
  align-items: center;
  .m-blog--image-caption {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #666;
    font-style: italic;
  }
}

minds-blog-edit {
  minds-banner {
    .minds-banner-overlay, .save-bar .save-button {
      display:none !important;
    }
  }
  .m-button--draft, .m-button--submit {
    cursor: pointer;
    color: rgb(66,66,66);
    background-color: rgb(255,215,64);
  }
}

.m-blog-edit--metadata {
  font-family: Lato, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  padding: $minds-padding;

  .m-blog-edit--toggle-wrapper {
    padding: 0 0 $minds-padding;
  }

  .m-blog-edit--toggle {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .m-blog-edit--fields {
    border: 1px solid #eee;
    padding: $minds-padding * 2;
  }

  .m-blog-edit--field {
    margin-bottom: $minds-padding;

    label {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1.5px;
    }

    input, textarea {
      width: 100%;
      padding: $minds-padding;
      border: 1px solid #eee;
      color: #000 !important;
      font-family: inherit;
      font-size: 14px;
      letter-spacing: inherit;
    }
  }
}