<div class="mdl-grid blogs-grid" style="max-width:900px">

  <a class="mdl-cell mdl-cell--4-col" [routerLink]="['/blog/edit/new']" style="text-decoration: none;">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-color-text--yellow-a200 minds-add-card">
      <i class="material-icons">add</i>
      <h3 i18n="@@BLOGS__CREATE_NEW_BLOG">Create a new blog</h3>
    </div>
  </a>

  <div class="mdl-cell mdl-cell--4-col" *ngFor="let blog of blogs">
    <minds-card-blog [object]="blog" class=" mdl-card mdl-shadow--2dp mdl-color--white minds-banner-card">
    </minds-card-blog>
  </div>

  <infinite-scroll
      distance="25%"
      (load)="load()"
      [moreData]="moreData"
      [inProgress]="inProgress">
  </infinite-scroll>

</div>
