m-modal-remind-composer {
  cursor: default;

  .m-modal-container {
    width: 520px;
    max-width: 90%;
    min-width: 0;
  }

  .m-modal-remind-title {
    font-weight: bold;
    text-align: center;
    margin: 8px 0;
    font-size: 21px;
  }

  .m-modal-remind-composer {
    position: relative;
    padding: 0 $minds-padding * 2 $minds-padding * 2;
    //margin-top: 36px + ($minds-padding * 2);
    text-align: left;

    textarea {
      display: block;
      width: 100%;
      height: 4em;
      border: 1px solid #ddd;
      box-sizing: border-box;
      padding: $minds-padding (24px + $minds-padding) $minds-padding $minds-padding;
    }

    .m-modal-remind-composer-buttons {
      position: absolute;
      right: $minds-padding * 3;
      bottom: $minds-padding * 3;
    }
  }

  minds-activity-preview {
    display: block;
    max-width: 100%;
    margin: 0 ($minds-padding * 2) ($minds-padding * 2);
    text-align: left;
    box-sizing: border-box;
    cursor: default;
    overflow: auto !important;
    max-height: 40vh;

    > * {
      pointer-events: none;
    }

    .m-owner-block {
      padding: ($minds-padding * 2) !important;
    }

    .m-mature-overlay {
      display: none !important;
    }

    .mdl-card__supporting-text {
      padding: ($minds-padding * 2) !important;
    }

    .m-rich-embed {
      padding: 0 ($minds-padding * 2) ($minds-padding * 2);
    }

    .item-image {
      padding: 0 ($minds-padding * 2) ($minds-padding * 2);
    }

    .item-image-video {
      herds-video {
        background: transparent !important;

        .minds-video-bar-full {
          display: none !important;
        }
      }
    }
  }
}
