<div class="minds-usercard-banner">
	<div class="mdl-color--yellow-a200 minds-card-banner"
    [ngStyle]="{'background-image': 'url(' + bannerSrc + ')'}"
  ></div>
	<div class="minds-banner-overlay"></div>
</div>

<a [routerLink]="['/', user.username]" class="mdl-card__supporting-text minds-usercard-block">
	<div class="avatar">
			<img src="{{minds.cdn_url}}icon/{{user.guid}}/{{avatarSize}}/{{user.icontime}}" class="mdl-shadow--2dp"/>
	</div>
	<div class="body">
		<h3>{{user.name}}</h3>
		<span>@{{user.username}}</span>

        <div class="m-usercard-bio">
          <div class="m-usercard-bio-location" [hidden]="!user.city">
            <i class="material-icons mdl-color-text--yellow-a200">location_city</i>
            {{user.city}}
          </div>
          <div class="m-usercard-bio-brief" [hidden]="!user.briefdescription">
            <i class="material-icons mdl-color-text--yellow-a200">assignment</i>
            {{user.briefdescription}}
          </div>
        </div>
    </div>
</a>

<herd-button-subscribe [user]="user" *ngIf="user.guid != session.getLoggedInUser().guid"></herd-button-subscribe>
<minds-button-feature [object]="user" *ngIf="session.isAdmin()"></minds-button-feature>
<minds-button-boost [object]="user" *ngIf="user.guid == session.getLoggedInUser().guid"></minds-button-boost>
<div class="minds-usercard-buttons" [ngClass]="{ 'has-feature-button': session.isAdmin() }">
	<ng-content select="[buttons]"></ng-content>
</div>

<div class="minds-tabs mdl-tabs__tab-bar" *ngIf="false">
		<a class="mdl-tabs__tab mdl-color-text--yellow-a200 1" [routerLink]="['/', user.username, 'subscribers']">
			<span i18n="@@M__COMMON__SUBSCRIBERS">Subscribers</span>
			<b>{{user.subscribers_count | abbr:0}}</b>
		</a>
		<a class="mdl-tabs__tab mdl-color-text--yellow-a200 2" [routerLink]="['/', user.username, 'subscriptions']">
			<span i18n="@@M__COMMON__SUBSCRIPTIONS">Subscriptions</span>
			<b>{{user.subscriptions_count | abbr:0}}</b>
		</a>
		<a class="mdl-tabs__tab mdl-color-text--yellow-a200 3" [routerLink]="['/', user.username, 'feed']">
			<span i18n="@@M__COMMON__VIEWS">Views</span>
			<b>{{user.impressions | abbr:0}}</b>
		</a>
</div>
