<div [hidden]="blogs.length > 0 || error" style="width:100%; text-align:center; ">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
</div>

<div class="m-error-splash" *ngIf="error && !inProgress">
  <h3 class="mdl-color-text--red-300">{{error}}</h3>
  <span class="mdl-color-text--yellow-a200" i18n="@@M__COMMON__PLEASE_TRY_AGAIN">Please try again later</span>
</div>

<div class="m-blog-view" *ngFor="let blog of blogs; let i = index">
  <m-blog-view [blog]="blog" [index]="i"></m-blog-view>
</div>

<infinite-scroll
    distance="25%"
    (load)="loadNextBlog()"
    [moreData]="moreData"
    [inProgress]="inProgress"
    *ngIf="blogs.length >= 1">
</infinite-scroll>
