<div *ngIf="rewards?.rewards[type]?.length"
  class="m-wire--creator-rewards"
>
  <h2 *ngIf="channel?.username" class="m-wire--creator-rewards--title" i18n="@@WIRE__CREATOR__REWARDS__TITLE">{{ channel.username }}'s rewards</h2>

  <div *ngIf="sums" class="m-wire--creator-rewards--sums">
    <!-- i18n: @@WIRE__CREATOR__REWARDS__YOU_SENT_LABEL -->You have sent<!-- /i18n -->

    <b *ngIf="type == 'points'" i18n="@@M__COMMON__POINTS_WITH_VALUE">
      {{ sums.points | number }} points
    </b>

    <b *ngIf="type == 'money'" i18n="@@WIRE__CREATOR__REWARDS__USD_VALUE">
      {{ sums.money | currency:'GBP':true:'1.0-0' }}
    </b>

    <!-- i18n: @@WIRE__CREATOR__REWARDS__IN_THE_LAST_MONTH -->in the last month.<!-- /i18n -->
  </div>

  <ul class="m-wire--creator-rewards--list">
    <ng-container *ngFor="let reward of rewards.rewards[type]; let i = index">
      <li class="m-wire--creator-rewards--threshold"
        [class.m-wire--creator-rewards--above-threshold]="isRewardAboveThreshold(i)"
        [class.m-wire--creator-rewards--best-reward]="isBestReward(i)"
        (click)="selectReward(i)"
      >
        <div class="m-wire--creator-rewards--amount">
          <span *ngIf="type == 'money'">{{ reward.amount | currency:'GBP':true:'1.0-0' }}</span>
          <span *ngIf="type == 'points'" i18n="@@M__COMMON__POINTS_WITH_VALUE">{{ reward.amount | number }} points</span>
        </div>
        <div class="m-wire--creator-rewards--description"> 
          <p>{{ reward.description }}</p>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
