<div class="m-wire--creator">
  <div class="m-wire--creator--header">
    <h2 class="m-wire-creator--header-svg">
      <i class="ion-icon ion-flash"></i>
      <span i18n="@@M__FEATURE__WIRE">Wire</span>
    </h2>

    <div class="m-wire--creator--header-text">
      <div class="m-wire--avatar">
        <a [routerLink]="['/', owner.username]">
          <img [src]="minds.cdn_url + 'icon/' + owner.guid + '/medium/' + owner.icontime" class="mdl-shadow--2dp"/>
        </a>
      </div>

      <p class="m-wire-creator--subtext" i18n="@@WIRE__CREATOR__WIRE_NOTICE">
        Support <span>@</span>{{owner.username}} by sending them pounds, points or Bitcoin. Once you send them the amount listed in the tiers, you can receive rewards if they are offered. Otherwise, it's a donation.
      </p>
    </div>

    <div class="m-wire--creator--wallet" *ngIf="false">
      <i class="material-icons m--middle">account_balance</i>
      <span *ngIf="rates.balance !== null" class="m--middle">{{ rates.balance | abbr }}</span>
      <span *ngIf="rates.balance === null" class="m--middle">…</span>
    </div>
  </div>

  <!-- Payment Method -->
  <section class="m-wire--creator-section m-wire--creator-payment-section">
    <h3 class="m-wire--creator-section-title--small" i18n="@@WIRE__CREATOR__WIRE_TYPE_TITLE">Wire Type</h3>

    <ul class="m-wire--creator-selector"
      [class.m-wire--creator-selector--has-selection]="wire.currency"
    >
      <li
        (click)="setCurrency('points')"
        [class.m-wire--creator-selector--highlight]="!wire.currency || wire.currency == 'points'"
      >
        <div class="m-wire--creator-selector-type">
          <i class="material-icons">account_balance</i>
          <h4 i18n="@@M__FEATURE__POINTS">Points</h4>
        </div>
        <span class="m-wire--creator-selector--cta" i18n="@@M__COMMON__SELECT_POINTS">Select Points</span>
        <span class="m-wire--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
      </li>

      <li
        (click)="setCurrency('money')"
        [class.m-wire--creator-selector--highlight]="!wire.currency || wire.currency == 'money'"
        [class.m-wire--creator-selector--disabled]="!owner?.merchant"
      >
        <div class="m-wire--creator-selector-type">
          <i class="material-icons">attach_money</i>
          <h4 i18n="@@M__COMMON__USD">USD</h4>
        </div>
        <span class="m-wire--creator-selector--cta" *ngIf="owner?.merchant" i18n="@@M__COMMON__SELECT_MONEY">Select Money</span>
        <span class="m-wire--creator-selector--cta" *ngIf="!owner?.merchant" i18n="@@WIRE__CREATOR__USD_ITEM_CTA_DISABLED">Cannot receive USD</span>
        <span class="m-wire--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
      </li>

      <li class="m-wire--creator-selector--disabled">
        <div class="m-wire--creator-selector-type">
          <i class="ion-icon ion-social-bitcoin"></i>
          <h4 i18n="@@WIRE__CREATOR__BTC_ITEM">Bitcoin</h4>
        </div>
        <span class="m-wire--creator-selector--cta" i18n="@@WIRE__CREATOR__COMING_SOON">Coming soon</span>
      </li>

      <!-- TODO: BTC selector functionality -->
    </ul>

    <div class="m-wire--creator-payment" *ngIf="wire.currency == 'money'">
      <minds-payments-stripe-checkout *ngIf="!wire?.payload?.nonce"
        (inputed)="setNoncePayload($event)"
        [useMDLStyling]="false"
      ></minds-payments-stripe-checkout>
      <div class="m-wire--creator-payment-attached" *ngIf="wire.payload">
        <i class="material-icons">check_circle</i>
        <span><!-- i18n: @@M__COMMON__PAYMENT_ATTACHED -->Your payment is attached.<!-- /i18n --> <b (click)="wire.payload = null" i18n="@@M__ACTION__CHANGE">Change</b></span>
      </div>
    </div>
  </section>

  <!-- Amount -->
  <section class="m-wire--creator-section">
    <h3 class="m-wire--creator-section-title--small">
      <!-- i18n: @@WIRE__CREATOR__AMOUNT_TITLE_HOW_PART -->How<!-- /i18n -->
      <ng-container *ngIf="wire.currency == 'money'" i18n="@@WIRE__CREATOR__AMOUNT_TITLE_MUCH_MONEY_PART">much money</ng-container>
      <ng-container *ngIf="wire.currency == 'points'" i18n="@@WIRE__CREATOR__AMOUNT_TITLE_MANY_POINTS_PART">many points</ng-container>
      <!-- TODO: BTC -->
      <!-- i18n: @@WIRE__CREATOR__AMOUNT_TITLE_DO YOU WANT_PART -->do you want to send?<!-- /i18n -->
    </h3>

    <div class="m-wire--creator-wide-input m-wire--creator--amount"
      [class.m-wire--creator-wide-input--reading]="!editingAmount"
    >
      <input type="text"
        class="m-wire--creator-wide-input--edit"
        [ngModel]="wire.amount | number"
        (ngModelChange)="setAmount($event)"
        (blur)="amountEditorBlur()"
        (keydown.enter)="amountEditorBlur()"
        (keydown.esc)="amountEditorBlur()"
        #amountEditor
      />

      <span class="m-wire--creator-wide-input--label"
        (click)="amountEditorFocus()"
      >
        <ng-container *ngIf="wire.currency == 'points'" i18n="points input|@@M__COMMON__POINTS_INPUT">points</ng-container>
        <ng-container *ngIf="wire.currency == 'money'" i18n="usd input|@@M__COMMON__USD_INPUT">USD</ng-container>
        <!-- TODO: BTC -->
      </span>
    </div>

    <div class="m-wire--creator--recurring" *ngIf="wire.currency == 'money'">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="wire-recurring-1" [mdlSwitch] [toggled]="wire.recurring">
        <input
          type="checkbox" id="wire-recurring-1" class="mdl-checkbox__input"
          [ngModel]="wire.recurring"
          (ngModelChange)="wire.recurring = !wire.recurring"
        >

        <span class="mdl-checkbox__label" i18n="@@WIRE__CREATOR__REPEAT_TRANSACTION_MONTHLY">Repeat this transaction monthly.</span>
      </label>
    </div>
  </section>

  <m-wire--creator-rewards
    [rewards]="owner?.wire_rewards"
    [type]="wire.currency"
    [amount]="wire.amount"
    (selectAmount)="setAmount($event)"
    [channel]="owner"
    [sums]="sums"
  ></m-wire--creator-rewards>

  <!-- Submit -->
  <section class="m-wire--creator-section m-wire--creator-section--last"
    (mouseenter)="showErrors()"
  >

    <div class="m-wire--creator--submit">
      <button class="m-wire--creator-button"
        [disabled]="!canSubmit() || inProgress || success || criticalError"
        (click)="submit()"
        i18n="@@WIRE__CREATOR__SEND_ACTION"
      >SEND</button>

      <div *ngIf="inProgress" class="m-wire--creator--submit-label mdl-spinner mdl-js-spinner is-active" [mdl]></div>

      <div *ngIf="!inProgress && success" class="m-wire--creator--submit-label">
        <i class="material-icons">check</i>
        <span i18n="@@WIRE__CREATOR__WIRED_NOTICE">Wired!</span>
      </div>

      <div *ngIf="!inProgress && !!error" class="m-wire--creator--submit-error">
        <i class="material-icons">close</i>
        <span>{{ error }}</span>
      </div>
    </div>
  </section>
</div>
