.m-wire--creator {
  font-weight: 400;
  max-width: 900px;
  margin: auto;
  position: relative;

  h2 {
    font-weight: 200;
  }
  h3, h4 {
    font-weight: 400;
  }

  h3 {
    display: block;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    align-items: center;
    margin: 0 0 $minds-padding 0;

    > .m-wire--creator-section--title-context {
      font-size: 12px;
      line-height: 1;
      max-width: 300px;
      text-transform: initial;
      margin-left: $minds-padding * 3;
    }

  }

  h4 {
    font-size: 24px;
    letter-spacing: 2.5px;
  }

  .material-icons--inline {
    vertical-align: bottom;
    font-size: inherit;
    position: relative;
    top: -0.15em;
  }


  .m-wire--creator--header{
    position: relative;

    h2 {
      font-size: 36px;
      letter-spacing: 1.8px;
      margin: 0 0 8px;
    }

    .m-wire-creator--header-svg {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .ion-icon {
        color: #4690D6;
        margin-right: $minds-padding;
        font-size: 36px;
      }
    }

    .m-wire--creator--header-text {
      display: flex;
      flex-direction: row;
      align-items: center;

      .m-wire--avatar {
        display: flex;
        flex-direction: column;

        img {
          border-radius: 50%;
          max-height: 42px;
        }
      }

      .m-wire-creator--subtext {
        letter-spacing: 1px;
        font-weight: 400;
        margin-bottom: 0;
        padding-left: $minds-margin * 2;
        line-height: 16px;
      }
    }

    .m-wire--creator--wallet {
      position: absolute;
      right: $minds-padding + 64px;
      top: 28px;
      font-size: 16px;

      .m--middle {
        vertical-align: middle;
      }
    }
  }

  .m-wire--creator-section {
    padding: 16px 0;
    font-weight: 400;

    &.m-wire--creator-section--last {
      margin-top: 8px;
    }
  }

  .m-wire--creator--recurring {
    margin-top: $minds-padding * 2;
  }

  .m-wire--creator--amount, .m-wire--creator--target {
    margin-top: 16px;
    letter-spacing: 2.5px;
    input {
      width: 6em;
      max-width: 229px;
      padding: 12px;
      font-weight: 300;
      letter-spacing: 5px;
      text-align: right;

      appearance: none;
      background: rgba(0, 0, 0, 0.15);
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      border: none;
      border-radius: $minds-padding / 2;
      margin: 0;

      &:focus {
        outline: none;
      }
    }
  }

  .m-wire--creator-selector {
    > li {
      h4, span {
        margin: 0;
        font-weight: 400;
      }

      .m-wire--creator-selector-type {
        padding: $minds-padding 0;
        > * {
          vertical-align: middle;
          display: inline-block;
        }
        i {
          margin-right: 8px;
          font-size: 28px;
        }
      }

      b {
        font-weight: 500 !important;
        letter-spacing: 3px;
      }

      .m-wire--creator-selector--cta,
      .m-wire--creator-selector--selected-label,
      .m-wire--creator-selector--description {
        display: block;
        font-size: 13px;
      }

      .m-wire--creator-selector--cta,
      .m-wire--creator-selector--selected-label {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        line-height: 2;
      }

      .m-wire--creator-selector--selected-label {
        font-weight: 400;
        color: #417cb2;
      }

      .m-wire--creator-selector--description {
        font-size: 13px;
        letter-spacing: 1.5px;
        line-height: 1.3;
        max-width: 300px;
        color: rgba(0,0,0,0.75);
      }
    }
  }



  .m-wire--creator-wide-input {
    $fs: 32px;

    font-size: $fs;
    letter-spacing: 2.4px;
    //height: $fs + $minds-padding;

    > * {
      vertical-align: middle;
    }

    &.m-wire--creator-wide-input--reading {
      cursor: pointer;
    }

    @media screen and (max-width: $max-mobile) {
      $fs-mobile: 32px;

      font-size: $fs-mobile;
      height: $fs-mobile + $minds-padding;

      .m-wire--creator-wide-input--edit {
        height: $fs-mobile + $minds-padding;
        line-height: $fs-mobile;
      }
    }

    .m-wire--creator-wide-input--read-mode {
      font-weight: 400;

      &.m-wire--creator-wide-input--empty-read-mode {
        opacity: 0.65;
      }
    }

    &.m-wire--creator--target {
      .m-wire--creator-wide-input--edit {
        width: 15em;
        max-width: 90%;
        height: auto;
        line-height: 1;
      }
    }
  }

  .m-wire--creator-toggle {
    .m-wire--creator-toggle--select,
    .m-wire--creator-toggle--selected {
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      min-width: 6em;
      margin-right: $minds-padding * 2;
    }

    .m-wire--creator-toggle--selected {
      color: #417cb2;
      font-weight: 500;
    }

    b {
      font-weight: 500 !important;
    }
  }

  .m-wire--creator-autocomplete--results {
    position: relative;
    width: 30em;
    max-width: 90%;
    max-height: 300px;
    font-size: 16px;
    border-radius: 3px;
    background: rgba(0,0,0,0.15);
    padding: $minds-padding;
    margin-top: $minds-padding * 1.5;
    overflow-y: auto;
    box-sizing: border-box;

    &:after {
      bottom: 100%;
      left: 95%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(102, 102, 102, 0);
      border-bottom-color: #ffffff;
      border-width: 8px;
      margin-left: -8px;
    }

    .m-wire--creator-autocomplete--result {
      padding: $minds-padding / 2;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      &:hover, &.m-wire--creator-autocomplete--result-highlight {
        background: #ffffff;
        color: #000;
        font-weight: 500;
      }
    }
  }

  .m-wire--creator--submit {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .m-wire--creator-button {
      font-size: 14px;
      letter-spacing: 2.33px;
      appearance: none;
      padding: 8px 32px;
      background: none;
      border: 1px solid #555;
      border-radius: 0;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      text-transform: uppercase;
      color: #555;
      cursor: pointer;

      &[disabled] {
        cursor: default;
        opacity: 0.35;
      }
    }

    .m-wire--creator--submit-label,
    .m-wire--creator--submit-error {
      margin-left: $minds-padding;
      font-size: 16px;

      > span, > i {
        vertical-align: middle;
      }
    }

    .m-wire--creator--submit-error {
      color: #ff0000;
      font-size: 12px;
      font-weight: 500;
    }
  }

  // Credit Card Input
  .m-wire--creator-payment {
    border: 0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    max-width: 440px;
    padding: 0px;

    @media screen and (max-width: $max-mobile) {
      position: static;
      margin: 0;
      min-width: 0;
      max-width: initial;
    }

    .mdl-card{
      background: transparent;
    }

    .m-wire--creator-payment-attached{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 16px;

      i{
        font-size: 90px;
        cursor: default;
      }
      span{
        padding: 16px 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: default;

        b {
          cursor: pointer;
        }
      }
    }

    .m-payments--saved-cards{
      padding-bottom: $minds-padding;

      .m-payments-saved--title {
        font-size: 11px;
        letter-spacing: 2.5px;
      }
    }

    .m-payments--saved-card-item{
      background: rgba(255,255,255, 0.5);
      color: #555;
      padding: 4px 8px;
      margin: 8px 16px;
    }

    input{
      color: #555;
      background: rgba(255,255,255, 0.5);
      padding: 12px;
      border: 0;
      border-radius: 3px;
      &::placeholder{
        color: #888;
      }
    }
    select{
      padding:12px;
      background: rgba(255,255,255, 0.5);
      border: 0;
      color: #555;
      border-radius: 3px;
    }
    .mdl-textfield {
       padding: 12px 0;
       label {
        color: #666;
        padding: 0px 12px;
      }
    }
    .is-focused, .is-dirty{
      border: 0;
      label{
        color: #555;
        border: 0;
        top: -8px;
        left: -8px;
        &::after{
          border:0;
          background-color:transparent;
        }
      }
    }
    .herd-purchase-vendors {
      margin-bottom: ($minds-padding * 2) !important;
      color:#555;
    }
    .m-purchase-card--highlight{
      font-weight: bold;
    }
    .m-checkout--secure{
      color: #666;
    }
    button{
      padding: 12px;
      -webkit-appearance: none;
      border: 0;
      background: rgba(0,0,0,0.50);
      font-size: 16px;
      text-transform: uppercase;
      color: #FFF;
      letter-spacing: 1px;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  .herd-purchase-card > .mdl-grid {
    justify-content: space-between;
  }

  .m-checkout-confirm {
    padding-left: 0 !important;
  }

  .m-payments-saved {
    .m-payments-saved--item {
      text-transform: uppercase;
      font-weight: 400;
      padding: $minds-padding / 2;
      padding-left: $minds-padding * 2;

      &:hover, &:focus {
        font-weight: 400;
      }
    }
  }

  .mdl-checkbox {
    $cb-color: rgba(0, 0, 0, 0.15);

    .mdl-checkbox__label {
      font-size: inherit;
    }

    .mdl-checkbox__box-outline {
      border-color: $cb-color;
      background-color: $cb-color;
    }

    &.is-checked .mdl-checkbox__tick-outline {
      background-color: $cb-color;
      mask: none;
    }

    .mdl-checkbox__ripple-container .mdl-ripple {
      background-color: $cb-color;
    }
  }
}

//&:last-child {
//  margin-bottom: 0;
//}

.m-wire--creator-selector {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    opacity: 0.5;
    padding: $minds-padding ($minds-padding * 3);
    cursor: pointer;
    user-select: none;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.m-wire--creator-selector--disabled {
      cursor: default;
    }

    &.m-wire--creator-selector--highlight {
      opacity: 1;
    }

    .m-wire--creator-selector--cta {
      visibility: visible;
    }

    .m-wire--creator-selector--selected-label {
      visibility: hidden;
      height: 0;
    }
  }

  &.m-wire--creator-selector--has-selection {
    > li.m-wire--creator-selector--highlight {
      .m-wire--creator-selector--cta {
        visibility: hidden;
        height: 0;
      }

      .m-wire--creator-selector--selected-label {
        visibility: visible;
        height: auto;
      }
    }
  }
}

.m-wire--creator-toggle {
  cursor: pointer;
  user-select: none;

  > span, > img {
    vertical-align: middle;
  }

  &.m-wire--creator-toggle--disabled {
    cursor: default;
    opacity: 0.35;
  }

  .m-wire--creator-toggle--select {
    display: inline-block;
  }

  .m-wire--creator-toggle--selected {
    display: none;
  }

  &.m-wire--creator-toggle--highlight {
    .m-wire--creator-toggle--select {
      display: none;
    }

    .m-wire--creator-toggle--selected {
      display: inline-block;
    }
  }
}

// Card Input

.m-wire--creator-modal minds-payments-stripe-checkout {
  minds-checkout-card-input {
    display: block;
    max-width: $min-tablet;
  }

  .mdl-card, .mdl-card__supporting-text {
    background: transparent;
    color: inherit;
  }

  .herd-purchase-card > .mdl-card__supporting-text {
    width: 100%;
    padding: 0 !important;
  }

  .mdl-textfield__label {
    color: rgba(0, 0, 0, 0.46);

    &:after {
      background-color: #ffffff;
    }
  }

  .mdl-textfield__input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.32);
    color: #ffffff;
    font-family: inherit;
    font-weight: inherit;
  }

  .mdl-textfield--floating-label {
    &.is-focused, &.is-dirty, &.has-placeholder {
      .mdl-textfield__label {
        color: #ffffff;
      }
    }
  }

  .herd-purchase-vendors {
    > span {
      opacity: 0.35;

      &.m-purchase-card--highlight {
        opacity: 1;
      }
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 0;

    &:focus {
      outline: 2px solid #ffffff;
    }
  }

  .m-checkout-confirm button {
    @extend .m-wire--creator-button;
  }

  .m-checkout-loading {
    text-align: center;

    p {
      margin-top: $minds-padding;
    }
  }

  .m-payments-saved {
    list-style: none;
    margin: 0 0 ($minds-padding * 2) 0;
    padding: 0;
    cursor: pointer;
    user-select: none;

    .m-payments-saved--item {
      &:hover, &:focus {
        background: #ffffff;
        color: #000000;
      }
    }
  }
}

// Creator Rewards component

.m-wire--creator-rewards {
  position: absolute;
  left: 510px;
  top: 92px;
  max-width: 330px;
  display: block;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding: ($minds-padding * 3) 0 ($minds-padding * 3) 60px;
  color: #555;
  font-family: inherit;
  font-weight: 200;

  @media screen and (max-width: $max-mobile) {
    position: initial;
    max-width: none;
    border: none;
    padding: 0 ($minds-padding * 2);
    margin: ($minds-padding * 2) 0;
  }

  .m-wire--creator-rewards--title {
    margin: 0 0 ($minds-padding * 2);
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2.5px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
  }

  .m-wire--creator-rewards--sums {
    margin: $minds-padding 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);

    b {
      font-weight: 400;
    }
  }

  .m-wire--creator-rewards--list {
    max-width: 360px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.35);

    .m-wire--creator-rewards--threshold {
      padding: 8px 0;
      cursor: pointer;
    }

    .m-wire--creator-rewards--above-threshold {
      color: rgba(0, 0, 0, 0.6);
    }

    .m-wire--creator-rewards--best-reward {
      color: #000;
    }

    .m-wire--creator-rewards--amount span {
      padding-bottom: $minds-padding;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 2.5px;
    }

    .m-wire--creator-rewards--description p {
      font-family: 'Lato';
      padding: 8px 0;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
    }
  }
}
