<header>
  <minds-banner
    [src]="'fs/v1/pages/' + page.path"
    [top]="page.headerTop"
    [editMode]="true"
    (added)="setHeader($event)">
  </minds-banner>
</header>

<div class="mdl-grid m-admin-pages" style="max-width:990px">

  <div class="mdl-cell mdl-cell--4-col">
      <ul class="m-content-sidebar-nav">
          <li class="m-content-sidebar-nav-item">
            <a (click)="newPage()" [ngClass]="{'is-active': !page.path && page.subtype !== 'link' }">
              <!-- i18n: @@MINDS__ADMIN__PAGES__ADD_PAGE -->Add a new page<!-- /i18n -->
            </a>
          </li>
          <li class="m-content-sidebar-nav-item">
            <a (click)="newLink()">
              <!-- i18n: @@MINDS__ADMIN__PAGES__ADD_LINK -->Add a new link<!-- /i18n -->
            </a>
          </li>
          <li class="m-content-sidebar-nav-item" *ngFor="let p of pages">
            <a (click)="setPage(p)" [ngClass]="{'is-active': p.path == page.path }">
              {{p.title}}
              <i *ngIf="p.subtype == 'link'" class="material-icons m-material-icons-inline-text mdl-color-text--yellow-a200">link</i>
            </a>
          </li>
      </ul>
  </div>

  <div [hidden]="page.subtype !== 'page'" class="mdl-cell mdl-cell--8-col m-form">
      <input type="text" class="m-h1-input" name="title" [(ngModel)]="page.title"/>

      <div class="m-admin-pages-path">
      /p/<input type="text" class="m-form-input" name="path" [(ngModel)]="page.path"/>
      </div>
      <!--<minds-tinymce [(content)]="page.body" [reset]="page.path"></minds-tinymce>-->
      <m-inline-editor name="description" [(ngModel)]="page.body" placeholder="Go ahead and write some content!" #inlineEditor></m-inline-editor>

      <div class="m-form-actions">
        <button class="m-button m-button--submit" (click)="save(page)" [hidden]="status == 'saving'" i18n="@@MINDS__ADMIN__PAGES__SAVE_AND_PUBLISH_ACTION">Save &amp; Publish</button>
        <button class="m-button m-button--submit" (click)="false" [hidden]="status != 'saving'" i18n="@@MINDS__ADMIN__PAGES__SAVING">Saving</button>

        <button class="m-button m-button--delete" (click)="delete(page)" i18n="@@M__ACTION__DELETE">Delete</button>
      </div>
  </div>

  <div [hidden]="page.subtype !== 'link'" class="mdl-cell mdl-cell--8-col m-form">
      <input type="text" class="m-h1-input" name="title" [(ngModel)]="page.title"/>

      <div class="m-admin-pages-link-path">
        <label for="" i18n="@@MINDS__ADMIN__PAGES__LINK_URL_LABEL">URL (relative or absolute):</label>
        <input type="text" class="m-form-input" name="path" [(ngModel)]="page.path"/>
      </div>

      <div class="m-form-actions">
        <button class="mdl-button mdl-button--colored mdl-button--raised" (click)="save(page, false)" [hidden]="status == 'saving'" i18n="@@MINDS__ADMIN__PAGES__SAVE_AND_PUBLISH_ACTION">Save & Publish</button>
        <button class="mdl-button mdl-button--colored mdl-button--raised" (click)="false" [hidden]="status != 'saving'" i18n="@@MINDS__ADMIN__PAGES__SAVING">Saving</button>

        <button class="mdl-button mdl-button--colored mdl-color-text--red" (click)="delete(page)" i18n="@@M__ACTION__DELETE">Delete</button>
      </div>
  </div>

</div>
