<div class="m-report-creator">

  <div class="m-report-creator--header">
    <h2>
      <span i18n="Report as flag something@@M__COMMON__REPORT">Report</span>
    </h2>
  </div>

  <div *ngIf="!inProgress && !success && !next" class="m-report-creator--subjects">
    <div class="m-report-creator--subjects-subject mdl-color-text--indigo-700"
      *ngFor="let item of subjects"
    >
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
        [mdlRadio]
        [mdlRadioValue]="item.value"
        #materialRadioButton
        [checked]="subject"
        [for]="'report-modal-reason-' + item.value"
        (click)="onSelectionChange(item)"
      >
        <input type="radio"
          class="mdl-radio__button"
          [disabled]="inProgress"
          [checked]="subject == item.value"
          name="subject"
          value="{{ item.value }}"
          [id]="'report-modal-reason-' + item.value"
          />
        <span class="mdl-radio__label">{{ item.label }}</span>
      </label>
    </div>
  </div>

  <div class="m-report-creator--appeals" *ngIf="next && !success && subject === 11">
    <div class="m-report-creator--note">
      <textarea [(ngModel)]="note" placeholder="Please explain why you think this content should not be on Herd." i18n-placeholder="@@REPORT__CREATOR__REPORT_NOTE_PLACEHOLDER"></textarea>
    </div>
  </div>

  <div class="m-report-creator--copyright" *ngIf="next && subject === 10">
    <p i18n="@@REPORT__CREATOR__DMCA_NOTICE">
      Please submit a DMCA notice to copyright@minds.com.
    </p>
  </div>

  <!-- Submit or Next -->
  <div *ngIf="!success && ( (next && subject === 11) || (!next && subject < 10) )">
    <section class="m-report-creator--section m-report-creator--section--last"
      (mouseenter)="showErrors()"
    >
      <div class="m-report-creator--submit">
        <button type="button" 
          class="m-report-creator--button m-report-creator--button-submit"
          [disabled]="!canSubmit() || inProgress || success"
          (click)="submit()"
          i18n="@@REPORT__CREATOR__SUBMIT_ACTION"
        >
          SUBMIT
        </button>
  
        <div *ngIf="inProgress" class="m-report-creator--submit-label mdl-spinner mdl-js-spinner is-active" [mdl]></div>
  
        <div *ngIf="!inProgress && error" class="m-report-creator--submit-error">
          <i class="material-icons">close</i>
          <span>{{ error }}</span>
        </div>
      </div>
    </section>
  </div>

  <!-- SHOW FOR MORE OR COPYRIGHT -->
  <div *ngIf="!success && !next && (subject === 11 || subject === 10)">
    <section class="m-report-creator--section m-report-creator--section--last">
      <div class="m-report-creator--submit">
        <button type="button" 
            class="m-report-creator--button m-report-creator--button-next"
          [disabled]="!canSubmit() || inProgress || success"
          (click)="next = true"
          i18n="@@REPORT__CREATOR__NEXT_ACTION"
        >
          NEXT
        </button>
      </div>
    </section>
  </div>

  <div *ngIf="!inProgress && success" class="m-report-creator--success">
    <p>
      <!-- i18n: @@M__COMMON__THANKS_LET_US_KNOW_KEEP_MINDS_SAFE -->Thanks for letting us know! We appreciate your effort to keep Herd safe and secure.<!-- /i18n -->
    </p>

    <p>
      <!-- i18n: @@M__COMMON__REVIEW_REPORT_ASAP -->We will review your report as soon as possible.<!-- /i18n -->
    </p>
  </div>

  <div class="m-report-creator--close" *ngIf="success || (next && subject === 10)">
    <button class="m-report-creator--button" (click)="close()">
    <!-- i18n: @@M__ACTION__CLOSE__CAPS -->CLOSE<!-- /i18n -->
    </button>
  </div>

</div>
