<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" [hidden]="!exclusive.saving"></div>

<!-- Exclusive content -->
<div class="mdl-color--white mdl-color-text--black m-merchant-plans-exclusive">
  <div class="mdl-grid m-merchant-plans-exclusive--inputs">
    <div class="mdl-cell mdl-cell--12-col">
      <p i18n="@@WIRE__CONSOLE__SETTINGS__PREVIEW_DESC">The below description and preview image is what your subscribers will see on your exclusive posts until they become a supporter.</p>
    </div>

    <div class="mdl-cell mdl-cell--12-col m-merchant-plans-exclusive--intro">
      <label i18n="@@WIRE__CONSOLE__SETTINGS__DESCRIPTION_LABEL">Description</label>
      <input type="text" autofocus placeholder="eg. Support me to see my exclusive content and join me for a monthly video chat" i18n-placeholder="@@WIRE__CONSOLE__SETTINGS__DESCRIPTION_PLACEHOLDER" [(ngModel)]="exclusive.intro" (keyup)="exclusive.saved = false; updatePreviewEntity()"/>
    </div>

    <div class="mdl-cell mdl-cell--12-col m-merchant-plans-exclusive--background">
      <label i18n="@@WIRE__CONSOLE__SETTINGS__BACKGROUND_LABEL">Background</label>
      <input type="file" #backgroundFile name="preview" (change)="updatePreview(backgroundFile)" accept="image/*" />
    </div>

    <div class="mdl-cell mdl-cell--12-col m-merchant-plans-exclusive--preview">
      <label i18n="@@WIRE__CONSOLE__SETTINGS__PREVIEW_LABEL">Preview</label>

      <m-wire--lock-screen *ngIf="previewEntity"
        [preview]="true"
        [entity]="previewEntity"
        class="mdl-shadow--4dp"
      ></m-wire--lock-screen>
    </div>

    <button class="mdl-button mdl-button--colored" (click)="save(backgroundFile)" [disabled]="exclusive.saving || exclusive.saved">
      <ng-container *ngIf="!exclusive.saving && !exclusive.saved" i18n="@@M__ACTION__SAVE">Save</ng-container>
      <ng-container *ngIf="exclusive.saving" i18n="@@WIRE__CONSOLE__SETTINGS__SAVING_LABEL">Saving…</ng-container>
      <ng-container *ngIf="exclusive.saved" i18n="@@M__COMMON__SAVED">Saved</ng-container>
    </button>
  </div>
</div>
