@import "../defaults.scss";

minds-sidebar-navigation {
  padding-top: 0 !important;
  flex-direction: column;
  align-items: stretch;
  padding-top: 16px;

  //hack the overflow
  padding-right: 40px;
  width: calc(40px + 100%);
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;

  nav.herd-navigation {
    padding-top: 0 !important;
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    flex-basis: auto;
    align-items: stretch;
    padding-top: 16px;

    .mdl-navigation__link {
      position: relative;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      font-weight: 700;
      padding: 16px 38px 32px;
      font-weight: 200;
      font-size: 11px;
      font-family: 'Lato', 'Helvetica', sans-serif;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);

      .material-icons {
        font-size: 26px;
        color: #000;
      }

      .counter {
        border-radius: 50%;
        padding: 4px 6px;
        line-height: 12px;
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        text-align: center;
        display: inline-block;
        margin: -12px 5px;
      }

      .m-navigation--text {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 2px 16px;
        box-sizing: border-box;
        font-size: 8px;
        font-weight: 500;
        line-height: 1em;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    .mdl-navigation__link.subitem {
      padding: 12px 38px 30px;
      color: black !important;
      .material-icons {
        font-size: 24px;
      }
    }

  }

}

.m-content-sidebar-nav {

  .m-content-sidebar-nav-item {

    list-style: none;

    > a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      padding: $minds-padding;
      cursor: pointer;

      &.is-active {
        border-left: 3px solid #ffca28;
      }

    }
  }
}

.m-footer-nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  .m-footer-nav-item {

    list-style: none;

    > a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 11px;
      padding: 0 $minds-padding;
    }
  }
}
