m-wire-channel {
  display: block;
  font-family: 'Lato', sans-serif;

  .mdl-card {
    margin-bottom: 8px;
  }

  .m-wire-channel--edit-button {
    display: inline-block;
    vertical-align: middle;

    > button {
      appearance: none;
      outline: none;
      border: none;
      border-radius: 4px;
      padding: 4px;
      margin-left: $minds-padding;
      font-size: 14px;
      color: #ff0;
      background: transparent;
      cursor: pointer;

      &:hover {
        color: #ffffff;
        background: #ff0;
      }
    }
  }

  .m-wire-channel--totals {
    display: flex;
    flex: 1;
    align-items: flex-end;
    text-align: right;

    .m-wire-channel--totals-total {
      flex: 1;

      .m-wire-channel--totals-number {
        font-size: 18px;
        color: #4690D6 !important;
        letter-spacing: 2.5px;
      }
      .m-wire-channel--totals-period {
        font-size: 11px;
      }
    }
  }

  .m-wire-channel--rewards {
    padding-top: 0;
    box-sizing: border-box;
    tr {
      cursor: pointer;
    }
  }

  .m-wire-channel--description,
  .m-wire-channel--description-editor {
    line-height: 1.3;
    letter-spacing: 0.5px;
    margin: 0 0 ($minds-padding * 2);
  }

  .m-wire-channel--description {
    white-space: pre-line;
  }

  .m-wire-channel--description-editor,
  .m-wire-channel--reward-description > textarea {
    width: 100%;
    border: 1px solid #ffff02;
    padding: $minds-padding / 2;
    box-sizing: border-box;
    text-align: left !important;
    resize: none !important;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  .m-wire-channel--rewards {
    width: 100%;
    //margin-top: $minds-padding * 2;
  }

  .m-wire-channel--selector {
    text-align: right;
    position: absolute;
    right: 0;

    > span, > button {
      vertical-align: middle;
    }

    > span {
      color: #aaaaaa;
    }
  }

  .m-wire-channel--empty-rewards {
    text-align: center;
    color: #999999;
    font-size: 12px;
  }

  .m-wire-channel--reward-send-wire {
    width: 100%;
    text-align: right;
    color: #4690d6;
    & > i {
      //transform: scale(1.6);
    }
  }

  .m-wire-channel--reward-amount,
  .m-wire-channel--reward-description {
    padding: $minds-padding 0;
    font-weight: 400;
    span {
      padding-right: $minds-padding;
    }
  }

  .m-wire-channel--reward-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 3.5em;
    font-size: 32px;
    letter-spacing: 1px;

    > input {
      width: 50%;
      padding: $minds-padding / 2;
      margin-left: $minds-margin * 1.5;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      text-align: inherit;
    }
  }

  .m-wire-channel--rewards-points {
    .m-wire-channel--reward-amount input {
      margin-left: 0;
      margin-right: $minds-margin * 1.5;
    }
  }

  .m-wire-channel--reward-description {
    > textarea {
      min-height: 51px;
      font-size: 14px;
      font-weight: 500;
      color: inherit;
    }
    p {
      margin: 0;
    }
  }

  .m-wire-channel--rewards--add-tier {
    text-align: right;

    > a {
      cursor: pointer;

      > * {
        vertical-align: middle;
      }
    }
  }

  .m-wire-channel--call-to-action {
    margin-bottom: $minds-margin * 2;
    //margin-top: $minds-padding * 2;

    > button {
      display: flex;
      align-items: center;
      width: 100%;
      appearance: none;
      border: none;
      border-radius: 4px;
      padding: $minds-padding * 2;
      font-family: 'Lato', sans-serif;
      font-size: 32px;
      font-weight: 200;
      text-transform: uppercase;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      .ion-icon {
        color: #ffffff;
        font-size: inherit;
        transform: scale(1.5);
        margin: 0 24px 0 18px;
      }
    }

    .m-wire-channel--cta-label {
      flex-grow: 1;
      letter-spacing: 2.5px;
      text-align: left;

      > span {
        display: block;
      }
    }

    .m-wire-channel--cta-legend {
      text-transform: initial;
      letter-spacing: 0.5px;
      font-size: 8px;
      font-weight: 500;
    }
  }
}
