<div class="m-wire-channel--call-to-action"
  *ngIf="session.getLoggedInUser().guid != channel.guid"
>
  <button class="mdl-color--green mdl-color-text--white mdl-shadow--8dp"
    (click)="sendWire()"
  >
    <i class="ion-icon ion-flash"></i>

    <span class="m-wire-channel--cta-label">
      <span i18n="@@WIRE__CHANNEL__WIRE_ME_ACTION">Wire me</span>
    </span>
  </button>
</div>

<m-wire-channel--overview [channel]="channel"></m-wire-channel--overview>

<div *ngIf="shouldShow()"
  class="mdl-card mdl-shadow--2dp mdl-color--white"
>
  <div class="mdl-card__title mdl-color-text--yellow-a200">
    <h2 class="mdl-card__title-text" i18n="@@WIRE__CHANNEL__REWARDS_TITLE">Rewards</h2>

    <span *ngIf="session.getLoggedInUser().guid == channel.guid"
      class="m-wire-channel--edit-button"
      (click)="toggleEditing()"
    >
      <button class="material-icons" [hidden]="editing">edit</button>
      <button class="material-icons" [hidden]="!editing">done</button>
    </span>
  </div>

  <div class="mdl-card__supporting-text mdl-color--black mdl-color-text--yellow-a200 m-wire-channel--rewards">
    <p *ngIf="!editing && rewards.description"
      class="m-wire-channel--description"
      [innerText]="rewards.description"
    ></p>

    <textarea *ngIf="editing"
      class="m-wire-channel--description-editor"
      [(ngModel)]="rewards.description"
      [autoGrow]
      placeholder="About your offerings. eg. Describe what your supporters will receive…"
      i18n-placeholder="@@WIRE__CHANNEL__REWARD_DESCRIPTION_PLACEHOLDER"
    ></textarea>

    <m-wire-channel-table type="money"
      *ngIf="shouldShow('money')"
      [(rewards)]="rewards.rewards.money"
      [editing]="editing"
      [channel]="channel"
    ></m-wire-channel-table>

    <m-wire-channel-table type="points"
      *ngIf="shouldShow('points')"
      [(rewards)]="rewards.rewards.points"
      [editing]="editing"
      [channel]="channel"
    ></m-wire-channel-table>

    <p class="m-wire-channel--disclaimer" *ngIf="false" i18n="@@WIRE__CHANNEL__REWARD_CHANGE_NOTICE">
      <span>@</span>{{channel.username}} reserves the right to change rewards at anytime without notice
    </p>
  </div>
</div>
