<div class="m-wire--marketing">

  <div class="m-wire--marketing-header">
    <h1>Wire</h1>
    <h3>Exchange points, pounds and Bitcoin directly with other channels on Herd</h3>

    <div class="m-wire--overlay"></div>
  </div>

  <div class="m-wire--marketing-contents mdl-grid mdl-grid--no-spacing mdl-color--yellow-a200 mdl-color-text--white">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
      <i class="ion-icon ion-flash mdl-color-text--white"></i>
      <h2>Support Great Creators</h2>
      <span>Tap the Wire icon on channels or posts to send points, pounds or Bitcoin to your favorite content creators</span>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <i class="material-icons mdl-color-text--white">favorite</i>
      <h2>Reward your fans</h2>
      <span>Build custom reward tiers for your fans to subscribe to your products and services, in exchange for points pounds or Bitcoin.</span>
    </div>
  </div>

  <div class="m-wire--marketing-faq mdl-color-text--black">
    <m-faq question="What is Wire?">
      <p>
        Wire is a peer-to-peer system for channels to send each other pounds, points or Bitcoin as a tip or in exchange for rewards, exclusive content and services.
        Various reward tiers can be set with custom offerings, and you can choose to support others on a one-time or monthly basis.
      </p>
    </m-faq>
    <m-faq question="How do I Wire Someone?">
      <p>
        You will see a Wire icon (lightning bolt) on channels and individual posts where you can send pounds, points or Bitcoin.
        You will also be able to see how much each individual post has earned, as well as how many views it has received, directly underneath the center of the post.
      </p>
    </m-faq>
    <m-faq question="What are reward tiers?">
      <p>
        Reward tiers describe what a supporter will get in exchange for a specific amount of pounds, points or Bitcoin.
        If you Wire someone the amount they set to unlock a reward tier or more, you will gain access to all of the rewards in that tier.
        You will also gain access to all of the rewards below that tier.
      </p>
    </m-faq>
    <m-faq question="How do I create my reward tiers?">
      <p>
        Once you have monetized your channel, you can create and edit your custom reward tiers on your channel page, under the “Rewards” section.
        Here, you will be able to set the cost of each reward tier, along with a description of what is included in that tier.
      </p>
    </m-faq>
    <m-faq question="What can I include in my reward tiers?">
      <p>
        Our reward tiers are customizable.
        You are able to set the price and description of each reward tier on your channel page.
        The description should explain what a supporter will receive once they have Wired you the necessary amount (ie. exclusive content, a one-on-one dinner, a shout-out in a video, etc.).
      </p>
    </m-faq>
    <m-faq question="How do I make a post exclusive to a specific reward tier?">
      <p>
        Select the Wire lightning bolt icon on the bottom right-hand corner of your post bar to select which of your reward tiers will be able to access the post.
        You can type in any amount at or above the numbers stated in your tiers as well.
        For instance, you could set an individual post to cost £100 to access, even if your rewards only go up to £50.
        Subscribers who do not qualify for the selected reward tier will see a custom paywall and will need to Wire you the remaining amount required to view the post.
      </p>
    </m-faq>
    <m-faq question="How do I track and manage my payments?">
      <p>
        In the Wire section of your Wallet, you will be able to track how many Wires you have received, how much you have earned in total, and what your average Wire amount is.
        You will also be able to see which specific users have sent you money, including the date and amount of each individual Wire.
      </p>
    </m-faq>
    <m-faq question="How do I cancel a subscription?">
      <p>
        If you have chosen to Wire another channel on a recurring monthly basis, you can cancel your subscription in your settings, under the billing section.
      </p>
    </m-faq>
    <m-faq question="How do I create a preview for my reward tiers?">
      <p>
        In the Wire section of your Wallet, click on the 'Options' button to create a custom preview that will be displayed to all users who have not yet Wired you enough to unlock the reward tiers that are defined on your channel.
      </p>
    </m-faq>
    <m-faq question="How do I get paid out?">
      <p>
        You will be paid out on monthly basis.
        Please note that monetized users agree to our Terms and Conditions and are subject to risks from chargebacks or refunds.
      </p>
    </m-faq>
    <m-faq question="What are the fees?">
      <p>
        There are certain fees that apply when a Wire transaction occurs.
      </p>
      <div>
        <b>Payment Processing Fees</b>
        <ul>
          <li>Stripe handles all payment processing for Herd</li>
          <li>Stripe charges a fee of <b>£0.30 + 2.9%</b> on all credit card transactions</li>
          <li>Learn more about Stripe's fees <a href="https://stripe.com/us/pricing" target="_blank">here</a></li>
        </ul>
      </div>
      <div>
        <b>Service Fees</b>
        <ul>
          <li>Herd charges a 4% fee on the net amount of the transaction once the payment processing fees have been deducted</li>
          <li>This fee is necessary to cover application, service and infrastructure costs</li>
        </ul>
      </div>
      <div>
        <b>Example</b>
        <ul>
          <li>You receive a £10 payment on Herd through Wire</li>
          <li>
            Stripe takes 2.9% + £0.30 of the $10
            <ul>
              <li>Stripe Fee = (10 x 0.029) + £0.30 = £0.59</li>
            </ul>
          </li>
          <li>
            Herd takes 4% of the original charge (£10) minus the Stripe fee (£0.59)
            <ul>
              <li>Herd Fee = (10 - 0.59) x .04 = $0.3764</li>
            </ul>
          </li>
          <li>You receive £9.03 in your account</li>
        </ul>
      </div>
    </m-faq>
  </div>

</div>

<m-footer></m-footer>
