<div class="m-messenger--conversation m-messenger--dockpane mdl-shadow--4dp" [class.m-messenger--dockpane-open]="conversation.open">
  <div class="m-messenger--dockpane-tab mdl-color-text--black"
    [class.mdl-color--amber]="conversation.unread"
    (click)="dockpanes.toggle(conversation); initialLoad()">
    <div class="m-messenger--dockpane-tab-title">
      <span *ngFor="let participant of conversation.participants">{{participant.username}}</span>
    </div>
    <div class="m-messenger--dockpane-tab-actions" (click)="$event.stopPropagation()">
      <i class="material-icons mdl-color-text--yellow-a200" [hidden]="live">sync_problem</i>
      <i class="material-icons mdl-color-text--yellow-a200"
      (click)="ribbon.open = !ribbon.open"
      [ngClass]="{ 'm-status-active': ribbon.open }"
      >more_vert</i>
      <i class="material-icons mdl-color-text--yellow-a200" (click)="dockpanes.close(conversation)">close</i>
    </div>
  </div>

  <div class="m-messenger--dockpane-container mdl-shadow--2dp">
    <div class="m-messenger--dockpane-tab-ribbon" #ribbon [hidden]="!ribbon.open">
      <div class="m-messenger--dockpane-tab-icon mdl-color-text--yellow-a200" (click)="deleteHistory(); ribbon.open = false" *ngIf="showMessages">
        <i class="material-icons mdl-color-text--yellow-a200" title="Delete chat history" i18n-title>delete</i>
        <!-- i18n -->Destroy<!-- /i18n -->
      </div>
      <div class="m-messenger--dockpane-tab-icon mdl-color-text--yellow-a200" (click)="block(); ribbon.open = false" *ngIf="!blocked">
        <i class="material-icons mdl-color-text--yellow-a200" title="Block participants" i18n-title>block</i>
        <!-- i18n -->Block<!-- /i18n -->
      </div>
      <div class="m-messenger--dockpane-tab-icon mdl-color-text--yellow-a200" (click)="block(); ribbon.open = false" *ngIf="blocked">
        <i class="material-icons mdl-color-text--yellow-a200" title="Un-block chat" i18n-title>restore</i>
        <!-- i18n -->Un-block<!-- /i18n -->
      </div>
    </div>

    <div class="m-messenger--conversation-encryption-lock" *ngIf="!showMessages">
      <minds-messenger-encryption (on)="initialLoad(); showMessages = true;"></minds-messenger-encryption>
    </div>

    <div class="m-messenger--conversation-messages" *ngIf="showMessages"
      [class.m-messenger-ribbon-open]="ribbon.open"
      minds-messenger-scroll
      [emitter]="scrollEmitter"
      #scrollArea
      (previous)="load({ offset: offset, container: scrollArea })">
      <div class="m-messenger--conversation-messages-notice mdl-color-text--black"
        *ngIf="chatNotice">
        <span [innerHtml]="chatNotice"></span>
      </div>
      <div [hidden]="!inProgress" style="width:100%; text-align:center; ">
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
      </div>
      <div class="m-messenger--conversation-messages-message"
        *ngFor="let message of messages"
        [class.m-optimistic-guess]="message.optimisticGuess"
        [class.odd]="message.owner.guid == session.getLoggedInUser().guid"
        (click)="message.showTs = !message.showTs">
          <img [src]="minds.cdn_url + 'icon/' + message.owner.guid + '/small'"
            *ngIf="message.owner.guid == session.getLoggedInUser().guid"
            [routerLink]="['/', message.owner.username]">
          <div
            class="m-messenger--conversation-message-bubble mdl-color--black mdl-color-text--yellow-a200"
            *ngIf="message.subtype != 'call_ended' &&  message.subtype != 'call_missed'"
            [innerHtml]="message.message | tags">
          </div>
          <!-- Call message -->
          <div
            class="m-messenger--conversation-message-bubble mdl-color--black mdl-color-text--yellow-a200"
            *ngIf="message.subtype == 'call_ended'">
            <!-- i18n -->Call Ended<!-- /i18n -->
          </div>
          <!-- Call missed -->
          <div
            class="m-messenger--conversation-message-bubble mdl-color--black mdl-color-text--yellow-a200"
            *ngIf="message.subtype == 'call_missed'">
            <!-- i18n -->Missed Call<!-- /i18n -->
          </div>
          <img [src]="minds.cdn_url + 'icon/' + message.owner.guid + '/small'"
            *ngIf="message.owner.guid != session.getLoggedInUser().guid"
            [routerLink]="['/', message.owner.username]">
          <div [hidden]="!message.showTs" class="m-messenger-conversations-ts mdl-color-text--black">{{ message.time_created * 1000 | date: 'medium' }}</div>
      </div>
      <div class="m-messenger--conversation-messages-notice mdl-color-text--black"
        *ngIf="blocked">
        <span i18n>You have blocked this chat</span>
      </div>
      <div class="m-messenger--conversation-messages-notice mdl-color-text--black"
        *ngIf="!blocked && unavailable">
        <span i18n>This chat is no longer available</span>
      </div>
      <div class="m-messenger--conversation-messages-notice mdl-color-text--black"
        *ngIf="!blocked && invalid">
        <span i18n>Awaiting other party&hellip;</span>
      </div>
      <div class="m-messenger--conversation-messages-invite mdl-color-text--yellow-a200"
        *ngIf="!blocked && invitable">
        <p>
          Looks like <b>@{{ invitable[0].username }}</b> isn't using Herd Messenger yet.
        </p>
        <p>
          <button class="mdl-button mdl-button--raised mdl-button--colored"
            (click)="invite()"
            [disabled]="invited"
          >
            <span *ngIf="!invited">Invite</span>
            <span *ngIf="invited">Invited</span>
          </button>
        </p>
      </div>
    </div>

    <div class="m-messenger--conversation-composer" *ngIf="!blocked && !unavailable && !invalid && !invitable && conversation.open && encryption.isOn()">
      <textarea placeholder="Send a message..."
      i18n-placeholder
      name="message"
      [(ngModel)]="message"
      [disabled]="blockingActionInProgress"
      (keydown.enter)="send($event); emoji.close()"
      (focus)="emoji.close()"
      (click)="emoji.close()"
      autoGrow
      maxlength="180"
      rows="1"></textarea>
      <i class="material-icons mdl-color-text--yellow-a200" (emoji)="message = message + $event.character" #emoji="emoji">mood</i>
      <i class="material-icons mdl-color-text--yellow-a200" (click)="send($event); emoji.close()">send_arrow</i>
      <minds-emoji [localDirective]="emoji"></minds-emoji>
    </div>
  </div>
</div>
