.m-i18n--marketing-header{
    background: url('<%= APP_CDN %>/assets/photos/satellite.jpg');
    background-position: -100px center;
    width: 100%;
    height: calc(100% - 200px);
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 224px 36px;
    box-sizing: border-box;
    position:relative;
  
    @media only screen and (max-width: 400px) {
      padding:110px 0;
    }
  
    h1, h3{
      color: #FFF;
  
      font-family: 'Lato';
      text-shadow: 0 0 3px #000;
  
      @media only screen and (max-width: 400px) {
        margin:0;
      }
      z-index:1;
    }
  
    h1{
      word-spacing: 25px;
      letter-spacing: 4px;
      text-transform: uppercase;
  
      @media only screen and (max-width: 400px) {
        font-size:30px;
      }
    }
    h3{
      letter-spacing: 2px;
      word-spacing:3px;
      font-weight:300;
  
      @media only screen and (max-width: 400px) {
        font-size: 14px;
      }
    }
  
    .m-i18n--marketing-action-button{
      margin-bottom: -80px;
      margin-top: 32px;
      a {
        letter-spacing: 3px;
        font-size: 18px;
        line-height: 35px;
        padding: 8px 24px;
        font-weight: 300;
        font-family: 'Lato';
        color: #FFF;
      }
      z-index:2;
    }
  
    .m-i18n--overlay{
      display: block;
      background: rgba(0,0,0,0.5);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
  
  .m-i18n--marketing-contents{
    max-width:990px;
    padding:64px 0 !important;
  
    justify-content: center;
  
    .mdl-cell{
      padding: 32px 16px;
      text-align: center;
  
      i{
        font-size: 64px;
      }
      h2{
        padding: 0;
        margin: 24px 0;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 30px;
      }
      span{
        font-family: 'lato';
        letter-spacing: 1px;
      }
    }
  }
  
  .m-i18n--marketing m-i18n--terms{
    max-width: 600px;
    margin: 16px auto;
    display: block;
    background: #FFF;
    padding: 16px;
    max-height: 600px;
    overflow: scroll;
  }
  
