<div class="m-i18n--marketing">
  <div class="m-i18n--marketing-header">
    <h1>Localization</h1>
    <h3>Help translate Herd into every global language</h3>

    <div class="m-i18n--marketing-action-button">
        <a class="mdl-button mdl-button--colored mdl-color--green" href="https://poeditor.com/join/project/A45VLCwD0Y" target="_blank">Contribute</a>
    </div>

    <div class="m-i18n--overlay"></div>
  </div>   
</div>

<m-footer></m-footer>
    
