<section class="m-video-banner">
  <div class="video">
    <video autoplay muted loop poster="{{minds.cdn_assets_url}}assets/videos/earth-1/earth-1.png" *ngIf="flags.canPlayInlineVideos">
      <!--<source src="assets/videos/traffic-1/traffic-1.webm" type="video/webm">
      <source src="assets/videos/traffic-1/traffic-1.mp4" type="video/mp4">-->
      <source src="{{minds.cdn_assets_url}}assets/videos/earth-1/earth-1.webm" type="video/webm">
      <source src="{{minds.cdn_assets_url}}assets/videos/earth-1/earth-1.mp4" type="video/mp4">
    </video>
  </div>
  <div class="overlay overlay--0.6">
    <div class="" style="max-width:400px">
      <div class="mdl-color-text--white">
        <h3 i18n="@@M__COMMON__START_A_CHANNEL">Not on Herd? Start a channel</h3>
      </div>
      <minds-form-register (done)="registered()" [referrer]="referrer"></minds-form-register>
    </div>
  </div>
</section>
