<ul class="mdl-card mdl-color--white mdl-shadow--2dp minds-settings-nav">
  <li class="minds-settings-item">
    <a routerLink="/settings/general" routerLinkActive="selected" class="mdl-color-text--black">
      <!-- i18n: @@SETTINGS__NAVIGATION__GENERAL_NAV -->Change your settings<!-- /i18n -->
    </a>
  </li>
  <!--<li class="minds-settings-item">
    <a [routerLink]="['/settings/statistics']" class ="mdl-color-text--black" >
      Account statistics
    </a>
  </li>-->
  <li class="minds-settings-item">
    <a routerLink="/settings/disable" routerLinkActive="selected" class="mdl-color-text--black">
      <!-- i18n: @@SETTINGS__NAVIGATION__DISABLE_NAV -->Deactivate channel<!-- /i18n -->
    </a>
  </li>
  <li class="minds-settings-item">
    <a routerLink="/settings/twoFactor" routerLinkActive="selected" class="mdl-color-text--black">
      <!-- i18n: @@SETTINGS__NAVIGATION__2FA_NAV -->Two factor authentication<!-- /i18n -->
    </a>
  </li>
  <li class="minds-settings-item">
    <a routerLink="/settings/billing" routerLinkActive="selected" class="mdl-color-text--black">
      <!-- i18n: @@SETTINGS__NAVIGATION__BILLINGS_NAV -->Billing<!-- /i18n -->
    </a>
  </li>
  <li class="minds-settings-item">
    <a routerLink="/settings/reported-content" routerLinkActive="selected" class="mdl-color-text--black">
      <!-- i18n: @@SETTINGS__NAVIGATION__REPORTED_CONTENT_NAV -->Reported Content<!-- /i18n -->
    </a>
  </li>
  <li class="minds-settings-item">
    <m-modal-invite #invite [open]="invite.open" (closed)="invite.open = false"></m-modal-invite>
    <a (click)="invite.open = true" class="mdl-color-text--black">
        <!-- i18n: @@M__ACTION__INVITE_FRIENDS -->Invite your friends<!-- /i18n -->
    </a>
  </li>
</ul>
