.m-discovery-suggested{
  margin-top:16px;
  max-width:100%;

  .m-discovery-wrapper {
    overflow: hidden;
  }

  .mdl-cell{
    min-width: 100%;
    margin:auto;

    .mdl-card{
      z-index:1;
      display:block;
    }

    minds-card-user{
      width: 400px;
      margin: 0 auto;

      .minds-usercard-banner{
        display: none !important;
      }

      .avatar{
        margin: 0 auto;
        width: 100%;
        height: 368px;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
        padding: 8px;
        background: #EEE;

        img{
          height:100%;
        }
      }
      .minds-tabs{
        //margin: -48px 12px 0 112px;
        margin-bottom:8px;
      }
      .minds-usercard-block{
        display: block;
        margin-top: 0;
        width: 100%;
        box-sizing: border-box;

        .body {
          h3 {
            color: #222222;
          }

          > span {
            color: #ff0;
          }
        }

        @media screen and (min-width: 400px){
          h3{
            font-size: 32px;
            line-height: normal;
          }
        }
      }

      @media screen and (max-width:400px){
        .minds-usercard-block{
          display: block;
          color: #222;
        }
        .avatar{
           width: 100%;
        }
        .body{
          margin: 16px 0 0;
        }
        .m-usercard-bio{
          margin-top:0 !important;
        }
      }


      .m-usercard-bio{
        display: flex;
        padding: 8px;
        margin-top:16px;
        color:#222;

        > div{
          font-size:12px;
          //flex:1;
          margin-right: 16px;
          display:flex;
          flex-direction:row;
          align-items:center;
          max-height: 40px;
          overflow: hidden;

          &.m-usercard-bio-brief{
            align-items:flex-start;
          }

          > i{
            vertical-align:middle;
            margin-right:8px;
          }
        }

      }

      herd-button-subscribe{
        display:none
      }
    }

    minds-card-video, minds-card-image{
        .minds-video-thumbnail{
            min-height:300px;
            background-repeat: no-repeat !important;
            background-size: contain !important;
        }
    }

    .m-action-tabs{
      display:none;
    }

  }

  .m-discovery-suggested-actions{
    display:flex !important;
    flex-flow:row nowrap;
    align-items:center;
    margin: -8px 12px;
    padding: 16px 0;
    z-index: 0 !important;

    .m-button {
      flex:1;
      text-align:center;

      > * {
        padding: 12px 32px;

        > i {
          vertical-align:middle;
        }
      }

    }

  }

  .m-discovery-suggested-location-bar{
    width:100%;
    margin:0 auto 16px auto;
    text-align:center;

    .m-discovery-suggested-location-inner{
      min-width:50%;
      margin:auto;
    }

    .m-discovery-suggested-location-toggle{
      border-radius:3px;
      padding:8px;
      cursor:pointer;
    }

    .m-discovery-suggested-location-options{
      select{
        -webkit-appearance: none;
        font-size:inherit;
        font-weight:bold;
        padding:8px;
        font-family:inherit;
        border:0;
      }
      input{
        padding: 8px;
        margin-left: 12px;
        border: 0;
        border-radius: 3px;
        background: transparent;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        width: 132px;
        @media screen and (max-width: 330px){
          width:80px
        }
        &::-webkit-input-placeholder{
          color:#FFF;
        }
        &::-moz-placeholder{
          color:#FFF;
        }
        &:-moz-placeholder{
          color:#FFF;
        }
        &:-ms-input-placeholder {
          color:#FFF;
        }
      }
    }

    .m-discovery-cities{
      width: 246px;
      text-align: left;
      margin: 16px auto;
      padding: 16px;

      p{
        margin:0;
        padding:0;
        font-size:12px;
      }

      li{
        list-style: none;
        padding: 12px 0;
        cursor: pointer;
        border-bottom: 1px solid #EEE;
      }

    }

  }

}

.m-discovery-suggested-channels {
  minds-button-feature {
    background: #ffffff;
  }

  .m-discovery-suggested-actions {
    width: 400px !important;
    padding: 24px 0 16px;
    margin: -8px auto 0;
    border-radius: 2px;

    button {
      > i.material-icons {
        font-size: 20px;
      }
    }

    .m-button-pass {
      background: #E53935;
      color: #ffffff;
      border-color: #ffffff;

      &:hover {
        background: #C62828;
      }
    }

    .herd-subscribe-button {
      background: #43A047;
      color: #ffffff;
      border-color: #ffffff;

      &:hover {
        background: #2E7D32;
      }
    }
  }
}

.m-discovery-channels-note {
  max-width: 400px;
  margin: 16px auto 0;
  text-align: center;
}
