<div class="mdl-tabs__tab-bar">
    <a [routerLink]="['/discovery', _filter, 'albums']" class="mdl-tabs__tab" [ngClass]="{'is-active': _type == 'albums' || _type == 'all'}" [hidden]="_filter != 'owner'" i18n="@@MINDS__DISCOVERY__ALBUMS_TAB">Albums</a>
    <a [routerLink]="['/discovery', _filter, 'videos']" class="mdl-tabs__tab" [ngClass]="{'is-active': _type == 'videos' || _type == 'all'}" i18n="@@M__FEATURE__VIDEO_PLURAL">Videos</a>
    <a [routerLink]="['/discovery', _filter, 'images']" class="mdl-tabs__tab" [ngClass]="{'is-active': _type == 'images' || _type == 'all'}" i18n="@@M__FEATURE__IMAGE_PLURAL">Images</a>
    <a [routerLink]="['/discovery', _filter, 'channels']" class="mdl-tabs__tab" [ngClass]="{'is-active': _type == 'channels' || _type == 'all'}" [hidden]="_filter == 'owner' || _owner" i18n="@@M__FEATURE__CHANNEL__PLURAL">Channels</a>
</div>

<div class="mdl-grid m-discovery-{{_filter}} m-discovery-{{_filter}}-{{_type}}" style="max-width:900px">

    <a class="mdl-cell mdl-cell--4-col" [routerLink]="['/capture']" style="text-decoration: none;" [hidden]="_type == 'channels' || _filter == 'suggested'">
      <div class="minds-add-card mdl-card mdl-shadow--2dp mdl-color--white mdl-color-text--yellow-a200">
        <i class="material-icons">file_upload</i>
        <h3 i18n="@@M__ACTION__UPLOAD">Upload</h3>
      </div>
    </a>

    <div *ngIf="_filter == 'suggested' && _type == 'channels'" class="m-discovery-suggested-location-bar">
      <div class="m-discovery-suggested-location-inner">
        <span *ngIf="!nearby && hasNearby" (click)="setNearby(true)" class="m-discovery-suggested-location-toggle  mdl-color-text--white" i18n="@@MINDS__DISCOVERY__LOCATION_OFF_TOGGLE">Location off</span>
        <span *ngIf="!nearby && !hasNearby" (click)="setNearby(true)" class="m-discovery-suggested-location-toggle mdl-color--grey-400 mdl-color-text--white" i18n="@@MINDS__DISCOVERY__NO_RESULTS_LABEL">No results</span>
        <span *ngIf="nearby" (click)="setNearby(false)" class="m-discovery-suggested-location-toggle  mdl-color-text--white" i18n="@@MINDS__DISCOVERY__LOCATING_LABEL">Locating</span>

        <!-- only show if locating is on -->
        <span *ngIf="nearby || (!nearby && !hasNearby)" class="m-discovery-suggested-location-options">
          <select (change)="distance = dist.value; load(true)" #dist class="mdl-color-text--yellow-a200">
            <option value="5">5 <!-- i18n: @@MINDS__DISCOVERY__MILES_UNIT -->miles<!-- /i18n --></option>
            <option value="25">25 <!-- i18n: @@MINDS__DISCOVERY__MILES_UNIT -->miles<!-- /i18n --></option>
            <option value="50">50 <!-- i18n: @@MINDS__DISCOVERY__MILES_UNIT -->miles<!-- /i18n --></option>
            <option value="100">100 <!-- i18n: @@MINDS__DISCOVERY__MILES_UNIT -->miles<!-- /i18n --></option>
          </select>
          <m-18n i18n="Distance from a city@@MINDS__DISCOVERY__OF_WORD">of</m-18n>
          <input (keyup)="findCity(city)" name="city" [(ngModel)]="city" class="mdl-color--indigo-300 mdl-color-text--white" placeholder="Enter your city..." i18n-placeholder="@@M__COMMON__ENTER_CITY" />
        </span>
        <div class="m-discovery-cities mdl-card mdl-shadow--4dp" *ngIf="cities.length > 0">
          <p class="mdl-color-text--yellow-a200" i18n="@@M__COMMON__SELECT_CITY">Select your city:</p>
          <li (click)="setCity(c)" *ngFor="let c of cities" [hidden]="!(c.address.town || c.address.city)">{{c.address.town}}{{c.address.city}}, {{c.address.state}}</li>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col m-discovery-wrapper" *ngFor="let entity of entities; let i = index" [hidden]="i != 0 && _filter == 'suggested'">

      <minds-card-video [object]="entity" *ngIf="entity.subtype == 'video'" class="mdl-card mdl-shadow--2dp mdl-color--white" [ngClass]="{'mdl-shadow--6dp': _filter == 'suggested'}"></minds-card-video>
      <minds-card-image [object]="entity" *ngIf="entity.subtype == 'image'" class="mdl-card mdl-shadow--2dp mdl-color--white" [ngClass]="{'mdl-shadow--6dp': _filter == 'suggested'}"></minds-card-image>
      <minds-card-album [object]="entity" *ngIf="entity.subtype == 'album'" class="mdl-card mdl-shadow--2dp mdl-color--white" [ngClass]="{'mdl-shadow--6dp': _filter == 'suggested'}"></minds-card-album>

      <!-- START: User Only -->
      <minds-card-user [object]="entity" [avatarSize]="_filter == 'suggested' ? 'large' : 'medium'" *ngIf="entity.type == 'user'" class="mdl-card mdl-shadow--2dp mdl-color--white"></minds-card-user>
      <!-- END: User Only -->

      <div class="m-discovery-suggested-actions mdl-card mdl-shadow--6dp mdl-color--yellow-a200" *ngIf="_filter == 'suggested'">
        <span class="minds-button-edit m-button" (click)="pass(i)">
          <button i18n="@@MINDS__DISCOVERY__PASS_ACTION">Pass</button>
        </span>
        <herd-button-subscribe class="m-button" [user]="entity" (click)="pop(i)" [hidden]="_type != 'channels'"></herd-button-subscribe>
        <minds-button-thumbs-up class="m-button" [object]="entity" (click)="pop(i)" [hidden]="_type == 'channels'"></minds-button-thumbs-up>
        <minds-button-thumbs-down class="m-button" [object]="entity" (click)="pop(i)" [hidden]="_type == 'channels'"></minds-button-thumbs-down>
        <minds-button-remind class="m-button" [object]="entity" (click)="pop(i)" [hidden]="_type == 'channels'"></minds-button-remind>
      </div>

    </div>

    <infinite-scroll
        distance="25%"
        (load)="load()"
        [moreData]="moreData"
        [inProgress]="inProgress"
        *ngIf="_filter != 'suggested'">
    </infinite-scroll>
    <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress" *ngIf="_filter == 'suggested'"></div>


</div>
