<div class="m-search-bar-suggestions-list" [hidden]="disabled || !active" (mousedown)="mousedown($event)">
  <ng-container *ngIf="!q">
    <ng-container *ngFor="let suggestion of recent">
      <a class="m-search-bar-suggestions-suggestion"
        *ngIf="suggestion.type == 'user'"
        [routerLink]="['/', suggestion.username]">
        <img src="icon/{{suggestion.guid}}/small"/> @{{suggestion.username}}
      </a>
      <a class="m-search-bar-suggestions-suggestion"
        *ngIf="suggestion.type == 'group'"
        [routerLink]="['/groups/profile/', suggestion.guid]">
        <img src="fs/v1/avatars/{{suggestion.guid}}/small"/> {{suggestion.name}}
      </a>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="q">
    <a class="m-search-bar-suggestions-suggestion"
      *ngFor="let suggestion of suggestions"
      [routerLink]="['/', suggestion.username]">
      <img src="icon/{{suggestion.guid}}/small"/> @{{suggestion.username}}
    </a>
  </ng-container>

  <ng-container *ngIf="q && currentContext">
    <a class="m-search-bar-suggestions-suggestion m-search-bar-suggestions-context" *ngIf="currentContext.entity"
      [routerLink]="[ '/search', { q: q, ref: 'top-suggestion-id', type: currentContext.product, id: currentContext.entity.id } ]"
    >
      <b i18n="@@SEARCH_CONTEXT_COLON">Search {{ currentContext.entity.label }}:</b> <span>{{ q }}</span>
    </a>

    <a class="m-search-bar-suggestions-suggestion m-search-bar-suggestions-context" *ngIf="currentContext.product"
      [routerLink]="[ '/search', { q: q, ref: 'top-suggestion', type: currentContext.product } ]"
    >
      <b i18n="@@SEARCH_CONTEXT_COLON">Search {{ currentContext.label }}:</b> <span>{{ q }}</span>
    </a>
  </ng-container>

  <a class="m-search-bar-suggestions-suggestion m-search-bar-suggestions-context" *ngIf="q"
    [routerLink]="[ '/search', { q: q, ref: 'top' } ]"
  >
    <b i18n="@@SEARCH__SUGGESTIONS__MINDS_CONTEXT_LABEL">Search Herd:</b> <span>{{ q }}</span>
  </a>
</div>
