<div class="drag-animation mdl-color--yellow-a200 mdl-color-text--blue-grey-50" [hidden]="!dragging">
  <div class="drop">
    <i class="material-icons">file_upload</i>
    <p i18n="@@MINDS__CAPTURE__DROP_AREA">Drop your files here</p>
  </div>

</div>

<div class="mdl-grid capture-grid" style="max-width:900px" >

    <div class="mdl-cell mdl-cell--4-col">

      <div class="mdl-card m-albums-selector" #toggle>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">
            <!-- i18n: @@MINDS__CAPTURE__ALBUM_LABEL -->Album<!-- /i18n -->
          </h2>
          <button class="mdl-button mdl-button--fab mdl-button--colored m-album-add" (click)="toggle.value = !toggle.value">
            <i class="material-icons">add</i>
          </button>
        </div>


        <div class="mdl-card m-album m-album-create mdl-color--yellow-a200" *ngIf="toggle.value">

          <div class="mdl-card__title">
            <input
              type="text"
              #newalbum

              />
            <button class="mdl-button mdl-button--colored mdl-color-text--white" (click)="createAlbum(newalbum); toggle.value = false" i18n="@@M__ACTION__CREATE">Create</button>

          </div>

        </div>

        <div
          class="mdl-progress mdl-js-progress mdl-progress__indeterminate"
          [hidden]="albums.length > 0 && !inProgress"
          [mdl]
          ></div>
        <div *ngFor="let album of albums"
          class="mdl-card m-album mdl-color--indigo-50 mdl-color-text--yellow-a200"
          [ngClass]="{'mdl-color--yellow-a200': postMeta.album_guid == album.guid, 'mdl-color-text--blue-grey-50': postMeta.album_guid == album.guid}"
          (click)="selectAlbum(album)">

            <div class="mdl-card__title" [ngClass]="{'mdl-color-text--blue-grey-50': postMeta.album_guid == album.guid}">
              <h2>{{album.title}}</h2>
            </div>
            <div class="mdl-card__menu">
              <i class="material-icons" (click)="deleteAlbum(album)">delete</i>
            </div>

        </div>
      </div>

    </div>

  <!-- Upload output -->
  <div class="mdl-cell mdl-cell--8-col">



    <form class="mdl-card">
      <div class="mdl-card__actions" style="display:flex;">
          <div class="upload-button">
            <button class="mdl-button mdl-button--raised">
              <i class="material-icons">attachment</i>
              <span i18n="@@MINDS__CAPTURE__ADD_FILE_ACTION">Add file</span>
            </button>
            <input
              type="file"
              id="file"
              #file
              (change)="add(file); file.value = '';"
              multiple
              accept="image/*"
              />
          </div>

          <div class="mdl-layout-spacer"></div>

          <a class="mdl-color-text--black m-capture-default-maturity" (click)="default_maturity = default_maturity ? 0 : 1">
            <i class="material-icons"
            [ngClass]="{ 'mdl-color-text--red-500': default_maturity }"
            title="Mature content"
            i18n-title="@@M__COMMON__MATURE_CONTENT"
            >explicit</i>
            <span *ngIf="default_maturity" class="mdl-color-text--red-500" i18n="@@M__COMMON__MATURE_CONTENT">Mature content</span>
          </a>

          <select name="defaultLicense" [(ngModel)]="default_license" class="mdl-color-text--black m-form-select ">
              <option *ngFor="let l of licenses" [value]="l.value">{{l.text}}</option>
          </select>

          <button class="mdl-button mdl-button--raised mdl-button--colored m-capture-save-to-album-button" (click)="publish()" [disabled]="!uploads">
            <span i18n="@@MINDS__CAPTURE__SAVE_TO_ALBUM">Save to album</span>
          </button>
      </div>
    </form>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white m-upload mdl-color--black" *ngFor="let upload of uploads; let i = index">
      <div class="mdl-card__title m-capture-edit-container">
        <input
          type="text"
          name="title"
          [(ngModel)]="upload.title"
          (change)="modify(i)"
          />

          <a class="mdl-color-text--black m-capture-mature" (click)="upload.mature = upload.mature ? 0 : 1">
            <i class="material-icons"
            [ngClass]="{ 'mdl-color-text--red-500': upload.mature }"
            title="Mature content"
            i18n-title="@@M__COMMON__MATURE_CONTENT"
            >explicit</i>
          </a>

          <select name="license" [(ngModel)]="upload.license" (change)="modify(i)" class="mdl-color-text--black m-form-select ">
              <option *ngFor="let l of licenses" [value]="l.value" >{{l.text}}</option>
          </select>
      </div>

      <div class="mdl-progress mdl-js-progress"
        [mdlUpload]
        [progress]="upload.progress"
        [ngClass]="{'failed': upload.state == 'failed', 'complete': upload.state == 'complete'}"
        ></div>

    </div>

    <div class="m-splash">
      <i class="material-icons mdl-color-text--yellow-a200">file_upload</i>
      <h3 class="mdl-color-text--yellow-a200" i18n="@@MINDS__CAPTURE__DRAG_TO_UPLOAD">Drag to upload</h3>
    </div>
  </div>

</div>
