<div class="m-rewards">
  <div class="m-rewards--marketing-header">
    <h1>{{name}}</h1> 
    <h3>Thank you for investing!</h3>
    <div class="m-rewards--overlay"></div>
  </div>

    <div class="m-rewards--rewards mdl-grid mdl-grid--no-spacing" *ngIf="rewards">
      <div class="mdl-cell mdl-cell--12-col">
        <h2>Your rewards</h2>
      </div>
      
      <div *ngIf="rewards.indexOf('10,000 points') != -1">
        <i class="material-icons mdl-color-text--yellow-a200">account_balance</i>
        <label>10,000 points</label>
      </div>
      <div *ngIf="rewards.indexOf('an investor badge') != -1">
          <i class="material-icons mdl-color-text--yellow-a200"><i class="material-icons">flight_takeoff</i></i>
        <label>investor badge</label>
      </div>
      <div *ngIf="rewards.indexOf('an official founders page') != -1">
        <i class="material-icons mdl-color-text--yellow-a200">account_box</i>
        <label>official founders page</label>
      </div>
      <div *ngIf="rewards.indexOf('Minds video chat') != -1">
        <i class="material-icons mdl-color-text--yellow-a200">video_call</i>
        <label>Herd video chat</label>
      </div>
      <div *ngIf="rewards.indexOf('a t-shirt') != -1"i style="align-items: center;">
              <svg style="width:46px;height:46px" viewBox="0 0 24 24">
                <path fill="#37474f"
                      d="M16,21H8A1,1 0 0,1 7,20V12.07L5.7,13.12C5.31,13.5 4.68,13.5 4.29,13.12L1.46,10.29C1.07,9.9 1.07,9.27 1.46,8.88L7.34,3H9C9,4.1 10.34,5 12,5C13.66,5 15,4.1 15,3H16.66L22.54,8.88C22.93,9.27 22.93,9.9 22.54,10.29L19.71,13.12C19.32,13.5 18.69,13.5 18.3,13.12L17,12.07V20A1,1 0 0,1 16,21M20.42,9.58L16.11,5.28C15.8,5.63 15.43,5.94 15,6.2C14.16,6.7 13.13,7 12,7C10.3,7 8.79,6.32 7.89,5.28L3.58,9.58L5,11L8,9H9V19H15V9H16L19,11L20.42,9.58Z"></path>
              </svg>
              <label>t-shirt</label>
      </div>
      <div *ngIf="rewards.indexOf('a coffee cup') != -1">
        <i class="material-icons mdl-color-text--yellow-a200">free_breakfast</i>
        <label>coffee cup</label>
      </div>
      <div *ngIf="rewards.indexOf('a town hall meeting') != -1">
        <i class="material-icons mdl-color-text--yellow-a200">group</i>
        <label>town hall meeting</label>
      </div>
      <div *ngIf="rewards.indexOf('a dinner with bill') != -1 && !(rewards.indexOf('a wine & dine with the team'))">
        <i class="material-icons mdl-color-text--yellow-a200">local_dining</i>
        <label>dinner with bill</label>
      </div>
      <div *ngIf="rewards.indexOf('a wine & dine with the team') != -1">
        <i class="material-icons mdl-color-text--yellow-a200">local_dining</i>
        <label>wine & dine with the team</label>
      </div>
      <div *ngIf="rewards.indexOf('quarterly video chats') != -1">
        <i class="material-icons mdl-color-text--yellow-a200">video_call</i>
        <label>quarterly video chats</label>
      </div>
      <div *ngIf="rewards.indexOf('feature sponsorship') != -1">
        <i class="material-icons mdl-color-text--yellow-a200">highlight</i>
        <label>feature sponsorship</label>
      </div>
    </div>

    <div class="m-rewards--form">
      <form #claimForm="ngForm" 
        (submit)="onClaim()"
        class="mdl-grid" 
        *ngIf="loggedIn">
        <h6 class="mdl-cell mdl-cell--12-col" *ngIf="requiresPostalAddress || requiresCellPhone">
          We need more data before we can proceed
        </h6>

        <div class="mdl-cell mdl-cell--6-col" *ngIf="requiresTShirtSize">
          <label i18n>T-shirt Size</label>
          <select name="tshirtSize" [(ngModel)]="tshirtSize" required>
            <option *ngFor="let size of tshirtSizes" [ngValue]="size">{{ size }}</option>
          </select>
        </div>

        <div class="mdl-cell mdl-cell--6-col"  *ngIf="requiresTShirtSize">
          <label>Address</label>
          <textarea
            name="address"
            [(ngModel)]="address"></textarea>
        </div>

        <div class="mdl-cell mdl-cell--6-col" *ngIf="requiresCellPhone">
          <p>Please email bill@minds.com to arrange your Dinner reward</p>
        </div>

        <div class="m-rewards--form-action mdl-cell" 
            [class.mdl-cell--6-col]="requiresPostalAddress || requiresCellPhone"
            [class.mdl-cell--12-col]="!(requiresPostalAddress || requiresCellPhone)"
            >
          <button type="submit" 
              class="mdl-button mdl-button--colored mdl-color--green"
              [disabled]="!claimForm.form.valid || inProgress"
              [ngStyle]="{'margin': !(requiresPostalAddress || requiresCellPhone) ? '16px auto': '16px'}"
              >
            Claim my rewards 
          </button>
        </div>
      </form>

      <button class="mdl-button mdl-button--colored mdl-color--green" *ngIf="!loggedIn" routerLink="/login">Login to claim your rewards</button>

    </div>
</div>
