<div class="m-affiliate--marketing">

  <div class="m-affiliate--marketing-header">
    <h1>Affiliate Program</h1>
    <h3>Earn 25% of the revenue Herd generates from your referrals</h3>

    <div class="m-affiliate--marketing-link" *ngIf="isAffiliate()">
      <input [value]="link" #el (click)="el.select()" />
      <span>Copy and share the link above</span>
    </div>

    <div class="m-affiliate--marketing-action-button">
      <button class="mdl-button mdl-button--colored mdl-color--green" *ngIf="user && !isAffiliate() && !showOnboarding" (click)="join()">Join Now</button>
      <button class="mdl-button mdl-button--colored mdl-color--green" *ngIf="!user" routerLink="/login">Join Now</button>
      <button class="mdl-button mdl-button--colored mdl-color--green" *ngIf="isAffiliate()" routerLink="/wallet/revenue">View Earnings</button>
    </div>
  </div>

  <div class="m-affiliate--marketing-onboarding mdl-shadow--4dp" *ngIf="showOnboarding">
    <p>In order to become a Herd Affiliate, you must first monetize your channel. Fill out the form below to get started.</p>
    <m-monetization--onboarding (completed)="onboardCompleted($event)"></m-monetization--onboarding>
  </div>


  <div class="m-affiliate--marketing-contents mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--4-col">
      <i class="material-icons mdl-color-text--blue-grey-700">assignment</i>
      <h2>Join</h2>
      <span>Getting set up is easy. Become an Affiliate by monetizing your channel</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <i class="material-icons mdl-color-text--blue-grey-700">share</i>
      <h2>Refer</h2>
      <span>Share your custom referral link across your networks</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <i class="material-icons mdl-color-text--blue-grey-700">attach_money</i>
      <h2>Earn</h2>
      <span>Earn 25% of the revenue Herd generates from the users who sign up through your referral link</span>
    </div>

  </div>

</div>

<m-footer></m-footer>
