<div class="m-social-icons">
  <div class="m-social-icons-icon m-social-icons-icon--facebook">
    <a class="m-social-icons-wrapper" (click)="openWindow('https://www.facebook.com/dialog/share?app_id=184865748231073&href=' + encodedUrl)" target="_blank" title="Facebook" i18n-title="@@M__NAMES__FACEBOOK">
      <span class="m-social-icons-icon-inline ">
        <svg width="40" height="40" viewBox="-2 -2 32 32">
          <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path>
        </svg>
      </span>
    </a>
  </div>
  <div class="m-social-icons-icon m-social-icons-icon--twitter">
    <a class="m-social-icons-wrapper" (click)="openWindow('https://twitter.com/intent/tweet?text=' + encodedTitle + '&tw_p=tweetbutton&url=' + encodedUrl)" target="_blank" title="Twitter" i18n-title="@@M__NAMES__TWITTER">
      <span class="m-social-icons-icon-inline ">
        <svg width="40" height="40" viewBox="-2 -2 32 32"><path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path></svg>
      </span>
    </a>
  </div>
  <div class="m-social-icons-icon m-social-icons-icon--email">
    <a class="m-social-icons-wrapper" [href]="'mailto:?subject=' + encodedTitle + '&body=' + encodedUrl" target="_blank" title="Email" i18n-title="@@M__COMMON__EMAIL">
      <span class="m-social-icons-icon-inline ">
        <svg width="40" height="40" viewBox="-2 -2 32 32"><path d="M20.2 11.7l-.4-.4-5.7 2.7-5.7-2.7-.3.4 6 4.9 6.1-4.9zM21.4 7H6.5L5 9.5v9.3L6.6 20h14.9l1.5-1.2V9.5L21.4 7zm-.5 10.8H7.1V9.2h13.8v8.6z"></path></svg>
      </span>
    </a>
  </div>
  <div class="m-social-icons-icon m-social-icons-icon--linkedin">
    <a class="m-social-icons-wrapper" (click)="openWindow('http://www.linkedin.com/shareArticle?mini=true&title=' + encodedTitle + '&url=' + encodedUrl)" target="_blank" title="LinkedIn" i18n-title="@@MINDS__SOCIAL_ICONS__LINKEDIN">
      <span class="m-social-icons-icon-inline ">
        <svg width="40" height="40" viewBox="0 0 30 30"><path d="M10.576 7.985c.865 0 1.568.703 1.568 1.568 0 .866-.703 1.57-1.568 1.57-.867 0-1.568-.704-1.568-1.57 0-.865.7-1.568 1.568-1.568zm-1.353 4.327h2.706v8.704H9.222v-8.704zm4.403 0h2.595v1.19h.038c.36-.685 1.244-1.407 2.56-1.407 2.737 0 3.243 1.803 3.243 4.147v4.774h-2.7v-4.232c0-1.01-.02-2.308-1.407-2.308-1.408 0-1.623 1.1-1.623 2.235v4.306h-2.704v-8.704"></path></svg>
      </span>
    </a>
  </div>
  <div class="m-social-icons-icon m-social-icons-icon--gplus">
    <a class="m-social-icons-wrapper" (click)="openWindow('https://plus.google.com/share?url=' + encodedUrl)" target="_blank" title="Google Plus" i18n-title="@@MINDS__SOCIAL_ICONS__GOOGLE_PLUS">
      <span class="m-social-icons-icon-inline ">
        <svg width="40" height="40" viewBox="4 -4 32 32"><path d="M8.8 12c-.1 2.9 2 5.7 4.7 6.6 2.6.9 5.8.2 7.5-2 1.3-1.6 1.6-3.6 1.4-5.6h-6.7v2.4h4c-.3 1.2-1.1 2.2-2.3 2.7-2.3 1-5.1-.3-5.8-2.7-.9-2.3.5-5 2.9-5.7 1.4-.5 2.9.1 4.1.8l1.8-1.8c-1.4-1.2-3.2-1.9-5-1.7-3.6.1-6.8 3.4-6.6 7zm18-3v2h-2v2h2v2h2v-2h2v-2h-2V9h-2z"></path></svg>
      </span>
    </a>
  </div>
  <div class="m-social-icons-icon m-social-icons-icon--embed" *ngIf="embedCode">
    <a class="m-social-icons-wrapper" (click)="embedModalOpen = true" target="_blank" title="Embeddable code" i18n-title="@@MINDS__SOCIAL_ICONS__EMBED_CODE">
      <span class="m-social-icons-icon-inline ">
        <svg width="40" height="40" viewBox="-100 -50 703 603">
          <path d="M153.821,358.226L0,274.337v-46.463l153.821-83.414v54.574L46.636,250.523l107.185,53.431   C153.821,303.954,153.821,358.226,153.821,358.226z"></path>
          <path d="M180.094,387.584L282.103,115.08h32.227L212.084,387.584H180.094z"></path>
          <path d="M348.843,358.226v-54.272l107.164-52.999l-107.164-52.59v-53.927l153.821,83.522v46.183    L348.843,358.226z"></path>
        </svg>
      </span>
    </a>
  </div>
</div>

<m-modal [open]="embedModalOpen" (closed)="embedModalClose($event)" *ngIf="embedCode">

  <div class="m-modal-share-embed m-modal-share-embed--first">
    <span class="m-modal-share-embed__label mdl-color-text--yellow-a200">
      <!-- i18n: @@M__COMMON__EMBED_INTO_WEBSITE -->Embed into your website:<!-- /i18n -->
    </span>
    <div>
      <textarea (click)="copy($event)" readonly>{{ embedCode }}</textarea>
    </div>
  </div>

</m-modal>
