<div class="mdl-grid groups-grid" style="max-width:900px">

    <a class="mdl-cell mdl-cell--4-col" [routerLink]="['/groups/create']" style="text-decoration: none;">
      <div class="mdl-card mdl-color--black mdl-shadow--2dp mdl-color-text--yellow-a200 minds-add-card" style="height:144px;">
        <i class="material-icons">add</i>
        <h3 i18n="@@GROUPS__START_A_GROUP_ACTION">Start a group</h3>
      </div>
    </a>

    <div class="mdl-cell mdl-cell--4-col" *ngFor="let group of groups">
      <minds-card-group [group]="group"></minds-card-group>
    </div>

      <infinite-scroll
          distance="25%"
          (load)="load()"
          [moreData]="moreData"
          [inProgress]="inProgress">
      </infinite-scroll>

</div>
