<section class="minds-homepage-banner m-video-banner" #banner [class.m-video-banner-expand]="banner.expand">
  <div class="video">
    <video autoplay muted poster="{{minds.cdn_assets_url}}assets/videos/music-1/music-1.png" *ngIf="flags.canPlayInlineVideos">
      <!--<source src="assets/videos/traffic-1/traffic-1.webm" type="video/webm">
      <source src="assets/videos/traffic-1/traffic-1.mp4" type="video/mp4">-->
      <source src="{{minds.cdn_assets_url}}assets/videos/music-1/music-1.webm" type="video/webm">
      <source src="{{minds.cdn_assets_url}}assets/videos/music-1/music-1.mp4" type="video/mp4">
    </video>
  </div>
  <div class="overlay">
    <div class="mdl-grid m-homepage-grid">
      <div class="mdl-cell mdl-cell--12-col m-homepage-titles">
        <h1 i18n="@@M__SOCIAL_NETWORK_SLOGAN">Grassroots music</h1>
        <icon-mascot></icon-mascot>
        <h3 [hidden]="session.isLoggedIn()" i18n="@@MINDS__HOME__HOMEPAGE__LAUNCH_CTA">Find your Herd</h3>
        <h3 *ngIf="session.isLoggedIn()" i18n="@@MINDS__HOME__HOMEPAGE__WELCOME_LABEL">Welcome back {{session.getLoggedInUser().name}}</h3>
      </div>
      <div class="mdl-cell mdl-cell--6-col m-homepage-signup" [hidden]="session.isLoggedIn()">
        <minds-form-register (done)="registered()" (click)="banner.expand = true"></minds-form-register>
      </div>
    </div>
  </div>
</section>

<section class="m-homepage-features mdl-color--yellow-a200">
  <div class="mdl-grid mdl-color-text--black">
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">timeline</i>
      <h3 i18n="@@M__FEATURE__NEWSFEED">Newsfeed</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">person_pin</i>
      <h3 i18n="@@M__FEATURE__CHANNEL__PLURAL">Channels</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">thumbs_up_down</i>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__VOTE_ITEM">Vote</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">comment</i>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__COMMENT_ITEM">Comment</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">file_upload</i>
      <h3 i18n="@@M__ACTION__UPLOAD">Upload</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">subject</i>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__BLOG_ITEM">Blog</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">chat_bubble</i>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__CHAT_ITEM">Chat</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">group_work</i>
      <h3 i18n="@@M__FEATURE__GROUP__PLURAL">Groups</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">account_balance</i>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__WALLET_ITEM">Wallet</h3>
    </div>
  </div>
</section>

<section class="m-homepage-section">
  <h2 class="mdl-color-text--yellow-a200" i18n="@@MINDS__HOME__HOMEPAGE__HOW_USERS_GENERATE_TITLE">Earn money as an unsigned artists</h2>
  <div class="mdl-grid m-homepage-section--icons">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <div class="mdl-color--green mdl-color-text--white m-homepage--feature-btn">
          <i class="material-icons m-homepage--feature-btn--icon">vpn_key</i>
          <span i18n="@@M__FEATURE__EXCLUSIVE">Exclusive</span>
      </div>
      <label i18n="homepage copy|@@MINDS__HOME__HOMEPAGE__PAID_SUBSCRIPTION_SUBITEM">Paid Subscriptions</label>
      <p i18n="@@MINDS__HOME__HOMEPAGE__PAID_SUBSCRIPTION_SUBITEM_DESC">Set a monthly price for your fans to pay for your exclusive content and services.</p>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <div class="mdl-color-text--white m-homepage--feature-btn" style="background: #428EDA;">
          <span i18n="@@M__FEATURE__PROMOTE">Promote</span>
      </div>
      <label i18n="@@MINDS__HOME__HOMEPAGE__P2P_PROMOTE_SUBITEM">Peer-To-Peer Promotion</label>
      <p i18n="@@MINDS__HOME__HOMEPAGE__P2P_PROMOTE_SUBITEM_DESC">Receive offers from other channels to share their content in exchange for points or pounds.</p>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <img src="{{minds.cdn_assets_url}}assets/wire-icon.png" style="display: block; margin: 20px auto; height: 60px;"/>
      <label i18n="@@M__FEATURE__WIRE">Wire</label>
      <p i18n="@@MINDS__HOME__HOMEPAGE__WIRE_ITEM_DESC">Receive tips from your audience for content they enjoy in points, pounds or Bitcoin.</p>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <i class="material-icons mdl-color-text--yellow-a200">insert_chart</i>
      <label i18n="@@MINDS__HOME__HOMEPAGE__AD_REVENUE_ITEM">Ad Revenue</label>
      <p i18n="@@MINDS__HOME__HOMEPAGE__AD_REVENUE_ITEM_DESC">Monetize your blog with ads.</p>
    </div>
  </div>
</section>

<section class="m-homepage-section">
  <h2 class="mdl-color-text--yellow-a200" i18n="@@MINDS__HOME__HOMEPAGE__GO_VIRAL_TITLE">Get involved and earn points</h2>
  <div class="mdl-grid mdl-grid--no-spacing" style="max-width:700px;">
    <h4 class="mdl-cell mdl-cell--6-col mdl-color-text--grey-600" i18n="homepage copy|@@MINDS__HOME__HOMEPAGE__POINT_EQUALS_VIEW_ITEM">1 point = 1 view</h4>
    <h4 class="mdl-cell mdl-cell--6-col mdl-color-text--grey-600" i18n="@@MINDS__HOME__HOMEPAGE__USD_EQUALS_1000_POINTS_ITEM">1 = 1,000 points</h4>
  </div>
  <div class="mdl-grid m-homepage-section--rewards">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
      <div class="m-homepage-section--rewards-points">
        <i class="material-icons mdl-color-text--yellow-a200">create</i>
        <span class="mdl-color-text--green">+1</span>
      </div>
      <label i18n="homepage copy|@@MINDS__HOME__HOMEPAGE__POST_ACTIVITY_ITEM">Post a text/link activity</label>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
      <div class="m-homepage-section--rewards-points">
        <i class="material-icons mdl-color-text--yellow-a200">chat_bubble</i>
        <span class="mdl-color-text--green">+5</span>
      </div>
      <label i18n="@@MINDS__HOME__HOMEPAGE__RECEIVE_A_COMMENT_ITEM">Receive a comment</label>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
      <div class="m-homepage-section--rewards-points">
        <i class="material-icons mdl-color-text--yellow-a200">person_add</i>
        <span class="mdl-color-text--green">+5</span>
      </div>
      <label i18n="@@MINDS__HOME__HOMEPAGE__GAIN_A_SUBSCRIBER_ITEM">Gain a subscriber</label>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
      <div class="m-homepage-section--rewards-points">
        <i class="material-icons mdl-color-text--yellow-a200">thumb_up</i>
        <span class="mdl-color-text--green">+5</span>
      </div>
      <label i18n="@@MINDS__HOME__HOMEPAGE__RECEIVE_AN_UPVOTE_ITEM">Receive an up vote</label>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
      <div class="m-homepage-section--rewards-points">
        <i class="material-icons mdl-color-text--yellow-a200">repeat</i>
        <span class="mdl-color-text--green">+5</span>
      </div>
      <label i18n="@@MINDS__HOME__HOMEPAGE__GET_REMINDED_ITEM">Get Reminded</label>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
      <div class="m-homepage-section--rewards-points">
        <i class="material-icons mdl-color-text--yellow-a200">attachment</i>
        <span class="mdl-color-text--green">+15</span>
      </div>
      <label i18n="homepage copy|@@MINDS__HOME__HOMEPAGE__POST_RICH_MEDIA_ITEM">Post a rich media activity</label>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
      <div class="m-homepage-section--rewards-points">
        <i class="material-icons mdl-color-text--yellow-a200">subject</i>
        <span class="mdl-color-text--green">+15</span>
      </div>
      <label i18n="homepage copy|@@MINDS__HOME__HOMEPAGE__PUBLISH_A_BLOG">Publish a blog</label>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
      <div class="m-homepage-section--rewards-points">
        <i class="material-icons mdl-color-text--yellow-a200">access_alarm</i>
        <span class="mdl-color-text--green">+50</span>
      </div>
      <label i18n="@@MINDS__HOME__HOMEPAGE__HOURLY_CHECKIN_ITEM">Hourly Check-in</label>
    </div>


  </div>
</section>

<span style="width: 100%; height: 1px; background: #DEDEDE; display: block;"></span>


<span style="width: 100%; height: 1px; background: #DEDEDE; display: block;"></span>


<div class="mdl-grid mdl-grid--no-spacing m-homepage-stream">

    <h4 class="mdl-color-text--blue-grey-200 mdl-cell--12-col">Featured Posts</h4>
    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[1]"></minds-activity>
    </section>

    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[2]"></minds-activity>
    </section>

    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[3]"></minds-activity>
    </section>

    <div [hidden]="!inProgress" style="width:100%; text-align:center; ">
      <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
    </div>

    <div class="m-homepage-fader" [hidden]="inProgress">
      <div class="m-homepage-fader--load-more" (click)="loadStream()" i18n="@@MINDS__HOME__HOMEPAGE__SEE_MORE_ACTION">Click To See more</div>
    </div>
</div>


<div class="mdl-grid mdl-grid--no-spacing m-homepage-featured m-homepage-footer">

    <section class="mdl-cell mdl-cell--12-col m-footer mdl-color--yellow-a200">
      <ul class="m-footer-nav m-footer-nav-inline">
        <li *ngFor="let page of navigation.getItems('footer')" class="m-footer-nav-item ">
          <a *ngIf="page.path && page.path.indexOf('p/') > -1" [routerLink]="[page.path]" class="mdl-color-text--yellow-200a">{{page.title}}</a>
          <a *ngIf="page.path.indexOf('p/') < 0" [href]="page.path" target="_blank" class="mdl-color-text--yellow-200a">{{page.title}}</a>
        </li>
      </ul>
      <span class="copyright mdl-color-text--blue-grey-700" i18n="@@M__COMMON__COPYRIGHT_2017">&#169; Herd 2018</span>
    </section>

</div>
