<div class="m-boost-rotator-tools">
  <ul class="m-boost-navigation">
    <li routerLink="/newsfeed/subscribed" routerLinkActive="selected">
      <span i18n="@@M__FEATURE__NEWSFEED">Newsfeed</span>
      <m-tooltip icon="help" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__NEWSFEED_TOOLTIP">
        Your Newsfeed contains posts from channels that you are subscribed to, as well as boosted posts from the wider network 
      </m-tooltip>
    </li>
    <li routerLink="/newsfeed/boost" routerLinkActive="selected">
      <span i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__PROMOTEFEED">Promotion Feed</span>
      <m-tooltip icon="help" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__PROMOTEFEED_TOOLTIP">
        The Promotion Feed only shows boosted posts from the wider network. To Boost your content, click the Promotion Feed icon on the topbar
      </m-tooltip>
    </li>
  </ul>
  <ul class="m-boost-rotator-tabs" *ngIf="boosts.length > 0 && !disabled">
    <li (click)="prev()">
      <i class="material-icons mdl-color-text--yellow-a200">chevron_left</i>
    </li>
    <li (click)="next()">
      <i class="material-icons mdl-color-text--yellow-a200">chevron_right</i>
    </li>
  </ul>

  <div class="m-boost-rotator-tools-tool" #toggle>
    <i class="material-icons mdl-color-text--yellow-a200" title="Boost Settings" (click)="toggle.value = !toggle.value">settings</i>
    <ul class="minds-dropdown-menu" [hidden]="!toggle.value">
      <li class="mdl-menu__item" *ngIf="!disabled">
        <span i18n="open boost|Open as Open Boost@@MINDS__NEWSFEED__PROMOTE_ROTATOR__OPEN_PROMOTE_ITEM">Open</span>
        <m-tooltip icon="help" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__OPEN_PROMOTE_ITEM_TOOLTIP">
          Open Boost may contain controversial content. By selecting Open, you acknowledge that you are willing to see controversial content.       
        </m-tooltip>
        <span class="m-dropdown--spacer"></span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1" [mdlSwitch] [toggled]="true" *ngIf="rating == 2">
          <input type="checkbox" id="switch-1" class="mdl-switch__input" [ngModel]="rating" (ngModelChange)="toggleRating()">
        </label>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1" [mdlSwitch] [toggled]="false" *ngIf="rating != 2">
          <input type="checkbox" id="switch-1" class="mdl-switch__input" [ngModel]="rating" (ngModelChange)="toggleRating()">
        </label>
      </li>
      <li class="mdl-menu__item" *ngIf="rating == 2 && !disabled">
        <span i18n="@@M__COMMON__EXPLICIT">Explicit</span>
        <m-tooltip icon="help" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__EXPLICIT_ITEM_TOOLTIP">
          By selecting Explicit mode, you acknowledge that you are 18+ years of age and are willing to see graphic content, explicit language, and nudity.
        </m-tooltip>
        <span class="m-dropdown--spacer"></span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-explicit" [mdlSwitch] [toggled]="true" *ngIf="session.getLoggedInUser().mature">
          <input type="checkbox" id="switch-explicit" class="mdl-switch__input" [ngModel]="session.getLoggedInUser().mature" (ngModelChange)="setExplicit(false)">
        </label>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-explicit" [mdlSwitch] [toggled]="false" *ngIf="!session.getLoggedInUser().mature">
          <input type="checkbox" id="switch-explicit" class="mdl-switch__input" [ngModel]="session.getLoggedInUser().mature" (ngModelChange)="setExplicit(true)">
        </label>
      </li>
      <li class="mdl-menu__item" (click)="paused = !paused;" *ngIf="!disabled">
        <span i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__AUTO_ROTATE_ITEM">Auto-rotate</span>
        <m-tooltip icon="help" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__AUTO_ROTATE_ITEM_TOOLTIP">
          This will enable/disable the Boost box on top of your feed from self-rotating.
        </m-tooltip>
        <span class="m-dropdown--spacer"></span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2" [mdlSwitch] [toggled]="true" *ngIf="!paused">
          <input type="checkbox" id="switch-2" class="mdl-switch__input" [ngModel]="!paused" (ngModelChange)="paused = !paused">
        </label>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2" [mdlSwitch] [toggled]="false" *ngIf="paused">
          <input type="checkbox" id="switch-2" class="mdl-switch__input" [ngModel]="paused" (ngModelChange)="paused = !paused">
        </label>
      </li>
      <li class="mdl-menu__item" *ngIf="plus">
        <span *ngIf="!disabled" (click)="disable()" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__HIDE_PROMOTE_ITEM">Hide Boost</span>
        <span *ngIf="disabled" (click)="enable()" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__SHOW_PROMOTE_ITEM">Show Boost</span>
        <m-tooltip icon="help" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__PROMOTE_VISIBILITY_TOOLTIP">
          Plus users may hide Boosts from their newsfeed.
        </m-tooltip>
      </li>
      <li class="mdl-menu__item" *ngIf="!plus">
        <span routerLink="/plus" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__HIDE_PROMOTE_ITEM">Hide Boost</span>
        <m-tooltip icon="help" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__PROMOTE_VISIBILITY_UPGRADE_TOOLTIP">
          Upgrade to Plus in order to turn off Boost.
        </m-tooltip>
      </li>
      <li class="mdl-menu__item" (click)="selectCategories()" *ngIf="!disabled">
        <span i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__SELECT_CATEGORIES_ITEM">Select Categories</span>
        <m-tooltip icon="help" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__SELECT_CATEGORIES_ITEM_TOOLTIP">
          Select the categories of content you’d like to see more of
        </m-tooltip>
      </li>
      <li class="mdl-menu__item" routerLink="/boost" i18n="@@MINDS__NEWSFEED__PROMOTE_ROTATOR__ABOUT_PROMOTE">About Boost</li>
    </ul>
  </div>

</div>

<minds-activity
  *ngFor="let boost of boosts; let i = index"
  [object]="boost"
  [boost-toggle]="boost.boostToggle"
  (delete)="delete(boost)"
  [class]="'mdl-card mdl-shadow--2dp mdl-color--white item m-boost-rotator-item m-boost-rotator-item-' + i"
  visible="true"
  [hidden]="i != currentPosition"
  (commentsOpened)="setSticky($event)"
  ></minds-activity>
