<div class="minds-banner-card mdl-card mdl-shadow--2dp mdl-color--white m-group-card">
  <div class="minds-usercard-banner mdl-color--indigo">
    <img src="{{minds.cdn_url}}fs/v1/banners/{{group.guid}}"/>
    <div class="minds-banner-overlay"></div>
  </div>

  <a [routerLink]="['/groups/profile', group.guid]" class="mdl-card__supporting-text minds-usercard-block">
    <div class="avatar">
        <img src="{{minds.cdn_url}}fs/v1/avatars/{{group.guid}}/small}}" class="mdl-shadow--2dp"/>
    </div>
    <div class="body">
      <h3>{{group.name}}</h3>
    </div>
  </a>

  <minds-groups-join-button *ngIf="!group['is:member']" [group]="group"></minds-groups-join-button>

  <div class="m-groups-card-stats" *ngIf="group['is:member']">
    <div class="minds-tabs mdl-tabs__tab-bar">
    		<a class="mdl-tabs__tab mdl-color-text--yellow-a200 1" [routerLink]="['/groups/profile', group.guid]">
    			<span i18n="Count of activities@@M__COMMON__FEED_COUNT">Feed</span>
    			<b>{{group['activity:count'] | number}}</b>
    		</a>
    		<a class="mdl-tabs__tab mdl-color-text--yellow-a200 2" [routerLink]="['/groups/profile', group.guid, 'members']">
    			<span i18n="@@M__COMMON__MEMBERS">Members</span>
    			<b>{{group['members:count'] | number}}</b>
    		</a>
    </div>
  </div>

</div>
