<div class="mdl-grid" style="max-width:360px">

    <div class="mdl-cell mdl-cell--12-col" [hidden]="!error">
          <div class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp minds-login-box" style="min-height:0;">
              <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                {{error}}
              </div>
          </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col" >

      <div class="mdl-card mdl-color--yellow-a200 mdl-color-text--blue-grey-50  mdl-shadow--2dp" *ngIf="step == 1">
          <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
            <!-- i18n: @@MINDS__HOME__FORGOT_PASSWORD__ENTER_USERNAME_HELP_NOTE -->To request a new password, enter your username<!-- /i18n -->

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
              <input class="mdl-textfield__input"
                      type="text"
                      id="username"
                      #username
                      (keydown.enter)="request(username)"
                  />
              <label class="mdl-textfield__label mdl-color-text--blue-grey-50"  for="username" i18n="@@M__COMMON__USERNAME">Username</label>
            </div>
            <button class="mdl-button mdl-button--raised mdl-color--yellow-a200" (click)="request(username)" [disabled]="inProgress" i18n="@@M__ACTION__CONTINUE">Continue</button>
          </div>

        </div>


        <div class="mdl-card mdl-color--yellow-a200 mdl-color-text--blue-grey-50  mdl-shadow--2dp" *ngIf="step == 2">
          <div class="mdl-card__supporting-text" i18n="@@MINDS__HOME__FORGOT_PASSWORD__UNLOCK_CODE_SENT">
              We have sent an unlock code to your registered email address.
          </div>
        </div>


        <div class="mdl-card mdl-color--yellow-a200 mdl-color-text--blue-grey-50  mdl-shadow--2dp" *ngIf="step == 3 && !error">
          <div class="mdl-card__supporting-text  mdl-color-text--blue-grey-50" i18n="@@MINDS__HOME__FORGOT_PASSWORD__ENTER_NEW_PASSWORD_HELP_NOTE">
              Please enter your new password
          </div>

          <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
                <input class="mdl-textfield__input"
                        type="password"
                        id="password"
                        #password
                    />
                <label class="mdl-textfield__label mdl-color-text--blue-grey-50" for="password" i18n="@@M__COMMON__PASSWORD">Password</label>
            </div>
            <div></div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
                <input class="mdl-textfield__input"
                        type="password"
                        id="password2"
                        #password2
                        (keydown.enter)="password == password2 ? reset(password2) : null"
                    />
                <label class="mdl-textfield__label mdl-color-text--blue-grey-50" for="password2" i18n="@@MINDS__HOME__FORGOT_PASSWORD__CONFIRM_PASSWORD_LABEL">Password (confirm) </label>
            </div>
            <div></div>

            <button class="mdl-button mdl-button--raised mdl-color--yellow-a200" (click)="reset(password2)" [disabled]="inProgress" i18n="@@MINDS__HOME__FORGOT_PASSWORD__RESET_ACTION">Reset</button>
          </div>
        </div>

    </div>
</div>
