<div class="m-wire--lock-screen--button m-wire--lock-screen--button-owner" *ngIf="!preview && (entity.ownerObj.guid == session.getLoggedInUser().guid)">
  <div class="m-wire--lock-screen-introduction">
    <p class="mdl-color-text--grey-800">
      <!-- i18n: @@WIRE__LOCK_SCREEN__ONLY_SUPPORTERS_TITLE_PART -->Only supporters who wire you over<!-- /i18n -->

      <ng-container *ngIf="entity?.wire_threshold?.type == 'money'" i18n="@@WIRE__LOCK_SCREEN__USD_PER_MONTH">
        {{ entity.wire_threshold.min | currency:'GBP':true:'1.0-0' }}/month
      </ng-container>

      <ng-container *ngIf="entity?.wire_threshold?.type == 'points'" i18n="@@WIRE__LOCK_SCREEN__POINTS_PER_MONTH">
        {{ entity.wire_threshold.min | number }} points/month
      </ng-container>

      <!-- i18n: @@WIRE__LOCK_SCREEN__WILL_SEE_TITLE_PART -->will see this post.<!-- /i18n -->
    </p>
  </div>
  <button class="mdl-button mdl-button--colored mdl-color--green-500 mdl-color-text--white">
    <i class="mdl-color-text--white ion-icon ion-flash"></i>
    <span><!-- i18n: @@WIRE__LOCK_SCREEN__LOCKED_LABEL -->Locked<!-- /i18n --></span>
  </button>
</div>


<div class="m-wire--lock-screen--button" *ngIf="preview || (entity.ownerObj.guid != session.getLoggedInUser().guid)">
  <div class="m-wire--lock-screen-introduction">
    <p class="mdl-color-text--grey-800">
      <b>&ldquo;</b>

      <ng-container *ngIf="entity.ownerObj?.merchant?.exclusive?.intro; else notHasIntro">
        {{entity.ownerObj?.merchant?.exclusive?.intro}}
      </ng-container>

      <ng-template #notHasIntro>
        <!-- i18n: @@WIRE__LOCK_SCREEN__WIRE_ME_OVER_PART -->Wire me over<!-- /i18n -->

        <ng-container *ngIf="entity?.wire_threshold?.type == 'money'" i18n="@@WIRE__LOCK_SCREEN__USD_PER_MONTH">
          {{ entity.wire_threshold.min | currency:'GBP':true:'1.0-0' }}/month
        </ng-container>

        <ng-container *ngIf="entity?.wire_threshold?.type == 'points'" i18n="@@WIRE__LOCK_SCREEN__POINTS_PER_MONTH">
          {{ entity.wire_threshold.min | number }} points/month
        </ng-container>

        <!-- i18n: @@WIRE__LOCK_SCREEN__TO_SEE_TITLE_PART -->to see this post.<!-- /i18n -->
      </ng-template>

      <b>&rdquo;</b>
    </p>
  </div>
  <button class="m-unlock-button mdl-button mdl-button--colored mdl-color--green-500 mdl-color-text--white" (click)="unlock()">
    <i class="mdl-color-text--white ion-icon ion-flash"></i>
    <span><!-- i18n: @@WIRE__LOCK_SCREEN__UNLOCK_ACTION -->Unlock<!-- /i18n --></span>
    <div [hidden]="!inProgress" class="m-spinner">
      <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" [mdl]></div>
    </div>
  </button>
</div>

<div class="m-wire--lock-screen" *ngIf="entity.wire_threshold && (preview || (entity.ownerObj.guid != session.getLoggedInUser().guid))"
  [style.backgroundImage]="getBackground()"
>
  <div class="m-wire--lock-screen-overlay"></div>

  <i class="ion-icon ion-flash"></i>

  <h2 class="m-wire--lock-screen-amount">
    <span>
      <ng-container *ngIf="entity?.wire_threshold?.type == 'money'" i18n="@@WIRE__LOCK_SCREEN__USD_PER_MONTH">
        {{ entity.wire_threshold.min | currency:'GBP':true:'1.0-0' }}/month
      </ng-container>

      <ng-container *ngIf="entity?.wire_threshold?.type == 'points'" i18n="@@WIRE__LOCK_SCREEN__POINTS_PER_MONTH">
        {{ entity.wire_threshold.min | number }} points/month
      </ng-container>
    </span>
  </h2>

  <h5 class="m-wire--lock-screen--message">
    <!-- i18n: @@WIRE__LOCK_SCREEN__CAN_ONLY_BE_SEEN_TITLE_PART -->This post can only be seen by supporters who wire<!-- /i18n -->

    <ng-container *ngIf="entity?.wire_threshold?.type == 'money'" i18n="@@WIRE__LOCK_SCREEN__OVER_USD_PER_MONTH">
        over {{ entity.wire_threshold.min | currency:'GBP':true:'1.0-0' }}/month
    </ng-container>

    <ng-container *ngIf="entity?.wire_threshold?.type == 'points'" i18n="@@WIRE__LOCK_SCREEN__OVER_POINTS_PER_MONTH">
      over {{ entity.wire_threshold.min | number }} points/month
    </ng-container>

    <ng-container *ngIf="entity?.ownerObj?.username" i18n="@@WIRE__LOCK_SCREEN__TO_USERNAME_PART">
      to @{{ entity.ownerObj.username }}
    </ng-container>
  </h5>
</div>
