.minds-boost-points-wrapper{
  display:flex;
  padding:0;
  margin:0;

  @media screen and (max-width: 400px){
    flex-wrap:wrap;
  }

  .herd-boost-points-input{
    display:flex;
    align-items:center;
    padding:0;
    margin:0;

    > div{
      padding: $minds-padding;
    }
    > div:nth-of-type(1){
      flex:3;
    }
    > div:nth-of-type(2){
      flex:1;
    }

    input{
      background: #FFF;
      border: 0;
      border-radius: 0;
      font-size: 16px;
      height: auto;
      /* font-weight: 700; */
      text-align: right;
      padding: 16px;
      -webkit-box-shadow: inset 0 0 3px #888;
      box-shadow: inset 0 0 3px #888;
      width: 100%;
    }
    input:disabled{
      background:#FAFAFA;
    }
    label {
      font-weight: 200;
      font-size: 22px;
    }
  }
  .herd-boost-points-input:nth-of-type(1){
    padding-right:$minds-padding *2;
  }
}

.m-boost-console-link{
  &, a{
    text-decoration:none;
    text-transform:uppercase;
  }
  margin-bottom: $minds-margin;

}

.m-boost-button-fat{
  background: $herd-yellow !important;
}
