<div class="m-boost--marketing">

  <div class="m-boost--marketing-header">
    <h1>Boost</h1>
    <h3>Boost your channel or content to gain more views and reach new audiences</h3>

    <div class="m-boost--overlay"></div>
  </div>

  <div class="m-boost--marketing-contents mdl-grid mdl-grid--no-spacing mdl-color-text--yellow-a200" *ngIf="false">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
      <h2>PROMOTE</h2>
      <span>Boost your content across the Herd network for expanded reach and gain more views in exchange for pounds, points, or Bitcoin. Target your boosts by category to locate like minded consumers.</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <h2>PRIORITY PROMOTE</h2>
      <span>Send your Boost to the front of the line with Priority Boost, but the cost per view is at least twice (surge pricing may be in effect). Priority boost is available for cash purchase only.</span>
    </div>
  </div>
  <div class="m-boost--marketing-contents m-boost--marketing-contents--breakdown mdl-grid mdl-grid--no-spacing mdl-color-text--yellow-a200" *ngIf="false">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <h2>Newsfeed Boost</h2>
      <span>Boost your content across the Herd network for expanded reach and gain more views in exchange for pounds, points, or Bitcoin. Target your boosts by category to locate like minded consumers.</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <h2>SIDEBAR PROMOTE</h2>
      <span>Boost your channel, video, image or blog to the sidebar with points, USD, or Bitcoin.  Your content will display on sidebars across Herd for all channels to see. Sidebar boosts are launched from the boost button on the content page or your channel card. Sidebar views are not counted on the post view counter.</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <h2>CHANNEL PROMOTE</h2>
      <span>Boost your content peer to peer and target specific channel communities with your content. Send or receive offers for a guaranteed Remind in exchange for points, USD, or Bitcoin.</span>
    </div>
  </div>

  <div class="m-boost--marketing-faq mdl-color-text--yellow-a200">
    <m-faq question="What is a Boost?">
      <p>
        Boost is the system we use to promote your content to a specific part of the Herd network so you can get more views and reach new audiences. Boost your content across the Herd network in exchange for points, USD or Bitcoin.1 point = 1 view. You can also choose to pay directly with pounds or Bitcoin for views when you post, at a rate of $1 per 1,000 views.
      </p>
      <p>
        Click “Boost” after you post, and you will be prompted to give us some pieces of information, such as:
      </p>
    </m-faq>
    <m-faq question="What are the different types of Boost?">
      <p>
        There are four different types of Boost:
      </p>
      <ul>
        <li>Newsfeed</li>
        <li>Sidebar</li>
        <li>Channel</li>
        <li>Priority</li>
      </ul>
    </m-faq>
    <m-faq question="What is a Newsfeed Boost?">
      <p>
        A Newsfeed Boost delivers guaranteed views on your posts in exchange for points, pounds, or Bitcoin. We place Newsfeed Boosts either in the rotating queue at the top of the newsfeed, or once every twelve posts as you scroll down the newsfeed.
      </p>
    </m-faq>
    <m-faq question="What is a Sidebar Boost?">
      <p>
        A Sidebar Boost delivers guaranteed views on your channel, video, image or blog in exchange for pounds, points, or Bitcoin.  We place Sidebar Boosts on sidebars across Herd for all channels to see. Sidebar views are not counted on the view counter.
      </p>
    </m-faq>
    <m-faq question="What is a Channel Boost?">
      <p>
        A Channel Boost is a peer to peer offer to pay another Herd channel in pounds, points, or Bitcoin in exchange for a guaranteed Remind (share). Channel Boost offers may be accepted or rejected. Use a Channel Boost to target specific communities with content.
      </p>
      <p>
        Build a great channel on Herd and earn revenue by accepting Channel Boost offers to Remind (share) other users’ content to your audience.
      </p>
    </m-faq>
    <m-faq question="What is a Priority Boost?">
      <p>
        A Priority Boost places your content at the very front of the line. This enables you to fulfil the number of views you request much more quickly and react to breaking or live events. Priority Boost rates are USD only and subject to surge pricing. Minimum price is twice regular Boost rates.
      </p>
    </m-faq>
    <m-faq question="What defines a view?">
      <p>
        A view is defined by the post passing over the center of your screen. Newsfeed views are counted for Newsfeed Boost only. Sidebar Boosts do not record a view, as they post to the left or right column.
      </p>
    </m-faq>
    <m-faq question="How do I target my Boost?">
      <p>
        Use categories to target your Boost to Herd channels who have listed their categories of interest in their Settings. When you Boost to a category, the post will be placed in front of users who have already opted-in to the category you selected. This helps ensure that your post is seen by the users who would be the most interested and likely to engage.
      </p>
      <p>
        Target specific communities or channel networks with a Channel Boost, Channel Boosts are peer to peer offers for a guaranteed Remind to a Channels network.
      </p>
    </m-faq>
    <m-faq question="How do I buy and pay for a Boost?">
      <p>
        There are two different ways to buy and pay for a Boost. The first is to buy points at <a href="/wallet/purchase">https://www.herd.com/wallet/purchase</a>. The points can then be exchanged for views at 1 point = 1 view.
      </p>
      <p>
        The other way to buy a Boost is to pay directly when you select ‘Boost’ on your post. In the Boost prompt, you have the option to pay for views using your points, or by entering your credit card information.
      </p>
    </m-faq>
    <m-faq question="How do I earn points to pay for a Boost?">
      <p>
        The point reward system is currently the following:
      </p>
      <ul>
        <li>Post a text/link activity = 1 point</li>
        <li>Receive a comment = 5 points</li>
        <li>Gain a subscriber = 5 points</li>
        <li>Receive an upvote = 5 points</li>
        <li>Get reminded = 5 points</li>
        <li>Post a rich media activity = 15 points</li>
        <li>Publish a blog = 15 points</li>
        <li>Hourly check-in = 50 points</li>
      </ul>
    </m-faq>
    <m-faq question="How do I track my Boost?">
      <p>
        You can keep track of your promoted content in the <a href="https://www.herd.com/wallet/boost/newsfeed">Boost section</a> of your Wallet. This can be accessed by selecting the Wallet (bank) icon in the top right corner of your browser, or by clicking the “Boost” button in the top right of your browser. In this console, you can keep track of the date and status of all of your Boosted content.
      </p>
    </m-faq>
    <m-faq question="What is the Boost content policy?">
      <p>
        Herd Boost Policy can be found in the Boost Policy section of our <a href="https://www.herd.com/p/terms">Terms of Service</a>.
      </p>
    </m-faq>
  </div>

</div>

<m-footer></m-footer>
