<div class="mdl-card mdl-shadow--2dp mdl-color--white">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" i18n="@@SETTINGS__BILLING__SAVED_CARDS__TITLE">Payment Methods</h2>
  </div>

  <div [hidden]="!inProgress" style="width:100%; text-align:center;">
    <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
  </div>

  <div class="m-settings--billing-saved-cards--cards">
    <ul>
      <li *ngFor="let card of cards; let i = index"
        class="m-settings--billing-saved-cards--cards-item"
      >
        <span class="m-settings--billing-saved-cards--cards-item-type">{{card.brand}}</span>
        <span class="m-settings--billing-saved-cards--cards-item-number">**** {{card.last4}}</span>
        <span class="m-settings--billing-saved-cards--cards-item-expiry">{{card.exp_month}} / {{card.exp_year}}</span>
        <span class="m-settings--billing-saved-cards--cards-item-select" (click)="removeCard(i)" i18n="@@M__ACTION__REMOVE">Remove</span>
      </li>
      <li class="m-settings--billing-saved-cards--cards-item m-settings--billing-saved-cards--cards-item-new">
        <span class="m-settings--billing-saved-cards--cards-item-type" i18n="@@SETTINGS__BILLING__SAVED_CARDS__ADD_NEW_CARD_LABEL">Add a new card</span>
        <span class="m-settings--billing-saved-cards--cards-item-select" (click)="addNewCard = true" i18n="@@SETTINGS__BILLING__SAVED_CARDS__ADD_ACTION">ADD</span>
      </li>
    </ul>
  </div>

  <div class="m-settings--billing-saved-cards--card-input" *ngIf="addNewCard">
    <minds-checkout-card-input (confirm)="setCard($event)" [hidden]="inProgress"></minds-checkout-card-input>
  </div>

</div>
