<m-groups--filter-selector [group]="group" filter="conversation" *ngIf="group['is:member']"></m-groups--filter-selector>

<herd-comments *ngIf="group?.guid"
  class="m--group-chat mdl-card mdl-shadow--4dp"
  [limit]="24"
  [object]="group"
  [focusOnInit]="true"
  [conversation]="true"
  [readonly]="!group['is:member']"
></herd-comments>
