@import 'defaults';

.minds-settings-content{
  .mdl-card{
    margin-bottom:$minds-margin *2;
    width:100%;
    min-height:0;
  }
}

.minds-settings-data-text-container{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.minds-settings-data-text{
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 0;
  width: 200px;
}

ul.minds-settings--list {
  list-style: none;
  font-weight: 500;
  color: #666;
  margin: 0;
  padding: 0;

  li.minds-settings--list-item {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    padding: 0 6px;

    &:not(.selected):hover {
      color: #000;
    }
  }
}