<div class="mdl-grid" style="max-width:900px">

  <div class="mdl-cell mdl-cell--4-col">
    <m-settings--navigation></m-settings--navigation>
  </div>

  <div class="mdl-cell mdl-cell--8-col minds-settings-content">
    <minds-settings-general [card]="card" *ngIf="filter == 'general'"></minds-settings-general>
    <!--<minds-settings-statistics *ngIf="filter == 'statistics'"></minds-settings-statistics>-->
    <minds-settings-disable-channel *ngIf="filter == 'disable'"></minds-settings-disable-channel>
    <minds-settings-two-factor *ngIf="filter == 'twoFactor'"></minds-settings-two-factor>
    <minds-settings-subscriptions *ngIf="filter == 'subscriptions'"></minds-settings-subscriptions>
    <p><span class="mdl-color-text--yellow-a200" i18n="@@MINDS__SETTINGS__ACCOUNT_TIMESTAMP">Account created on:</span> {{ account_time_created * 1000 | date: 'medium' }}</p>
  </div>

</div>
