<div class="m-tagcloud">

  <h3 class="mdl-color-text--black" i18n="@@MINDS__TAGCLOUD__TITLE">Trending Hashtags</h3>

  <div class="m-tagcloud-tag mdl-color-text--yellow-a200"
    *ngFor="let tag of tags"
    [routerLink]="['/search', { q: '#' + tag, ref: 'hashtag-trending' }]">
    #{{tag}}
  </div>

</div>
