<m-modal [open]="open" (closed)="closed.next(true)">
  <form (submit)="submit($event)" [formGroup]="form" #f="ngForm" class="m-plus--verify">

    <ul>
      <p i18n="@@PLUS__VERIFY__LINKS_INPUT_LABEL">Please enter two social media links, which link back to your Herd channel page</p>
      <li><input type="text" placeholder="eg. https://youtube.com/me" i18n="@@PLUS__VERIFY__LINK1_PLACEHOLDER" formControlName="link1"></li>
      <li><input type="text" placeholder="eg. https://twitter.com/me" i18n="@@PLUS__VERIFY__LINK2_PLACEHOLDER" formControlName="link2"></li>
    </ul>

    <ul>
      <p i18n="@@PLUS__VERIFY__DESCRIPTION_LABEL">Please give a brief statement as to why you should be verified</p>
      <li><textarea formControlName="description"></textarea></li>
    </ul>

    <button class="mdl-button mdl-button--raised" type="submit" [disabled]="inProgress || !f.form.valid" i18n="@@PLUS__VERIFY__SUBMIT_ACTION">Submit</button>

  </form>
</m-modal>
